a {
	color: #0c5e0c;
}


.select {
/*		color: red; */
		background-color:#006600;
	}

div.bg-success a {
	color: white; 
/* 	background-color: red; */
}

span.badge-secondary a {
	color: white; 
/* 	background-color: red; */
}


div.bg-secondary a {
	color: white; 
/* 	background-color: red; */
}


.bg-success{
	background-color: red;
	color: white; 
}


.badge-success{
	background-color: #6A9B56;
	color: white;
}

a.badge-success {
	color: white;
	background-color: #6A9B56;
}


a.toggle-vis {
		color:#293d6b; 
  		cursor: pointer; 
/*  		border-radius: 3px;
  		color: #FFF;
  		background-color: red;
  		border-right:10px solid #4A4A4A;*/
}

a#client_fio:hover {
/*	background: #009300; */
	background: #0c5e0c;
	color: #FFFFFF;
} 

a.shop_id {
	color: #FFFFFF;
}

td.mark_true {
		background: #0c5e0c; !important;
	color: #FFFFFF;
	border: #FFFFFF;
	font-weight: bold;
}


td.mark_false {
		background: #0c5e0c; !important;
	color: #FFFFFF;
	border: #FFFFFF;
	font-weight: bold;
}


/* Підказки іншого кольору та стилю
.tooltip-inner {
  background-color: #73AD21 !important;
  color: #color ;
  font-size: 20px; 
  width: 500px;
}
*/