
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext-up,
.tooltip .tooltiptext-left,
.tooltip .tooltiptext-right,
.tooltip .tooltiptext-down,
.tooltip .tooltiptext 
{
    visibility: hidden;
    width: 100px;
    background-color: #555;
    color: red; /*#fff;*/
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
    
}

.tooltip .tooltiptext-left {
	top: -5px;
    right: 105%; 
}

.tooltip .tooltiptext-left::after {
	content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;

}

.tooltip .tooltiptext-down {
	width: 120px;
    top: 100%;
    left: 50%; 
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltiptext-down::after {
	content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip .tooltiptext-right {
	width: 150px;
	top: -5px;
    left: 305%; 
}

.tooltip .tooltiptext-right::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}


.tooltip .tooltiptext {
    bottom: 105%;
    left: 50%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
}

.tooltip:hover .tooltiptext-down {
    visibility: visible;
    opacity: 1;
}

.tooltip:hover .tooltiptext-left {
    visibility: visible;
    opacity: 1;
}

.tooltip:hover .tooltiptext-right{
    visibility: visible;
    opacity: 1;
}
