<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Додати велосипед в магазин</title>

	<link rel="stylesheet" href="/media/jquery-ui.min.css">
	<script src="/media/jquery-ui.min.js"></script>
	
<style type="text/css">	
input:focus-visible {
    outline: 2px solid crimson;
    border-radius: 3px;
}	
</style>


<script type="text/javascript">
$(document).ready(function() {
	$("#id_serial_number").focus();
})
</script>


<body>

<h1><p class="badge badge-success">Додати <a href="{% url 'bicycle-photo' form.model.value %}" class="badge badge-light">{{bike}}</a> в магазин</p></h1>
<form action="." method="POST" enctype="multipart/form-data">
<table>
	{{ form.as_ul }}
</table>
<p><input type="submit" value="Save"></p>
</form>




<h1>
<button type="submit" class="badge badge-dark w-100"><b>Ціна: {{bike.price}} грн.</b></button>
<a href="/bicycle-store/view/" class="badge badge-info w-100">Велосипеди в магазині</a>
</h1>


</body>
