<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<h1><span class="badge badge-info">Звіт проданих велосипедів по виробнику</span></h1>


<div class="row no-gutters">
    <div class="col-3">
    
<table class="table table-striped table-hover table-bordered text-center">

<thead>
	<tr>
	<th>#</th>
	<th>Модель</th>
	<th>Кількість</th>
	<th>id</th>
	</tr>
</thead>
<tbody>	
{% for item in bicycles %}
{% ifequal item.bcount 0 %}
{%else%}
	<tr>
	<td>
	{{forloop.counter}}
	</td>
	<td>
	{{item.model}} {{item.model__model__brand__name}} {{item.model.size}}
	</td>
	<td>
	{{item.bcount}}
	</td>
	<td>
	{{item.model__model__brand__id}}
	</td>
{% endifequal %}
	{% endfor %}
	</tr>
</tbody>
	
</table>
	
</div>
</div>