<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="/media/css/table.css">


    <h1>Типи велосипедів <a href="/bicycle-type/add/" class="badge badge-success">Створити</a></h1>

    <table id="iTable" class = "table table-bordered table-hover table-condensed table-sm" >
    <tr>
    	<th>ID</th>
    	<th>Назва типу</th>
    	<th>Опис</th>
    	<th>Звіт</th>
    	<th>Дія</th>
    </tr>
    {% for type in types %}
    <tr>
    	<td><a href="/bicycle-type/edit/{{ type.id }}">{{ type.id }}</a></td>
        <td>
        {{ type.type }}
        </td>
        <td>
        {{ type.description }}
        </td>
        	<td><a href="/bicycle/store/report/bytype/{{ type.id }}/">Наявні велосипеди</a></td>
        <td>
	{% if user.is_authenticated %}	        	
            <a href="/bicycle-type/delete/{{ type.id }}" onclick="return confirm('Видалити запис - {{type.type}}?')">delete</a>
    {% endif %}
        </td>
    </tr>
    {% endfor %}
    <table>

       

