<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Велосипеди в магазині</title>

<link rel="stylesheet" type="text/css" href="/media/table.css">

<link rel="stylesheet" href="/media/jquery-ui.min.css">
<link rel="stylesheet" href="/media/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/media/css/dataTables.jqueryui.css">

<script type="text/javascript" src="/media/jquery-ui.min.js"></script>
<script type="text/javascript" language="javascript" src="/media/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="/media/dataTables.jqueryui.js"></script> 
<script src="/media/jquery.jeditable.mini.js" type="text/javascript" charset="utf-8"></script>

<style type="text/css">
  span:visited{ text-decoration:none; color:#293d6b; }
  span:hover{ text-decoration:underline; color:#293d6b; }
  span {color:#293d6b; cursor: pointer; }

.cdiv {
 /*   float: left; */
 	float:left;
    display: inline-block
    vertical-align: middle;
    margin: 2px;
}

  
  a.toggle-vis {color:#293d6b; 
  		cursor: pointer; 
  		border-radius: 3px;
  		color: #FFF;
  		background-color: #4A4A4A;
  		border-right:10px solid #4A4A4A;
  		}

</style>

{% load poll_extras %}

<script type="text/javascript">
$(document).ready(function() {
    // DataTable
    var table = $('#iTable').DataTable({
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        "iDisplayLength": 100,
        "dom": '<"toolbar">frtip',        
        "columnDefs": [
            {
                "targets": [ 1 ],
                "visible": false,
                "searchable": false
            },
            {
                "targets": [ 2 ],
                "visible": true,
            },
            {
                "targets": [ 3 ],
                "visible": true,
            },
            {
                "targets": [ 9 ],
                "visible": false,
            },
                        {
                "targets": [ 10 ],
                "visible": false,
            },
            {
                "targets": [ 11 ],
                "visible": true,
            },
            {
                "targets": [ 13 ],
                "visible": false,
            },
            {
                "targets": [ 14 ],
                "visible": true,
            },
            {
                "targets": [ 15 ],
                "visible": false,
            },
            {
                "targets": [ 16 ],
                "visible": false,
            },
            {
                "targets": [ 17 ],
                "visible": false,
            },
            
        ],
    });

{# $("div.toolbar").html('<b>Custom tool bar! Text/images etc.</b>'); #}
$("div.toolbar").append('<div class="cdiv"><label> Тип:</label><input type="text" id="s_type" placeholder="Search type" /> </div>');    
$("div.toolbar").append('<div class="cdiv"><label> Виробник:</label><input type="text" id="s_brand" placeholder="Search name" /></div>' );
$("div.toolbar").append('<div class="cdiv"><label> Модель:</label><input type="text" id="s_model" placeholder="Search name" /></div>' );
$("div.toolbar").append('<div class="cdiv"><label> Рік:</label><input type="text" id="s_year" placeholder="Search name" /></div>' );
$("div.toolbar").append('<div class="cdiv"><label> Розмір:</label><input type="text" id="s_size" placeholder="Search name" /></div>' );
$("div.toolbar").append('<div class="cdiv"><a class="toggle-vis" data-column="-2">Дія</a></div>' );
$("div.toolbar").append('<div class="cdiv"><a class="toggle-vis" data-column="-1">Цінники</a></div>' );

{% if request.user|has_group:"admin" %}
$("div.toolbar").append('<div class="cdiv"><a class="toggle-vis" data-column="9">Ціна $</a></div>' );
{% endif %}

    $('a.toggle-vis').on( 'click', function (e) {
        e.preventDefault();
         // Get the column API object
        var column = table.column( $(this).attr('data-column') );
         // Toggle the visibility
        column.visible( ! column.visible() );
    } );

// Apply the search in add field
$('#s_type').on( 'keyup change', function () {
	table.column( 2 ).search( this.value ).draw();
});
$('#s_brand').on( 'keyup change', function () {
   	table.column( 3 ).search( this.value ).draw();
});
$('#s_model').on( 'keyup change', function () {
   	table.column( 4 ).search( this.value ).draw();
});
$('#s_year').on( 'keyup change', function () {
   	table.column( 5 ).search( this.value ).draw();
});
$('#s_size').on( 'keyup change', function () {
   	table.column( 7 ).search( this.value ).draw();
});

$("span.f_type").on("click", function(){
//$("body").on("click", "span.f_type", function(){
	$('#s_type').val( $(this).html() );
	table.column( 2 ).search( $(this).html() ).draw();
	$('#s_type').focus();
	$('#s_type').select();
});

$("body").on("click", "span.f_brand", function(){
	$('#s_brand').val( $(this).html() );
	table.column( 3 ).search( $(this).html() ).draw();
	$('#s_brand').focus();
	$('#s_brand').select();
});

$("body").on("click", "span.f_year", function(){
	$('#s_year').val( $(this).html() );
	table.column( 5 ).search( $(this).html() ).draw();
	$('#s_year').focus();
	$('#s_year').select();
});

$("body").on("click", "span.f_size", function(){
	$('#s_size').val( $(this).html() );
	table.column( 7 ).search( $(this).html() ).draw();
	$('#s_size').focus();
	$('#s_size').select();
});

$("body").on("click", ".serial_edit", function(e){
     $(this).editable('/bicycle-store/edit/', {
     	 id   : 'id',
         name : 'serial',
         submitdata : function() {
      	 	return {id : $(this).attr('id_serial')};
    	 },
         indicator : 'Saving...',
         tooltip   : 'Click to edit...',
         select : true,
         style  : "inherit",
         callback : function(value, settings) {
         $(this).html(value);
     	}
     });
  });


$("body").on("click", ".change_price", function(e){ 
		$(this).editable('/bicycle/price/set/', {
     	 id   : 'id',
         name : 'price',
         submitdata : function() {
      	 	return {id : $(this).attr('id_price')};
    	 },
         indicator : 'Saving...',
         tooltip   : 'Click to edit...',
         select : true,
         style  : "inherit",
         callback : function(value, settings) {
         $(this).html(value);
         console.log("val = ", value);
         console.log("sale = ", $(this).nextAll('.change_sale:first').html());
         var sprice = value / 100 * (100 - $(this).nextAll('.change_sale:first').html().split('%')[0]);
         $(this).nextAll('.sale_price:first').html(sprice + ' грн.');
     	}
     });
 });


$("body").on("click", ".change_sale", function(e){ 
	$(this).editable('/bicycle/price/set/', {
     	 id   : 'id',
         name : 'sale',
         submitdata : function() {
      	 	return {id : $(this).attr('id_sale')};
    	 },
         indicator : 'Saving...',
         tooltip   : 'Click to edit...',
         select : true,
         style  : "inherit",
         callback : function(value, settings) {
         $(this).html(value+"%");
         //console.log($(this).prevAll('.change_price:first').html());
         var sprice = $(this).prevAll('.change_price:first').html() / 100 * (100 - value);
         $(this).nextAll('.sale_price:first').html(sprice + ' грн.');
     	}
     });
 });

});
</script>

<body>



<h1>Список велосипедів у магазині</h1>

<br>
<form action="/bicycle/store/price/print/" method="post" name="formBPrice">
<table id="iTable" class="display compact" cellspacing="0" width="100%">
<thead>
	<tr>
		<th>#</th>
		<th>ID</th>
		<th>Type</th>
		<th>Виробник</th>
		<th>Велосипед</th>
		<th>Рік</th>
		<th>Номер рами</th>
		<th>Розмір рами</th>
		<th>Ціна (грн)</th>
		<th>Ціна $</th>
		<th>Опис</th>
		<th>Знижка</th>
		<th>Нова ціна</th>
		<th>Реалізація</th>
		<th>Кількість</th>
		<th>Дата</th>
		<th>Дія</th>
		<th>Цінник</th>
	</tr>
</thead>

{% if request.user|has_group:"admin" %}
<tbody>
{% for type in bicycles %}
<tr>
	<td>{{forloop.counter}}</td>
	<td><a href="/">{{type.id}}</a></td>
	<td><span class="f_type">{{type.model.type.type}}</span></td>
	<td><span class="f_brand">{{type.model.brand.name}}</span></td>
	<td><a href="/bicycle/photo/{{type.model.id}}">
	{{type.model.model}} ({{type.model.color}})
	</a></td>
	<td><span class="f_year">{{type.model.year|date:"Y"}}</span></td>
		<td class="serial_edit" id_serial="{{ type.id }}"> {{type.serial_number}}</td>  
		<td><span class="f_size">{{type.size.inch}}" / {{type.size.cm}}cm</span></td>
		
<!-- 		<td class="change_price" id_price="{{type.model.id}}">{{type.model.price}}</td>
 -->

	<td class="change_price" id_price="{{type.model.id}}">{{type.model.price}}</td>
	<td>{{type.price}}{{type.currency.ids_char}} ({{type.get_profit.0}}) {{type.get_profit.1|floatformat:"0"}} грн.</td>
		
	<td>{{type.currency}}</td>
		
	<td align="center" class="change_sale" id_sale="{{type.model.id}}" >
	{{type.model.sale|floatformat:"0"}}%       
	</td>
	<td align="center" class="sale_price">
	{{type.model.sale|div:-100|sub:-1|mul:type.model.price|floatformat:"0"}} грн.       
	</td>
		
 		<td align="center">{{type.realization}}</td>

		{% ifequal type.count 1 %}
			<td align="center">
			<abbr title="Продати велосипед">
			<a href="/bicycle/sale/add/{{type.id}}">{{type.count}}</a>
			</abbr>
			</td>
		{% else %}
			<td align="center">{{type.count}}</td>
		{% endifequal %}
		
		<td>{{type.date|date:"D d M Y"}}</td>
		<td><a href="/bicycle-store/edit/{{ type.id }}">edit</a> <br>
		<a href="/bicycle-store/delete/{{ type.id }}">delete</a></td>
		<td align="center">
		<input type="checkbox" id="bikeid_{{type.model.id}}" value="{{type.model.id}}" name="checkbox_{{ type.id }}"/ onclick="">	
		</td>
	</tr>
{% endfor %}
</tbody>

{% else %}

<tbody>
{% for type in bicycles %}
<tr>
	<td>{{forloop.counter}}</td>
	<td><a href="/">{{type.id}}</a></td>
	<td><span class="f_type">{{type.model.type.type}}</span></td>
	<td><span class="f_brand">{{type.model.brand.name}}</span></td>
	<td><a href="/bicycle/photo/{{type.model.id}}">
	{{type.model.model}} ({{type.model.color}})
	</a></td>
	<td><span class="f_year">{{type.model.year|date:"Y"}}</span></td>
		<td class="serial_edit" id_serial="{{ type.id }}"> {{type.serial_number}}</td>  
		<td><span class="f_size">{{type.size.inch}}" / {{type.size.cm}}cm</span></td>
		
<!-- 		<td class="change_price" id_price="{{type.model.id}}">{{type.model.price}}</td>
 -->

 	<td>{{type.model.price}} {{type.model.currency}}</td>
 	<td></td>

		
	<td>{{type.currency}}</td>
		
	<td align="center" class="change_sale" id_sale="{{type.model.id}}" >
	{{type.model.sale|floatformat:"0"}}%       
	</td>
	<td align="center" class="sale_price">
	{{type.model.sale|div:-100|sub:-1|mul:type.model.price|floatformat:"0"}} грн.       
	</td>
		
 		<td align="center">{{type.realization}}</td>

		{% ifequal type.count 1 %}
			<td align="center">
			<abbr title="Продати велосипед">
			<a href="/bicycle/sale/add/{{type.id}}">{{type.count}}</a>
			</abbr>
			</td>
		{% else %}
			<td align="center">{{type.count}}</td>
		{% endifequal %}
		
		<td>{{type.date|date:"D d M Y"}}</td>
		<td><a href="/bicycle-store/edit/{{ type.id }}">edit</a> <br>
		<a href="/bicycle-store/delete/{{ type.id }}">delete</a></td>
		<td align="center">
		<input type="checkbox" id="bikeid_{{type.model.id}}" value="{{type.model.id}}" name="checkbox_{{ type.id }}"/ onclick="">	
		</td>
	</tr>
{% endfor %}
</tbody>
{% endif %}

<tfoot> 
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
{% if request.user|has_group:"admin" %}
		<th>Sum = {{price_summ|floatformat:"0"}} грн</th>
		<th>Profit = {{price_profit_summ|floatformat:"0"}} грн</th>
		<th></th>
{% else %}
		<th></th>
		<th></th>
		<th></th>
{% endif %}		
		<th>{{real_summ}}</th>
		<th>{{bike_summ}}</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th><input type="submit" value="Цінники" name="BPrice"></th>
		
	</tr>
</tfoot>

</table>
</form>


{% orm_debug %}
	
</body>

		