<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/media/table.css">

	<script type="text/javascript" src="/media/jquery-1.11.2.min.js"></script>
	<link rel="stylesheet" href="/media/jquery-ui.min.css">
	<script src="/media/jquery-ui.min.js"></script>	

{% load template_math %}

<style type="text/css">
   #checktable {
    width:100%; 
    padding: 0px;
    border-collapse: collapse;
    CELLSPACING:0;
    CELLPADDING:0;
    border: 2px solid white; 
   }
   #tdchecklogo {
   text-align:right;
   border: 2px solid white;
   valign:top;
   }
</style>

<script language="JavaScript">
$(document).ready(function() {
	$("#dialog_pay").hide();
	$("#msg_text").hide();

	$( "#print_chk" ).click(function() {
  		$( "#dialog_pay" ).dialog({
  		resizable: false,
      	modal: true,
  		width: 300,
      	buttons: {
        "Додати": function() {
        	var res_sum = parseFloat($("#t_spinner").val()) + parseFloat($("#m_spinner").val())
//        	$("#t_spinner").val() + $("#m_spinner").val()
        	if (res_sum.toFixed(2) != {{bicycle.price|percentage:bicycle.sale}}) {
        		console.log("RES_SUM = " + res_sum.toFixed(2) );
	        	$('#msg_text').show();
	        	$('#msg_text').text("Невірна сума");
        	}
        	else {
        		$('.ui-dialog-buttonset > button:contains(Додати)').hide();
			$.ajax({
                type: "POST",
                url: "/bicycle/sale/{{bicycle.id}}/check/add/",
                data: {id:  {{bicycle.id}}, t_value: $('#t_spinner').val(), m_value: $('#m_spinner').val(), term: $('#term2:checked').val()},
                dataType: "text",
                beforeSend:function(){
               	    $(".ui-dialog-buttonpane button:contains('Додати')").button("disable");                
                },
                success:function(msg){
               	    $('#msg_text').text(msg);
               	    $('#msg_text').show();
               	    $(".ui-dialog-buttonpane button:contains('Додати')").button("disable");
                },
                error:function(){
                	$('#msg_text').text(msg);
               	    $('#msg_text').show();
                    $(".ui-dialog-buttonpane button:contains('Додати')").button("enable");
                }
            });
			};
       	
        	//$( this ).dialog( "close" );
        },
        "Відмінити": function() {
        	$( this ).dialog( "close" );	
        },
        
        }  		
  		});
	});

	$( "#pp1" ).click(function() {
		$("#pp1").hide();
	});

	$( "#pp2" ).click(function() {
		$("#pp2").hide();
	});

	$( "#pp_show_all" ).click(function() {
		$("#pp1").show();
		$("#pp2").show();
	});

	

	$('#m_spinner').spinner({
	    min: 0,
	    max: {{bicycle.price|percentage:bicycle.sale}},
	    step: 0.01,
	    stop: function(event, ui) {
	    	var res = {{bicycle.price|percentage:bicycle.sale}} - $('#m_spinner').val();
	    	console.log("M_VAL = " + $('#m_spinner').val());
			$('#t_spinner').val(res);        
	    }
	});

	$('#t_spinner').spinner({
	    min: 0,
	    max: {{bicycle.price|percentage:bicycle.sale}},
	    step: 0.01,
	    stop: function(event, ui) {
	    	var res = parseFloat({{bicycle.price|percentage:bicycle.sale}}) - parseFloat($('#t_spinner').spinner( "value" ));
	    	console.log("T_VAL = " + $('#t_spinner').spinner( "value" ) );
	    	console.log("RES = " + res );
			$('#m_spinner').val(parseFloat(res));        
	    }
	});

	
	$('#t_spinner').spinner({
	  change: function( event, ui ) {
	    	var res = parseFloat({{bicycle.price|percentage:bicycle.sale}}) - parseFloat($('#t_spinner').val());
	    	console.log("T_VAL = " + $('#t_spinner').spinner( "value" ) );
	    	console.log("RES = " + res );
			$('#m_spinner').spinner( "value", parseFloat(res) );        
	  }
	});

	$('#m_spinner').spinner({
	  change: function( event, ui ) {
	    	var res = parseFloat({{bicycle.price|percentage:bicycle.sale}}) - parseFloat($('#m_spinner').val());
	    	console.log("M_VAL = " + $('#t_spinner').spinner( "value" ) );
	    	console.log("RES = " + res );
			$('#t_spinner').spinner( "value", res );        
	  }
	});
	
	$('#pp1').hide()	
	
});
</script>

{% if print %}
	<div id="dialog_pay" title="Оплата велосипеду">
	<p id="dtext">Готівка</p>
	<label for="spinner">Сума:</label>
  	<input id="m_spinner" name="value" value="0.00"> грн.
	<p id="dtext">Термінал</p>
	<label for="spinner">Сума:</label>
  	<input id="t_spinner" name="value" value="{{bicycle.price|percentage:bicycle.sale}}"> грн.
  	<br>
	<label for="spinner">Кавказька:</label>
  	<input id="term1" name="value" value="1" type="checkbox">
	<label for="spinner">Міцкевича:</label>
  	<input id="term2" name="value" value="2" type="checkbox">
	<h2 type="text" id="msg_text" name="mytext[]" rows="10" cols="40" style="color:#ff0000""> рядок стану </h2>  	
	</div>
{% endif %}

<table id="checktable">
<tr>
<td style="text-align:center; border: 2px solid white;" colspan="2">
<h1 id="pp_show_all">Товарний чек №000{{chk_num}}</h1>
<h2>від {{month}} року</h2>
</td>
</tr>

<tr>
<td style="text-align:left;" valign="bottom">
<p id="pp1">Продавець: ПП. Панчук Ігор Олексійович (ІПН 3084020932)</p>
<p id="pp2">Продавець: ПП Міщанюк Андрій Юрійович (ІПН 3285112819) IBAN UA213348510000000002600583618</p>
<p> Покупець: <a href="/client/{{bicycle.client.id}}">{{bicycle.client.name}}</a></p>
</td>
<td id="tdchecklogo" ALIGN="right">
<a href="/"><img src="/media/images/site_logo_small.gif" alt="" title="" ></a>
</td>
</tr>
</table>


<table border="1" width="100%">
	<tr>
		<th>№</th>
		<th>Назва товару</th>
		<th>Од.</th>
		<th>Кількість</th>
		<th>Ціна (грн.)</th>
		<th>Сума (грн.)</th>
	</tr>

	<tr>
		<td align="center">1</td>
		<td><a href="/bicycle/photo/{{bicycle.model.model.id}}">{{bicycle.model}}</a></td>
		<td align="center">шт.</td>
		<td align="center">1</td>
		<td align="center">{{bicycle.price}}</td>
		<td align="center">{{bicycle.price|percentage:bicycle.sale}}</td>
		
	
	</tr>

	<tr>
		<th></th>
		<th>ВСЬОГО:</th>
		<th></th>
		<th></th>
		<th></th>
		<th>{{bicycle.price|percentage:bicycle.sale}}</th>
	</tr>

</table>

<p>
Всього на суму: {{str_number}} гривень 00 копійок
</p>
<p>
<br>
Підпис ___________________   Панчук Ігор Олексійович

</p>

{% if print %}
/ <a href="/bicycle/sale/{{bicycle.id}}/check/print">Версія для друку (принтер)</a> / 
<a href="/bicycle/sale/{{bicycle.id}}/check/email">Відправити на Email</a> / 
<a href="#" id="print_chk" >Друк чеку (фіскальний)</a> /
<!--   <h3 id="print_chk">Друкувати чек (фіскальний)</h3>
 href="/bicycle/sale/{{bicycle.id}}/check/add/"
 -->
{% endif %}

