<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<h1>Звіт проданих велосипедів по виробнику</h1>

	<table border=1>
	<tr>
	<th>#</th>
	<th>Модель</th>
	<th>Кількість</th>
	<th>id</th>
	
{% for item in bicycles %}
{% ifequal item.bcount 0 %}
{%else%}
	<tr>
	<td>
	{{forloop.counter}}
	</td>
	<td>
	{{item.model}} {{item.model__model__brand__name}} {{item.model.size}}
	</td>
	<td>
	{{item.bcount}}
	</td>
	<td>
	{{item.model__model__brand__id}}
	</td>
{% endifequal %}
	{% endfor %}
	</tr>
	
	</table>
	