<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Замовлення велосипеду</title>

	<link rel="stylesheet" href="/media/jquery-ui.min.css">
	<script src="/media/jquery-ui.min.js"></script>
 
 	
{% comment %}
<style>
  .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }
</style>  
{% endcomment %}
	
<script type="text/javascript">

$(document).ready(function() {

	$('#id_client_id').focus();
		
    $( "#id_client_id" ).autocomplete({
    	source: function( request, response ) {
        	$.ajax({
                type: "GET",
                url: "/client/lookup",
				data: { query: $("#id_client_id").val() },
                dataType: "json",
                success: function( data ) {
                        	response( $.map( data, function( item ) {
                            return {
                                label: item.pk + ": [" + item.fields.forumname + "] "+ item.fields.name,
                                value: item.fields.name,
                                sale: item.fields.sale,
                                pk_id: item.pk,
    							}
                        	}));                                
                            }
            })
        },
        minLength: 3,
        select: function( event, ui ) {
           	$('#id_client_id').val(ui.item.pk_id);
	    	$(this).attr('c_id', ui.item.pk_id)
	    	$('#id_sale').val(ui.item.sale);
        },
        open: function() {
        	$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
        },
        close: function() {
        	$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
        }
    });


    $("#id_model_id").autocomplete({
    	source: function( request, response ) {
        	$.ajax({
                type: "POST",
                url: "/bike/lookup/",
				data: { query: $("#id_model_id").val() },
                dataType: "json",
                success: function( data ) {
                        	response( $.map( data, function( item ) {
                            return {
                                label: "["+item.pk + "] : " + item.fields.brand[1] +" - "+ item.fields.model +" ("+item.fields.year.split("-")[0]+") " +item.fields.color,
                                value: item.fields.model,
                                sale: item.fields.sale,
                                pk_id: item.pk,
								price: item.fields.price,
                                /*label: item.id + ": [" + item.brand__name + "] "+ item.model,
                                value: item.model,
                                sale: item.sale,
                                pk_id: item.id,
                                */
    							}
                        	}));                                
                            }
            })
        },
        minLength: 3,
        select: function( event, ui ) {
	    	$(this).attr('c_id', ui.item.pk_id)
	    	$('#id_sale').val(ui.item.sale);
	    	$('#id_price').val(ui.item.price);
	    	$('#id_model').val(ui.item.pk_id);
        },
        open: function() {
        	$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
        },
        close: function() {
        	$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
        }
    });
	
	
	$('#id_sale').change(function(){
		$('#result').empty();
		var res = $('#id_price').val() * (1 - this.value /100);
		$('#id_sale').after('<span id="result"> Зі знижкою ' + res.toFixed(2) + ' грн.</span>');
	});


$("#UserEnter").submit(function() {
      if ($("#id_price").val()) {
      	$("#id_client_id").val($("#id_client_id").attr('c_id'));
      	$("#id_model_id").val($("#id_model_id").attr('c_id'));
      	//$("#id_count").val(Math.round($("#id_count").val()));
        return true;
      }
      $("#id_price").after("<b>Введіть суму!</b>");
      return false;
});

function id2name(){
	if ( $("#id_client_id").val() != "" ) {
		
		$("#id_client_id").attr('c_id',	$("#id_client_id").val());
		
            $.ajax({
                type: "GET",
                url: "/client/lookup/byid/",
                data: { client_id: $("#id_client_id").val() },
                dataType: "json",
                success:function(msg){
                	$.each(msg,function(index,item){
                		$("#id_client_id").val(item)    
                    });
                	
                },
                error:function(){
                    alert("При отправке возникли проблемы");
                }
            });      
	}
	
	
	if ( $("#id_model_id").val() != "" ) {
		$("#id_model_id").attr('c_id', $("#id_model_id").val());
        $.ajax({
            type: "POST",
            url: "/bike/lookup/",
            data: { bike_id: $("#id_model_id").val() },
            dataType: "text",
            success:function(msg){
            		$("#id_model_id").val(msg);    
            },
            error:function(){
                alert("При отправке возникли проблемы");
            }
        });		
	}
};

id2name();

$("#id_prepay").after('<select name="cash" id="id_cash">' +
'<option value="2">Термінал pb.ua</option>' +
'<option value="1" selected="selected">Готівка</option>' +
'</select>');

$("#id_size").parents('li').before($("#id_client_id").parents("li"));
$("#id_size").parents('li').before($("#id_model_id").parents("li"));

$('#id_client_id').focus();
});
  

</script>


<h1>Створити замовлення велосипеду{{text}}</h1>
<form id="UserEnter" action="." method="POST" enctype="multipart/form-data" >
<button type="submit" class="btn btn-primary mb-2">Зберегти</button>
<ul>
	{{ form.as_ul }}
</ul>
<input type="submit" value="Зберегти" class="btn btn-primary mb-2">
</form>


<br>

