<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

{% load static %}

	<script src="/media/jquery-1.11.2.min.js"></script>
	<script src="/media/jquery-ui.min.js"></script>


<script>
$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                $('<p/>').text(file.name).appendTo(document.body);
            });
        }
    });
});
</script>


<h1>Додати велосипед до каталогу {{text}}</h1>

<form action="" method="POST" enctype="multipart/form-data">
<table>
	{{ form.as_ul }}
</table>
<p><input type="submit" value="Save"></p>




<a href="/bicycle/view/">Каталог велосипедів</a>
<br>
<a href="/">HOME</a>




