<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="/media/css/table.css">
<link rel="stylesheet" href="/media/jquery-ui.min.css">

<script src="/media/jquery-ui.min.js"></script>


<script>

jQuery(document).ready(function ($) {

	
	$( ".addphoto" ).click(function() {
		var t = $(this).attr('ids')
		$("#photo_url").attr({'ids': t});
		$("#dialog_photo_add").dialog({title:  t});
		$("#dialog_photo_add").dialog("open");
	});	



$("#dialog_photo_add").dialog({
	autoOpen: false,
      resizable: true,
      modal: true,
      //position: "center",
      width: 650,
      buttons: {
        "Додати": function() {
			$.ajax({
                type: "POST",
                url: "/photo/url/bicycle/add/",
                data: {id:  $("#photo_url").attr("ids"), url: $('#photo_url').val()},
                dataType: "text",
                success:function(value){
                //	var obj = jQuery.parseJSON(value);
                //	document.getElementById("link_1197").setAttribute("url", "TEST");
                if (value != "ok") {
                	//alert(value);
                	$("#dialog_photo").dialog({title: value });
                	if ($("#img_url").attr('width') > 500) {
                		$("#img_url").attr({'src' : $('#photo_url').val()}, {'width': "500 px"});
                	}
                	else {
                		$("#img_url").attr({'src' : $('#photo_url').val()});
                	}
                	
                	$("#dialog_photo").dialog({ buttons: [ { text: "Ok", click: function() { $("#dialog_photo").dialog( "close" ); } }, {text: "Cancel", click: function() {$("#dialog_photo").dialog("close"); }} ] });
//                	$("#dialog_photo").dialog({ position: { my: "center top", at: "center top", of: window } });
					$("#dialog_photo").dialog("open");
					//$("#dialog_photo").dialog("moveToTop");
					$("#ui-id-2").attr({"color": '#fe011b'});
					
					}
                },
                error:function(){
                    alert("При отправке возникли проблемы");
                }
            });
        
          $( this ).dialog( "close" );
        },
        "Відмінити": function() {
          $( this ).dialog( "close" );
        }
      }
});


});
</script>

<!-- Dialog to add photo -->
	<div id="dialog_photo_add" title="Add Photo">
	<label for="photo_url">Посилання на фото:</label>
	<input type="text" name="photoname" id="photo_url" value="http://" ids="" size="75">
	</div>


<h1><span class="badge badge-info">Каталог велосипедів <span class="badge badge-dark">{{bicycles.count}}</span> </span> <a href="/bicycle/add/" class="badge badge-pill badge-light">Створити</a></h1>
<h2>
    За рік: 
    {% for year in byear %}
        <a class="badge badge-success" href="/bicycle/year/{{year|first}}/view">{{year|first}}
    	<span class="badge badge-light">{{year|last}}</span>
    	</a>
    

    {% endfor %}

{% comment %}
	<a href="/bicycle/all/view">Всі</a>
{% endcomment %}

</h2>
<h5>    
<b>Виробники:</b>
{% for comp in b_company %}
<a class="badge badge-secondary" href="/bicycle/year/{{year}}/bycompany/{{comp.brand}}/view/">{{comp.brand__name}}
<span class="badge badge-light">{{comp.num_company}}</span>
</a>
{% endfor %}
</h5>
{% load template_math %}   

<table id="iTable" class = "table table-bordered table-hover table-condensed">
	<tr>
		<th>#</th>
		<th>ID</th>
		<th>Назва моделі</th>
		<th>Тип</th>
		<th>Бренд</th>
		<th>Рік</th>
		<th>Колір</th>
		<th>Розміри</th>
		<th>Посилання</th>
		<th>Фото</th>
		<th>Вага</th>
		<th>Ціна</th>
		<th>Валюта</th>
		<th>Знижка</th>
		<th>Ціна зі знижкою</th>
		<!--    	<th>Опис</th> -->
		<th>Edit</th>
		<th>Дія</th>
	</tr>

	{% for type in bicycles %}
	<tr>
		<td>{{forloop.counter}}</td>
		<td><a href="/bicycle-store/add/{{type.id}}">{{type.id}}</a></td>
		<td><a href="/bicycle/photo/{{type.id}}">{{type.model}}</a></td>
		<td>{{type.type}}</td>
		<td>{{type.brand}}</td>
		<td>{{type.year.year}}</td>
		<td>{{type.color}}</td>
		<td>{% for size in type.sizes.all %} {{size}},  {% endfor %}</td>
		<td align="center"><a href="{{type.offsite_url}}">Лінк</a></td>
		<td class="addphoto" ids={{type.id}}>{{type.photo}}<br> 
		{% for photo in type.photo_url.all %}
		{{photo.url}}
		{% endfor %}
		</td>
		<td>{{type.weight}}</td>
		<td>{{type.price}}</td>
		<td>{{type.currency}}</td>
		<td align="center">{{type.sale|floatformat:"0"}}%</td>
		{% if type.sale %}
		<td align="center">{{type.sale|div:-100|sub:-1|mul:type.price|floatformat:"0"}} грн.</td>
		{% else %}
		<td align="center">{{type.price}} грн.</td>
		{% endif %}
{#		<td align="center">{{ type.sale }} грн.</td> #} 
{#		<td align="center">{% widthratio type.sale 1 1 %} грн.</td> #} 
{#		http://slacy.com/blog/2010/07/using-djangos-widthratio-template-tag-for-multiplication-division/ #} 
		<!-- 	<td>
	{{type.description}}
	</td>
 -->
		<td><a href="/bicycle/edit/{{ type.id }}"><i class="material-icons">create</i></a></td>

		<td><a href="/bicycle/delete/{{ type.id }}" onclick="return confirm('Видалити запис - {{ type.model|escapejs }}?')"><i class="material-icons">delete_outline</i></a></td>
	</tr>
	{% endfor %}

	<table>
	
