<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Продати/Редагувати велосипед </title> 

<link rel="stylesheet" href="/media/jquery-ui.min.css">
<script type="text/javascript" src="/media/jquery-ui.min.js"></script>

<script src="/media/jquery.jeditable.mini.js" type="text/javascript" charset="utf-8"></script>

<style>
  .ui-autocomplete-loading {
    background: white url('/media/images/ui-anim_basic_16x16.gif') right center no-repeat;
  }

//  #client { width: 30em; }
</style>

<script type="text/javascript">
//$(function() {
function float2int (value) {
    return value | 0;
}

$(document).ready(function() {

var glob_sale = 0;
glob_b_sale = $('#id_sale').val();
glob_c_sale = 0;

    $('#id_model').bind('change', function(){

		$.getJSON("/bicycle/price/", {store_id: $("select#id_model").val()}, function(data) {
			//alert(data);
    		$('#id_price').val(data[0].model__price);
    		glob_b_sale = data[0].model__sale;
    		if ( glob_b_sale >= glob_c_sale) {
    			$('#id_sale').val(data[0].model__sale);
    		}
    		else {
    			$('#id_sale').val(glob_c_sale);
    		}
		var res = $('#id_price').val() * (1 - $('#id_sale').val()/100);
    	$('#result').html("Сума " + res + " грн.");    
    	$('#id_sum').val(res);
    	$('#s_number').html("(" + data[0].serial_number + ")");	
		});
	});

	$('#id_sale').change(function(){
		var res = $('#id_price').val() * (1 - this.value /100);
		$('#result').html("Сума " + res + " грн.");
		$('#id_sum').val(res);
	})


    $( "#client" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          type: "GET",
          url: "/client/lookup/",
          dataType: "json",
          data: {
            query: $("#client").val()
          },
          success: function( data ) {
            response( $.map( data, function( item ) {
              return {
                label: item.fields.name + ": [" + item.fields.forumname + "] - " + item.fields.phone,
                value: item.fields.name,
                sale: item.fields.sale,
                pk_id: item.pk                       
              }
            }));
          }
        });
      },
      minLength: 3,
      select: function( event, ui ) {
      	var sel = ui.item.pk_id;
      	$("#id_client [value = '"+sel+"']").attr("selected", "selected");
      	if (ui.item.sale >= 5) {
	      	//glob_c_sale = ui.item.sale;
	      	glob_c_sale = 5;
      	}
      	else{
      		glob_c_sale = 0;
      	}
      	//if ((ui.item.sale >= 5) && (ui.item.sale > $('#id_sale').val())) {
      	if ((ui.item.sale >= 5) && (ui.item.sale > glob_b_sale)) {
      		$('#id_sale').val(5);
      		$('#id_sale').change();
      	}
      	else{
      	//if ((ui.item.sale < 5) && (ui.item.sale < $('#id_sale').val())) {
      		$('#id_sale').val(float2int(glob_b_sale));
      		$('#id_sale').change();
      	};
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });
    
$('#id_sale').change();

$('.click').editable('/bicycle-store/edit/', {
     	 id   : 'id',
         name : 'serial',
         data : function(value, settings) {
	     	var retval = value.replace(/^\(/, '');
	     	retval = retval.replace(/\)$/, '');
      	 	return retval;
      	 },
         submitdata : function() {
      	 				return {
      	 						id : $(this).attr('id_serial'),
			      	 			};
    	 },
         indicator : 'Saving...',
         tooltip   : 'Click to edit...',
         select : true,
         style  : "inherit",
         callback : function(value, settings) {
         $(this).html("("+ value + ")");
     	}
     });
    

});

</script>

<body  onload="document.getElementById('client').focus()">

<h1> {{text}}. 
<font color="red" id="s_number">

{% if user.is_authenticated %} 
S/N: <b class="click" style="display: inline" id_serial="{{ bike_id }}" title="Doubleclick to edit...">({{serial_number}})</b> </font>
{% else %}
S/N: <b id_serial="{{ bike_id }}" >({{serial_number}})</b> </font>
{% endif %}

</h1>

{% load poll_extras %}

<div class="container mw-100">
<form action="." method="POST" enctype="multipart/form-data">
{% csrf_token %}



<div class="row ">
<div class="col-12">
<div class="input-group mb-3 ">
   
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold" title="Клієнт " data-toggle="tooltip" data-placement="top">Клієнт </span>
  </div>
<input type="text" id="client" class="form-control {% if form.client.errors %}  is-invalid {% endif %}" placeholder="Прізвище, імя клієнта або телефон" aria-label="Username" aria-describedby="basic-addon1">
  
{# <div class="ui-widget class="col-10"> #}  
{#  	<input id="client"  class="10" /> #}
{# </div> #}


</div>
</div>
</div>


<div class="row ">
    <div class="col">
<div class="input-group mb-3">    
{#      <input type="text" class="form-control" placeholder="Велосипед"> #}
      {{ form.model |add_attr:"class:form-control" }}
</div>      
    </div>
</div>
<div class="row">
    <div class="col">
	<div class="input-group mb-3">    
      {{ form.client |add_attr:"class:form-control" }}
	</div>
    </div>
</div>

<div class="row ">
<div class="col-12 ">
<div class="input-group mb-3">

  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold" title="Кількість" data-toggle="tooltip" data-placement="top">Ціна</span>
  </div>
	{{form.price|add_attr:"class:form-control"}}
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">Грн.</span>
  </div>
    <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">Знижка</span>
  </div>
{% if form.sale.errors %}   {{ form.sale|add_attr:"class:form-control is-invalid" }} {% else %} {{ form.sale|add_attr:"class:form-control" }} {% endif %}
<div class="invalid-feedback">
	{{ form.sale.errors }}1
</div>
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">%</span>
  </div>
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">Сума</span>
  </div>
{% if form.sum.errors %}   {{ form.sum|add_attr:"class:form-control is-invalid" }} {% else %} {{ form.sum|add_attr:"class:form-control" }} {% endif %}
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">Грн.</span>
  </div>
 <div class="invalid-feedback">
	{{ form.sum.errors }}
 </div>
 </div>

</div>
</div>

<div class="row ">
    <div class="col">
	<div class="input-group mb-3">    
    <div class="input-group-prepend">
    	<span class="input-group-text font-weight-bold" title="Дата" data-toggle="tooltip" data-placement="top">Дата продажу</span>
  	</div>
      {{ form.date |add_attr:"class:form-control" }}
    <div class="input-group-prepend">
    	<span class="input-group-text font-weight-bold" title="Перший сервіс" data-toggle="tooltip" data-placement="top">Перший сервіс</span>
  	</div>
  {{ form.service |add_attr:"class:form-control" }} 
  {{ form.shop |add_attr:"class:form-control" }} 	      
	</div>
    </div>
</div>

<div class="row">
<div class="col-12 my-2">
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">Опис</span>
  </div>
  {{ form.description |add_attr:"class:form-control" }}
</div>
</div>
</div>    

<div class="row">
    <div class="col-12 my-2">
      <button type="submit" class="btn btn-primary w-100">Продати</button>
    </div>
</div>



 <div class="alert alert-dark" role="alert">
    <h3 id="result" style="color:white; font-weight: bold;"}> Сума грн.</h3>
 </div>

{% comment %}

<table>
	
	{{ form.as_ul }}
	<p><input type="submit" value="Save"></p>
</table>


{% endcomment %}

 
 
</form>
</div>

<h4><span class="badge badge-pill badge-primary"><a href="/bicycle-store/view/ ">Список велосипедів у магазині</a></span></h4>


</body>

