<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

{% load static %}

	<script src="/media/jquery-1.11.2.min.js"></script>
	<script src="/media/jquery-ui.min.js"></script>


<script>

function myFunction() {
	alert("URL = " + $('#upload_youtube').val());
	console.log('Url = ' + $('#upload_youtube').val() ); 	
}

function youtube_upload() {
	$.ajax({
	    type: "POST",
	    	url: "/bicycle/set/youtube/",
	    	data: {ids:  inv_ids},
	    	dataType: "text",
	    success:function(msg){
	    	if (msg == "ok"){
	    		alert("Товари видалено");
	    	}
	   	else {
	   		alert("Помилка: " + msg);
	   	}
	    },
	    error:function(){
	     alert("При отправке возникли проблемы");
	    }
	 });
};
 
</script>


<h1>Додати велосипед до каталогу {{text}}</h1>

<form action="" method="POST" enctype="multipart/form-data">
<table>
	{{ form.as_ul }}
</table>
<label>Add YouTube link:</label>

<input name="upload_youtube" id="upload_youtube" type="text" size="100">
<button type="button" onclick="myFunction()">Додати посилання</button>

<p><input type="submit" value="Save"></p>

</form>


<a href="/bicycle/view/">Каталог велосипедів</a>




