<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/media/table.css">

<h1><span class="badge badge-info">Список проданих велосипедів по місяцях</span></h1>


<div class="row no-gutters">
    <div class="col-3">
<table class="table table-striped table-hover table-bordered text-center">
	<tr>
		<th>№</th>
		<th>Рік</th>
		<th>Місяць</th>
		<th>К-ть</th>
		<th>Сума (грн)</th>
	</tr>
<tbody>
	{% for type in bicycles %}
	<tr>
		<td align="center">{{forloop.counter}}</td>
		<td><a href="/">{{type.year}}</a></td>
		<td><a href="/bicycle/sale/year/{{type.year}}/month/{{type.month}}/view/">{{type.month}} - {{type.month_name}}</a></td>
		<td align="center">{{type.bike_count}}</td>
		<td align="center">{{type.s_price}}</td>
	</tr>
	{% endfor %}

	<tr>
		<th></th>
		<th></th>
		<th>Сума</th>
		<th align="right">{{bike_sum}}</th>
		<th>{{all_sum}} грн.</th>
	</tr>
</tbody>
</table>

</div>
</div>		