<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/media/css/table.css">
<title>Продані велосипеди</title>

{# <link rel="stylesheet" href="/media/jquery-ui.min.css"> #}
{# <script src="/media/jquery-ui.min.js"></script> #}
<script src="/media/jquery.jeditable.mini.js" type="text/javascript" charset="utf-8"></script>

<style>

.brand_custom{
	font-size: 0.7rem;
	margin-left: 5px;
}

.table{
	margin-top: 5px;
	}
	
.bikeModel{
	margin-left: 5px;
	font-size: 0.7rem;
}	

</style>


{% load poll_extras %}

<script>
$(document).ready(function() {

$('.bike_serv').editable('/bicycle/sale/service/', {
     data   : " {'1':'Пройдено','0':'Не пройдено'}",
     submitdata : function() {
      	return {id : $(this).attr('id_bike')};
    	 },
     type   : 'select',
     tooltip   : 'Натисніть для редагування...',
     submit : 'OK'
});

});
</script>

{% for group in user.groups.all %} {# перевірка на адмін доступ #}
    {% if group.name == 'admin' %}
<h5>
{% for item in header_links %}
<a href="{% url 'bicycle-sale-by-year' item.year %}" class="badge badge-warning"> Рік {{item.year}} ({{item.pk_count}})  </a> 
{% endfor %}
</h5>
	{% endif %}
{% endfor %}		

{#bicycles.0.model.model.brand}} - {{bicycles.0.model.model.year.year#}
{% if month and year %}
<h1>
<span class="badge badge-info">Список проданих велосипедів за {{month}} місяць {{year}} року</span>
{% if month != '1' and month != '0' %}
	<a href="{% url 'bicycle-sale-by-year-month' year month|sub_int:1 %}"><span class="badge badge-dark">попередній {{month|sub_int:1}} місяць </span></a>
 {% endif %}
</h1>
{% else %}
	{% if brand %}
	<h1><span class="badge badge-info">Список проданих велосипедів {{brand}} за {{year}} рік </span></h1>
	{% else %}
	<h1><span class="badge badge-info">Список проданих велосипедів за {{year}} рік</span></h1>
	{% endif %}
{% endif %}


{% for brand in brand_count %}
{% if month and year %}
<a href="{% url 'bicycle_year_month_sale_by_brand' brand.model__model__brand year month %}">
{% else %}
<a href="{% url 'bicycle_year_sale_by_brand' brand.model__model__brand year %}">
{% endif %}

<span class="btn btn-primary">
  {{brand.model__model__brand__name}}
   <span class="badge badge-light brand_custom">{{brand.total}}</span>
  </span>
</a>
{% endfor %}


{% load template_math %}   

{#<table border="1" id="iTable" class = "table table-bordered table-hover table-condensed table-sm">#}
<table class="table table-striped table-hover table-bordered" id="iTable">
	<thead class="thead-light">
	<tr>
		<th>№</th>
		<th></th>
		<th>Велосипед</th>
		<th>Номер рами</th>
		<th>Клієнт</th>
		<th>Ціна</th>
		<th>Валюта</th>
		<th>Знижка %</th>
		<th>Сума</th>
		<th>Дата</th>
{% for group in user.groups.all %}
    {% if group.name == 'admin' %}
		<th>Ціна $</th>
    {% endif %}
{% endfor %}		
		<th>Сервіс</th>
		<th>Опис</th>
		<th>Магазин</th>
		<th>Дія</th>
	</tr>
	</thead>
	{% for type in bicycles %}
	<tr>
		<td title="{{type.user}}">{{forloop.counter}}</td>
		<td title="Редагувати"><a href="{% url 'bicycle-sale-edit' type.id %}"><i class="material-icons">create</i></a></td>
<!-- 		<td title="{{type.model.size}}"><a href="/bicycle/photo/{{type.model.model.id}}">{{type.model}}</a></td>
 -->
{% if request.user|has_group:"admin" %}
		<td title="{{type.model.size}}">
		<a href="/bicycle-store/edit/{{type.model.id}}" >{{type.model}}</a> <span class="badge badge-secondary bikeModel">{{type.model.size}}</span>
		</td>
{% else %}		
		<td title="{{type.model.size}}">{{type.model}}</td>
{% endif %}
		<td>{{type.model.serial_number}}</td>
		<td><a href="/client/{{type.client.id}}">{{type.client}}</a></td>
		<td title="{{type.price|percentage:type.sale}}">{{type.price}}</td>
		<td>{{type.currency}}</td>
		<td align="center" title="{{type.price|percentage:type.sale}}">{{type.sale}}</td>
		<td align="center">{{type.sum}}</td>
		<td align="center">{{type.date|date:"D d M Y"}}</td>
{% for group in user.groups.all %}
    {% if group.name == 'admin' %}
		<td align="center">{{type.model.price|floatformat:"0"}} * {{type.get_profit.0}} / {{type.get_uaprice|floatformat:"0"}} ({{type.get_profit.1|floatformat:"0"}}) </td>
    {% endif %}
{% endfor %}			
		
{% if type.service %}
<td class="bike_serv" id_bike={{type.id}}>{{type.service|yesno:"Пройдено,Не пройдено,Невідомо"}}
{% else %}
<td BGCOLOR="#CCCC99" class="bike_serv" id_bike={{type.id}}>
{{type.service|yesno:"Пройдено,Не пройдено,Невідомо"}}</a>
{% endif %}		

		</td>
{#		</td> #}
		<td>{{type.description}}</td>
		<td>{{type.shop}}</td>
		<td><a href="/bicycle/sale/{{ type.id }}/check" title="Чек на велосипед"><i class="material-icons">receipt</i></a>
		<a href="/bicycle/sale/delete/{{ type.id }}" onclick="return confirm('Видалити запис?')" title="Видалити"><i class="material-icons">delete_forever</i></a></td>
	</tr>
	{% endfor %}

	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
{% if user.is_authenticated %}		
		<th title="Сума продажів без знижок">
{% if request.user|has_group:"admin" %}			
		{{price_summ_full|floatformat:"0"}} грн
		<p>Знижка = {{price_summ_full|sub:price_summ}} грн.</p> 
{#		<p>Знижка = {{price_summ_full}} грн.</p> #}
{% endif %}		 
		</th>
		<th></th>
		<th></th>
	{% if request.user|has_group:"admin" %}		
		<th title="Загальна сума продажів з врахуванням знижок">{{price_summ|floatformat:"0"}} грн<br>
	{% else %}
		<th></th>			
	{% endif %}
		
{#		{{pay_sum|floatformat:"0"}} #} 
		</th>
{% else %}
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
{% endif %}


	{% if request.user|has_group:"admin" %}
		<th title="Сума зароблена на продажі без врахування супутніх витрат">Profit = {{profit_summ|floatformat:"0"}}грн </th>
		<th title="Закуплено за різні валюти:">
		{% if price_opt_dol %}
		<p>{{price_opt_dol}} $</p>
		{% endif %}
		{% if price_opt_eur %}
		<p>{{price_opt_eur}} Євро</p>
		{% endif %}
		{% if price_opt %} 
		<p>{{price_opt}} Грн.</p>
		{% endif %}
		</th>
	{% else %}
		<th></th>
    {% endif %}

					
		<th align="center" >Не пройдено ТО: {{service_summ}}</th>
		<th></th>
		<th></th>
	</tr>

	</table>

{% if request.user|has_group:"admin" %}	
		<h3>
		<a class="badge badge-dark" href="/bicycle/sale/report/month/">Звіт продажів по місяцях</a>
		
		<a class="badge badge-dark" href="/bicycle/sale/report/brand/">Звіт продажів по виробнику</a>
		</h3>
{% endif %}		