<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<style>

.container {
  margin-top: 15px;
}

#save, .info {
  display: none;
}

.info {
  color: #999;
}

textarea {
  width: 100%;
  min-height: 100px;
  resize: vertical;
  margin: 0;
  padding: 2px;
}

</style>

<script type="text/javascript">
$(document).ready(function(){

$('#run_cmd1').click(function(){
//	console.log("Desc edit this = " + $(this).html())
	  $(this).hide();
	  var content = 'COMMAND'
//		  $(this).parents('td').find('div').html();
//	  content = content.replace(/<br>/g, '\n');
	  var textitem = $('#cmd_form').append('<textarea class="w-100">' + $.trim(content) + '</textarea>');
	  textitem.find('textarea').focus();
//	    $(this).html('<textarea>' + content + '</textarea>');
	  $('.info').fadeIn('fast');
	  $(this).show();
});

$('#run_cmd').click(function(){
//	  $(this).hide();
/*	  $('button.desc_save').parents('td').find('textarea').hide();
	  var text_edit = $(this).parents('td').find('textarea').val().replace(/\n\r?/g, '<br>');
	  var video_id = $(this).parents('td').parents('tr').attr('ids')
*/	  
	var text_edit = $('#cmd_line').val();

	  $.ajax({
          type: "POST",
          url: "/casa/{{id}}/cmd/",
          data: { command: text_edit },
          dataType: "json",
          success:function(msg){
        	if (msg['error'] == ''){
		  		alert('Error: ' + msg['error'])
	   	  	}
			console.log("MSG = " + msg['youtube'])        	  
			console.log("MSG error = " + msg['error'])
          },
          error:function(xhr, ajaxOptions, thrownError){
              alert( xhr.responseText );
          }
      });	  
	  
	  $(this).parents('td').find('div').html(text_edit);
	  $('button.desc_edit').show();
	  $('button.desc_cancel').hide();
	  $(this).parents('td').find('textarea').remove();
	  $(this).parents('td').find('div').show();
});

}); //ready end


</script>

    <h1><span class="badge badge-secondary">Команда для касового</span> <a  id="run_cmd" class="badge badge-success"><i class="material-icons">arrow_forward_ios</i></a></h1>

<form id="cmd_form">
	Command:<br>
  <input type="text" id='cmd_line' name="firstname"><br>
<input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other
</form>
    
    
<h4>
    #cmd = 'close_port;'
    <br>
    #cmd = 'get_soft_version;'
    <br>
    #cmd = 'indicate;Hello World'
    <br>
    #cmd = 'get_date_time;' точний час
    <br>
    #cmd = 'get_header;'
    <br>
    #cmd = 'get_plu_info;1858;'
    <br>
    #cmd = 'get_plu_info;7247;' # 3 параметр - Штучный/весовой товар (0/1)
    <br>
    #cmd = 'get_cashbox_sum;';
    <br>
    #cmd = 'put_logo;logo_rivelo_black.bmp';
    <br>
    #cmd = 'activate_logo;312;142;';
    <br>
    #cmd = 'print_receipt_copy;'
    <br>
    #cmd = 'print_empty_receipt;'
    <br>
    #cmd = 'set_time;18;29;00'
    <br>
    #cmd = 'in_out;0;0;0;0;'+str(0.0)+';;;'
    <br>
    #cmd = 'cancel_receipt;' # закрити чек
    <br>
    #cmd = 'open_receipt;0' # відкрити чек
    <br>
    #cmd = 'open_receipt;1' # відкрити чек повернення
    <br>
    #cmd = "set_cashiers_number;"
	<br>
        #PARAMS['cmd'] = u'get_plu_info;8591;' # 3 параметр - Штучный/весовой товар (0/1)
	<br>        
#        PARAMS['cmd'] = u'add_plu;8591;0;0;0;1;1;1;203.00;0;Трос перемикання JAGWIRE Basics BWC1011;0.00;'.encode('cp1251')
	<br>
#                                8591;0;0;1;1;1;1;15.00;0;Трос перемикання JAGWIRE Basics BWC1011;1.000;
	<br>
        #PARAMS['cmd'] = 'execute_Z_report;12321;'
	<br>
        #PARAMS['cmd'] = 'pay;2;191.90;'
	<br>
        #PARAMS['cmd'] = 'pay;0;0;'
    <br>
    	#cmd = get_last_receipt_number; # Получить номер последнего чека
    <br>
    #cmd = 'in_out;2;0;0;1;*;коментар;повернення товару через термінал;'
	
    	
	
</h4>
    

{% if user.is_authenticated %}        
{#            <a href="/youtube/{{ v.id }}/edit/" onClick='return confirm("Ви дійсно бажаєте видалити запис?")' >edit</a> #}
            <a href="/youtube/{{ v.id }}/delete/" onClick="return confirm('Ви дійсно бажаєте видалити запис?')">delete</a>
{% endif %}



<br>
