<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Імпорт даних про товар</title>

<style type="text/css">

.errorlist{
	color: red;
	background-color: #FFF;
	border-radius: 5px;
}


</style>



    <h1><span class="badge badge-secondary">Імпорт контенту для товарів [{{title}}]:</span></h1>
    <form action="" method="POST" enctype="multipart/form-data">
        <table>
            {{ form.as_table }}
        </table>
        <p ><input type="submit" value="Save" class="btn btn-success"></p>
    </form>

<h3><span class="btn btn-info">Структура файлу:</span></h3>

<ul>
<li>
0. catalog_id
</li>
<li title="0 - не використовувати дане поле">
1. dealer_code (0 = don't find)
</li>
<li>
2. catalog_name
</li>
<li>
3. Price
</li>
<li>
4. curreny (2 - USD; 4 - EUR; 3	- UAH)
</li>
<li>
5. description (0 - Null value)
</li>
<li>
6. photo
</li>
<li>
7. type
</li>
<li>
8. manufacture
</li>
<li>
9. country
</li>
<li>
10. color
</li>

</ul>

<p>Для створення товарів автоматично, значення кількості стовпців має бути мінімум 10. Тобто у файлі для імпорту має бути заповнено 11 колонок.</p>
    
