<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Параметри товарів</title>

{#	<script type="text/javascript" src="/media/jquery.searchabledropdown-1.0.8.min.js"></script> #}

<link rel="stylesheet" type="text/css" href="/media/css/main_ui.css">	
	
<style type="text/css">
/*  .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }
*/

/*.alert-attr-value {
	background-color: #e0e9bf; !important;
	color: #181816;
	border-color: #b0cb4d;
}*/
 		
</style>		
	
{% load poll_extras %}
	
<script type="text/javascript">

function alert_add(attr_id, attr_name){
    var res = ""
        res += '<div class="alert alert-primary alert-dismissible fade show attr_selected" role="alert" a_id="'+ attr_id +'">' +
        '<a href="/invoice/attribute/val/' + attr_id + '/view/"><strong>'+ attr_name +'</strong></a> ' +
        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' + 
        '<span aria-hidden="true">&times;</span>' + 
        '</button></div>'
    return res;
};



$(document).ready(function() {
	$("#main_link").hide();
	$("#s_category").val($('#id_client').val());
	$("#s_attr_val").val($('#id_work_type').val());
	
    $( "#s_attr_val" ).autocomplete({
    	source: function( request, response ) {
    		 $.ajax({
                 type: "POST",
                 url: "/catalog/attribute/lookup/",
                 data: { query: $("#s_attr_val").val(), type: $("#s_attr_val").attr('type_id') }, //$("#s_param").attr('type_id') },
                 dataType: "json",
                 success: function( data ) {
//                     console.log("Data[attr_name] = " + data['attr_name']);
                     //var dp = JSON.parse(data['data'])
                     var dp = data['data']
/*                     for (const j in data){
                         console.log("HAsh = " + data[j]);
                     }; */
                     response( $.map( dp, function( item ) {
                            console.log("data map = " + item);                                               
                             return {
                                 label: item['attr_name'] + " >>> " + item.value + " / "+ item.value_float + " | " + item.description ,
//                                 label: item['attr_name'] + " >>> " + item.id + ": " + item.value + " / "+ item.value_float + " | " + item.description ,
                                 value: item.value,
                                 pk_id: item.id                                
                                 }
                             }));                                
                             }
             })    		
        },
        minLength: 2,
        select: function( event, ui ) {
        	
        	var a_div = alert_add(ui.item.pk_id, ui.item.label)
        	$("#show_attr_url").append(a_div);
            $('#s_attr_val').val("all");
            $('#s_attr_val').select();
            $("#main_link").show();
            var arr = [];
            var st = '';
            var span_list = ''; 
            $("div.attr_selected").each(function( index ) {
                arr.push($(this).attr("a_id"));
                st += "+" + $(this).attr("a_id")
                span_list += '<span class="badge badge-info mr-1">' + $(this).text() + '</span>';
                })
                var cat_id = $('#s_attr_val').attr('type_id');
                $("#main_link").html("<strong>Фільтр: </strong><a href='/invoice/category/"+ cat_id +"/attribute/values/"+ st +"/view/'><strong>ID = "+ st +"</strong></a> " + span_list);
                
	    	
        },
        open: function() {
        	$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
        },
        close: function() {
        	$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
        	$('#s_attr_val').val("all");
            $('#s_attr_val').select();
        }
    });

    $( "#s_category" ).autocomplete({
    	source: function( request, response ) {
        	$.ajax({
                type: "POST",
                url: "/category/lookup/",
				data: { query: $("#s_category").val() },
                dataType: "json",
                success: function( data ) {
                        	response( $.map( data, function( item ) {
                            return {
                                label: item.pk + ": [" + item.fields.name_ukr + "] "+ item.fields.name,
                                value: item.fields.name,
//                                idid: item.fields.name_ukr,
                                pk_id: item.pk                                
    							}
                        	}));                                
                            }
            })
        },
        minLength: 3,
        select: function( event, ui ) {
	    	//$('#s_attr_val').val(ui.item.pk_id);
	    	$('#s_attr_val').val("all");
	    	$('#s_attr_val').select();
	    	$("#s_attr_val").attr('type_id', ui.item.pk_id);
        },
        open: function() {
        	$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
        },
        close: function() {
        	$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
        }
    });
    
    
    
	$("#id_description").addClass('form-control');
	$("#id_date").addClass('form-control');
//	$("#id_price").attr("class","form-control");
	
	{% if work %}
	$("#s_attr_val").val('{{ work.name }}');
	{% endif %}
	{% if client_name %}
	$("#s_category").val('{{client_name}}');
	{% endif %}
	
	$("#s_category").focus();


	

});

//Delete in all catalog items some attribute value 
function delete_all_attr_val_by_id(data){
    var param; 
    param = $(data).parents('div.row_attr_val');
    console.log("click on = " + param.attr('attr_val_id'));
    console.dir($(data).parents('div.attr_val_text'));
    console.log("Text = " + $(param).children('div.attr_val_text').find('a:first').text());
    var p_text;
    p_text = $(param).children('div.attr_val_text').find('a:first').text()
    var confirm_st;
    confirm_st = confirm("Ви точно хочете видалити значення параметру: \n<<"+ p_text +">> \n?");
    if (confirm_st == false) {
    	console.log("confirm - Cancel");
    	return null;
    };
        $.ajax({
                type: "POST",
                url: "/catalog/delete/attribute/",
                data: { attr_val_id:  param.attr('attr_val_id')},
                dataType: "json",
                success: function( data ) {
                            if (data.status == false){
                            	alert("Сталася помилка: " + data.msg);
                            }                   
                            console.log("Status = " + data.status);
                            }
        });
    
};


/*
function hasClass(elem, className) {
    return elem.classList.contains(className);
}

document.addEventListener('click', function (e) {
    if (hasClass(e.target, 'close')) {
        // .bu clicked
        console.log("Close");
        // Do your thing
    } else if (hasClass(e.target, 'test')) {
        // .test clicked
        // Do your other thing
    }
}, false);*/

$(document).on("close.bs.alert", ".alert", function(event) {
//$(document).on("click", "button.close", function(event) {
//$('.attr_selected').on('closed.bs.alert', function () {
    //var del_id = $(this).parent('div.attr_selected').attr("a_id");
    var arr = [];
    var del_id = $(this).attr("a_id");
    var del_elem = $(this);
    del_elem.remove();
    var st = '';
    var span_list = '';
//    console.log("DELETE = " + del_id);
    $("div.attr_selected").each(function( index ) {
        arr.push($(this).attr("a_id"));
        st += "+" + $(this).attr("a_id")
        span_list += '<span class="badge badge-info mr-1">' + $(this).text() + '</span>';
        })
//    const num = del_id;
//    const idx = arr.indexOf(num);
//    arr.splice(idx, idx !== -1 ? 1 : 0);
    var res_arr = "+" + arr.join("+");
    var cat_id = $('#s_attr_val').attr('type_id');
    $("#main_link").html("<strong>Фільтр: </strong><a href='/invoice/category/"+ cat_id +"attribute/values/"+ res_arr +"/view/'><strong>ID = "+ res_arr +"</strong></a> " + span_list);
  })

</script>



<body>

<h1>
<span class="badge badge-success">Параметри товарів</span> 
</h1>

<div class="container mw-100">

<div class="alert alert-warning alert-dismissible fade show" role="alert" id="main_link">
  Фільтр:
<!--   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>  --> 
</div>

<div class="row justify-content-between">
    <div class="col-12 col-md-6">

<div class="input-group mb-3">
  <input type="text" id="s_category" class="form-control {% if form.client.errors %}  is-invalid {% endif %}" placeholder="Назва категорії товару" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <input type="text"  id="s_attr_val" class="form-control {% if form.work_type.errors %}  is-invalid {% endif %}" placeholder="Пошук властивостей/атрибутів. [Всі] або [all] - виводить повний перелік належних атрибутів." aria-label="Username" aria-describedby="basic-addon1" value="{{ work.name }}"/>
</div>

<div id="show_attr_url" href="">

{#    <h1><span class="badge badge-primary" id="show_attr_url" href=""></span></h1> #}
</div>

     </div>
</div>



{% if show_attr %}
{% for item in attr_list %}

<div class="alert alert-dark" role="alert">
<a href="{% url 'invoice-attribute-id-list' item.id %}" >{{ item.name }}</a> - [{{item.type.all|join:", "}}] ({{item.description}}) - {{item.created_date}}
</div>

{% for val in item.all_values %}
<div class="alert alert-attr-value" role="alert">
<div class="container mw-100">
  <div class="row row_attr_val" attr_val_id="{{val.id}}">
    <div class="col-11 attr_val_text">
        <a href="{% url 'invoice-attribute-val-id-list' val.id %}" title="Перейти до продажу товарів" data-toggle="tooltip" data-placement="top">{{val.value|default:" - "}} / {{val.value_float|default:" - "}}</a> - {{val.created_date}}
        <a href="{% url 'category-id-attr-value-list' val.id %}" >
        <i class="material-icons ml-2" title="Переглянути товари з цим атрибутом. Можливість видалити атрибут." data-toggle="tooltip" data-placement="top">input</i>
        </a>
    </div>
    <div class="col offset text-right" >
{% if request.user|has_group:"admin" %}    
        <i class="material-icons" style="font-size: 24px; color:red;" title="Видалити параметр в усіх товарів?" data-toggle="tooltip" data-placement="top" onclick="delete_all_attr_val_by_id(this);">delete</i>
{% endif %}
    </div>
  </div>
</div>

</div>

{% endfor %}

{% endfor %}

{% endif %}


</div>

 
</body>
	


