<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<head>
    <title>Класифікатор велокомпонентів</title>
{#    <link rel="stylesheet" type="text/css" href="/media/table.css"> #}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>    

<style>
.div2 {
    float: left;
}

.div1 {
//    float:right;
}
</style>

    
<body>    
    <h1><span class="badge badge-secondary">Список категорій велокомпонентів</span> <a class="badge badge-success" href="/category/add/" title="Створити новий тип"><i class="material-icons">add_circle_outline</i></a></h1>
	
{#<table border="1"> #}
<div class="table-responsive">
<table class="table table-striped table-hover table-sm" >
<thead class="table-success">
    <tr class="text-center">
    	<th>#</th>
    	<th>Icon</th>
    	<th>Назва типу</th>
    	<th>Опис</th>
    	<th>Назва, українською</th>
    	<th>Опис, українською</th>
    	<th>ID</th>
    	<th>Дія</th>
    </tr>    
</thead>
<tbody>
{% for type in categories %}
<tr class="text-center">
	<td title="{{type.get_discount.1}}" data-toggle="tooltip" data-placement="right">      
	{{forloop.counter}}
	{% if type.get_discount %}
	<span class="badge badge-danger" >Знижка {{type.get_discount.0.sale__max|floatformat:"0"}}%</span>
	{% endif %}
	{#type.id#}
	</td>
<td>
<div class="div2">
	<img src="/media/upload/icons/{{type.name|slugify}}-gr.png" class="rounded" width="64px" alt="{{type.name|slugify}}">
	<img src="/media/upload/icons/{{type.name|slugify}}-bl.png" class="rounded" width="64px" alt="{{type.name|slugify}}" >
{#	<img src="/media/upload/icons/{{type.name|slugify}}-128.png" width="64px" class="rounded" alt="Wheel"> #}
{#	<img src="/media/upload/icons/{{type.name|slugify}}-select-128.png" width="64px" class="rounded" alt="Wheel"> #}
</div>
</td>
	<td>       
<div class="div1">
	<a href="/catalog/type/{{type.id}}/view/">{{type.name}}</a>
	<hr>
	{% for prop in type.get_properties %}
	   <span class="badge badge-primary">
	   {{prop.name}}
	   <hr>
	       {% for prop_val in prop.all_values %}
	       <span class="badge badge-secondary">
	           {{prop_val.value}}
	       </span>    
	           <hr>
	       {% endfor %}
	   </span>
	{% endfor %}
</div>
	</td>
	<td>       
	{{type.description}}
	</td>
	<td>       
	{{type.name_ukr}}
	</td>
	<td>       
	{{type.description_ukr}}
	</td>
	<td>
	<h4><span class="badge badge-secondary">{{type.id}}</span></h4>
	</td>
	<td>
	<a href="/category/edit/{{ type.id }}" title="Редагувати"><i class="material-icons">create</i> </a>
	<a href="/category/delete/{{ type.id }}" title="Видалити" onclick="return confirm('Видалити запис?')"><i class="material-icons">delete_forever</i></a>
    </td>
</tr>
{% endfor %}   
</tbody>
    
</table>
</div>

</body>

<script>
$(document).ready(function() {
	$('[data-toggle="tooltip"]').tooltip();	
})
</script>