<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Значення параметри товарів</title>

<link rel="stylesheet" type="text/css" href="/media/css/main_ui.css">		
	
<style type="text/css">
 		
</style>		
	
{% load poll_extras %}
	
<script type="text/javascript">
$(document).ready(function() {


    $( "#s_client" ).autocomplete({
    	source: function( request, response ) {
        	$.ajax({
                type: "GET",
                url: "/client/lookup",
				data: { query: $("#s_client").val() },
                dataType: "json",
                success: function( data ) {
                        	response( $.map( data, function( item ) {
                            return {
                                label: item.pk + ": [" + item.fields.forumname + "] "+ item.fields.name,
                                value: item.fields.name,
                                idid: item.fields.sale,
                                pk_id: item.pk                                
    							}
                        	}));                                
                            }
            })
        },
        minLength: 3,
        select: function( event, ui ) {
	    	$('#id_client').val(ui.item.pk_id);
        },
        open: function() {
        	$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
        },
        close: function() {
        	$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
        }
    });
    
    
    

});


//Delete in all catalog items some attribute value 
function delete_all_attr_val_by_id(data){
    var param; 
    param = $(data).parents('div.row_attr_val');
    console.log("click on = " + param.attr('cat_id'));
    console.log("Param id = " + param.attr('attr_val_id'));
    console.log("Param id = " + param.attr('attr_name'));
    console.log("Text = " + $(param).children('div.cat_name').text());
    var p_text;
    p_text = $(param).children('div.cat_name').text()
    //$(param).children('div.attr_val_text').find('a:first').text()
    var confirm_st;
    confirm_st = confirm("Ви точно хочете видалити значення параметру: <<"+ param.attr('attr_name') +">> \nу товарі " + p_text + "?");
    if (confirm_st == false) {
        console.log("confirm - Cancel");
        //param.remove();
        
        return null;
    };
        $.ajax({
                type: "POST",
                url: "/catalog/delete/attribute/",
                data: { c_attr_val_id: param.attr('attr_val_id'), cat_id: param.attr('cat_id') }, 
                dataType: "json",
                success: function( data ) {
                            if (data.status == false){
                                alert("Сталася помилка: " + data.msg);
                            }
                            else {
                            	$(param).parents('div.cat_item:first').remove();                            	
                            }
                            console.log("Status = " + data.status);
                            }
        });
    
};



</script>

<body>

<h1>
<span class="badge badge-success">Параметри товарів (значення):</span> 
</h1>


<div class="container mw-100">

{% for item in attr_val_list %}


<div class="alert alert-attr-value" role="alert">
<a href="{% url 'invoice-attribute-val-id-list' item.id %}" >{{ item.value|default:" - " }} / {{item.value_float|default:" - "}}</a> - Дата створення: {{item.created_date}} ; Редагування: {{item.updated_date}} [{{item.updated_user}}] ; Опис: {{item.description}}
</div>

{% for val in item.all_items %}
<div class="alert alert-dark ml-3 mr-3 cat_item" role="alert" >
<div class="container mw-100">
  <div class="row row_attr_val" cat_id="{{val.id}}" attr_val_id="{{item.id}}" attr_name='{{ item.value|default:" - " }}'>
    <div class="col-11 cat_name">
{{val}} - {{val.created_date}}        
    </div>
    <div class="col offset text-right" >
        <i class="material-icons" style="font-size: 24px; color:red;" title="Видалити параметр <<{{ item.value|default:" - " }}>> ?" data-toggle="tooltip" data-placement="top" onclick="delete_all_attr_val_by_id(this);">delete</i>
    </div>
  </div>
</div>

</div>
{% endfor %}

{% endfor %}



  

  <div class="row justify-content-between">
    <div class="col-12 col-md-6">


{% comment %}
<div class="input-group mb-3">
  <input type="text" id="s_client" class="form-control {% if form.client.errors %}  is-invalid {% endif %}" placeholder="Прізвище, імя клієнта" aria-label="Username" aria-describedby="basic-addon1">
</div>
{% endcomment %}





	 </div>
	</div>
</div>

 
</body>
	


