<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Параметри товарів</title>

{#	<script type="text/javascript" src="/media/jquery.searchabledropdown-1.0.8.min.js"></script> #}

<link rel="stylesheet" type="text/css" href="/media/css/main_ui.css">	
	
<style type="text/css">
/*  .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }
*/

/*.alert-attr-value {
	background-color: #e0e9bf; !important;
	color: #181816;
	border-color: #b0cb4d;
}*/
 		
 		
.drop_element_value{
    color: #6A9B56;
    cursor: pointer;
}
 		
 		
</style>		
	
{% load poll_extras %}
	
<script type="text/javascript">

function alert_add_company(man_id, man_name){
    var res = ""
    var lnk = "/invoice/manufacture/"+ man_id +"/view/"; //  {# url 'invoice-manufacture-id-list' #}
        res += '<div class="alert alert-secondary alert-dismissible fade show attr_selected" role="alert" m_id="'+ man_id +'">' +
        '<a href="' + lnk + '"><strong>'+ man_name +'</strong></a> ' +
        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' + 
        '<span aria-hidden="true">&times;</span>' + 
        '</button></div>'
    return res;
};


function alert_add(attr_id, attr_name){
    var res = ""
        res += '<div class="alert alert-primary alert-dismissible fade show attr_selected" role="alert" a_id="'+ attr_id +'">' +
        '<a href="/invoice/attribute/val/' + attr_id + '/view/"><strong>'+ attr_name +'</strong></a> ' +
        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' + 
        '<span aria-hidden="true">&times;</span>' + 
        '</button></div>'
    return res;
};


function alert_add_type(cat_id, cat_name){
    var res = ""
    var lnk = "/invoice/category/"+ cat_id +"/view/";  
            res += '<div class="alert alert-success alert-dismissible fade show attr_selected" role="alert" c_id="'+ cat_id +'">' +
            '<a href="' + lnk + '"><strong>'+ cat_name +'</strong></a> ' +
            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' + 
            '<span aria-hidden="true">&times;</span>' + 
            '</button></div>'
        return res;	
};


function add_span_type() {
	var span_str_attr = "";
	var span_str_cat = "";
	var span_str_man = "";
    $("div.attr_selected[c_id]").each(function( index ) {
        span_str_cat += '<span class="badge badge-success mr-1">' + $(this).text() + '</span>';
    })
    $("div.attr_selected[m_id]").each(function( index ) {
        span_str_man += '<span class="badge badge-secondary mr-1">' + $(this).text() + '</span>';
    })
    $("div.attr_selected[a_id]").each(function( index ) {
        span_str_attr += '<span class="badge badge-primary mr-1">' + $(this).text() + '</span>';
    })
    return {span_str_man, span_str_cat, span_str_attr};
};

$(document).ready(function() {
	$("#main_link").hide();
	$("#company_type_link").hide();
    $("#company_attr_link").hide();
    $("#company_type_attr_link").hide();
	
	$("#s_category").val($('#id_client').val());
	$("#s_attr_val").val($('#id_work_type').val());
	
    $( "#s_attr_val" ).autocomplete({
    	source: function( request, response ) {
    		 $.ajax({
                 type: "POST",
                 url: "/catalog/attribute/lookup/",
                 data: { query: $("#s_attr_val").val(), type: $("#s_attr_val").attr('type_id') }, //$("#s_param").attr('type_id') },
                 dataType: "json",
                 success: function( data ) {
                     //var dp = JSON.parse(data['data'])
                     var dp = data['data']
                     response( $.map( dp, function( item ) {
                             return {
                                 label: item['attr_name'] + " >>> " + item.value + " / "+ item.value_float + " | " + item.description ,
//                                 label: item['attr_name'] + " >>> " + item.id + ": " + item.value + " / "+ item.value_float + " | " + item.description ,
                                 value: item.value,
                                 pk_id: item.id                                
                                 }
                             }));                                
                             }
             })    		
        },
        minLength: 2,
        select: function( event, ui ) {
        	
        	var a_div = alert_add(ui.item.pk_id, ui.item.label)
        	$("#show_attr_url").append(a_div);
            $('#s_attr_val').val("all");
            $('#s_attr_val').select();
            $("#main_link").show();
            var arr = [];
            var span_list = add_span_type(); 
            $("div.attr_selected[a_id]").each(function( index ) {
                arr.push($(this).attr("a_id"));
/*                if ($(this).attr("a_id")) {
                    st += "+" + $(this).attr("a_id")
                    span_list += '<span class="badge badge-info mr-1">' + $(this).text() + '</span>';
                }; */
                })
            var st = "+" + arr.join("+");                
            $('#s_attr_val').attr('attr_ids', arr);    
            var cat_id = $('#s_attr_val').attr('type_id');
            var man_id = $('#s_manufacture').attr('man_id');
            $("#main_link").html("<strong>Фільтр [Тип + Атрибути]: </strong><a href='/invoice/category/"+ cat_id +"/attribute/values/"+ st +"/view/'><strong>attrID = "+ st +"</strong></a> " + span_list.span_str_cat + span_list.span_str_attr);
//            console.log("SPAN list: Man= " + span_list.str_man + " | Cat = " + span_list.str_cat + " | attr = " + span_list.span_str_attr);
            if (span_list.span_str_man && span_list.span_str_cat && span_list.span_str_attr){
            	$("#company_type_attr_link").show();
                $("#company_type_attr_link").html("<strong>Фільтр [Виробник + Тип + Атрибути]: </strong><a href='/invoice/manufacture/"+ man_id +"/category/"+ cat_id +"/attribute/values/"+ st +"/view/'><strong>attrID = "+ st +"</strong></a> " + span_list.span_str_man + span_list.span_str_cat + span_list.span_str_attr );            	
            }
            if (span_list.span_str_man && span_list.span_str_attr){
                $("#company_attr_link").html("<strong>Фільтр [Виробник + Атрибути]: </strong><a href='/invoice/manufacture/"+ man_id +"/attribute/values/"+ st +"/view/'><strong>attrID = "+ st +"</strong></a> " + span_list.span_str_man + span_list.span_str_attr );
            	$("#company_attr_link").show();
            }

        },
        open: function() {
        	$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
        },
        close: function() {
        	$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
        	$('#s_attr_val').val("all");
            $('#s_attr_val').select();
        }
    });


    $( "#s_manufacture" ).autocomplete({
        source: function( request, response ) {
             $.ajax({
                 type: "POST",
                 url: "/manufacturer/lookup/",
                 data: { query: $("#s_manufacture").val(), type: $("#s_manufacture").attr('type_id') }, //$("#s_param").attr('type_id') },
                 dataType: "json",
                 success: function( data ) {
                     //var dp = JSON.parse(data['data'])
                     var dp = data
                     response( $.map( dp, function( item ) {
                             return {
                                 label: item.pk + ": " + (item.fields.name).toUpperCase() + " ("+ item.fields.www + " )",
//                                 label: item['attr_name'] + " >>> " + item.id + ": " + item.value + " / "+ item.value_float + " | " + item.description ,
                                 value: item.fields.name,
                                 pk_id: item.pk                                
                                 }
                             }));                                
                             }
             })         
        },
        minLength: 2,
        select: function( event, ui ) {
            
            var a_div = alert_add_company(ui.item.pk_id, ui.item.label)
            $("#show_attr_url").append(a_div);
            $('#s_attr_val').val("all");
            $("#s_category").focus();
            $('#s_category').select();
            //$("#s_category").attr('cat_id', ui.item.pk_id);
            $('#s_manufacture').attr('man_id', ui.item.pk_id)
            var arr = [];
            var man_id = ui.item.pk_id;
            var span_l_man, span_l_cat, span_l_attr = ''; 
/*            $("div.attr_selected").each(function( index ) {
                arr.push($(this).attr("m_id"));
//                st += "+" + $(this).attr("a_id")
                span_list += '<span class="badge badge-secondary mr-1">' + $(this).text() + '</span>';
                })*/
                
                let span_list = add_span_type();                
                var cat_id = $('#s_category').attr('cat_id');
                if (cat_id) {
                	$("#company_type_link").show();
                    $("#company_type_link").html("<strong>Фільтр [Виробник + Тип] : </strong><a href='/invoice/category/"+ cat_id +"/manufacture/"+ man_id +"/view/'><strong>ID = +"+ cat_id +" +"+ man_id +"</strong></a> " + span_list.span_str_man + span_list.span_str_cat);
                };
            
        },
        open: function() {
            $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
        },
        close: function() {
            $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            $('#s_attr_val').val("all");
            $('#s_attr_val').select();
        }
    });
    
    
    $( "#s_category" ).autocomplete({
    	source: function( request, response ) {
        	$.ajax({
                type: "POST",
                url: "/category/lookup/",
				data: { query: $("#s_category").val() },
                dataType: "json",
                success: function( data ) {
                        	response( $.map( data, function( item ) {
                            return {
                                label: item.pk + ": [" + item.fields.name_ukr + "] "+ item.fields.name,
                                value: item.fields.name,
//                                idid: item.fields.name_ukr,
                                pk_id: item.pk                                
    							}
                        	}));                                
                            }
            })
        },
        minLength: 3,
        select: function( event, ui ) {
            var cat_div = alert_add_type(ui.item.pk_id, ui.item.label);
            $("#show_attr_url").append(cat_div);
        	//$('#s_attr_val').val(ui.item.pk_id);
	    	$('#s_attr_val').val("all");
	    	$('#s_attr_val').select();
	    	$('#s_category').attr('cat_id', ui.item.pk_id)
	    	$("#s_attr_val").attr('type_id', ui.item.pk_id);
            var arr = [];
            var cat_id = ui.item.pk_id;
            var span_list = add_span_type(); 
            span_list = add_span_type();
            var man_id = $('#s_manufacture').attr('man_id');
            var attr_id = $('#s_attr_val').attr('attr_ids');
            if (man_id) {
                    $("#company_type_link").show();
                    $("#company_type_link").html("<strong>Фільтр [Виробник + Тип] : </strong><a href='/invoice/category/"+ cat_id +"/manufacture/"+ man_id +"/view/'><strong>ID = "+ man_id + " +" +cat_id +"</strong></a> " + span_list.span_str_man + span_list.span_str_cat);
                };
            if (attr_id) {
            	   $("#main_link").show();
            	   $("#main_link").html("<strong>Фільтр: [Тип + Атрибути]: </strong><a href='/invoice/category/"+ cat_id +"/attribute/values/"+ attr_id +"/view/'><strong>ID = "+ attr_id +"</strong></a> " + span_list.span_str_cat + span_list.span_str_attr);
                };
            $("div.attr_name").show();                
            var val_name = $(this).val();
//            console.log("Open = " + val_name);
            $("div.attr_name").hide();
            $('div.attr_name:contains('+val_name+')').show();
         	    	
        },
        open: function() {
        	$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
        },
        close: function() {
        	$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
        }
    });
    
    
    
	$("#id_description").addClass('form-control');
	$("#id_date").addClass('form-control');
//	$("#id_price").attr("class","form-control");
	
	{% if work %}
	$("#s_attr_val").val('{{ work.name }}');
	{% endif %}
	{% if client_name %}
	$("#s_category").val('{{client_name}}');
	{% endif %}
	
//	$("#s_category").focus();
	$("#s_manufacture").focus();


	

});

//Delete in all catalog items some attribute value 
function delete_all_attr_val_by_id(data){
    var param; 
    param = $(data).parents('div.row_attr_val');
    console.log("click on = " + param.attr('attr_val_id'));
    console.dir($(data).parents('div.attr_val_text'));
    console.log("Text = " + $(param).children('div.attr_val_text').find('a:first').text());
    var p_text;
    p_text = $(param).children('div.attr_val_text').find('a:first').text()
    var confirm_st;
    confirm_st = confirm("Ви точно хочете видалити значення параметру: \n<<"+ p_text +">> \n?");
    if (confirm_st == false) {
    	console.log("confirm - Cancel");
    	return null;
    };
        $.ajax({
                type: "POST",
                url: "/catalog/delete/attribute/",
                data: { attr_val_id:  param.attr('attr_val_id')},
                dataType: "json",
                success: function( data ) {
                            if (data.status == false){
                            	alert("Сталася помилка: " + data.msg);
                            }                   
                            console.log("Status = " + data.status);
                            }
        });
    
};


/*
function hasClass(elem, className) {
    return elem.classList.contains(className);
}

document.addEventListener('click', function (e) {
    if (hasClass(e.target, 'close')) {
        // .bu clicked
        console.log("Close");
        // Do your thing
    } else if (hasClass(e.target, 'test')) {
        // .test clicked
        // Do your other thing
    }
}, false);*/

$(document).on("close.bs.alert", ".alert", function(event) {
    var del_elem = $(this);
    del_elem.remove();
    var arr = [];
    var arr_m = [];
    var st = '';
    var st_m = '';
    var span_list_m = '';
    var span_list = '';
    $("div.attr_selected").each(function( index ) {
        if ($(this).attr("a_id")) {
        	   arr.push($(this).attr("a_id"));
        	   console.log("What PUSH = "  + $(this).attr("a_id"));
        }
      })
    var res_arr = "+" + arr.join("+");
    console.log("PUSH Array = "  + res_arr);
    var span_list = add_span_type(); 
//    span_list = add_span_type();
    var man_id = $('#s_manufacture').attr('man_id');
    var cat_id = $('#s_category').attr('cat_id');
    var attr_id = $('#s_attr_val').attr('attr_ids');
    if (man_id && cat_id) {
            $("#company_type_link").show();
            $("#company_type_link").html("<strong>Фільтр [Виробник + Тип] : </strong><a href='/invoice/category/"+ cat_id +"/manufacture/"+ man_id +"/view/'><strong>ID = "+ man_id + " +" +cat_id +"</strong></a> " + span_list.span_str_man + span_list.span_str_cat);
        };
    if (attr_id) {
           $("#main_link").show();
           $("#main_link").html("<strong>Фільтр: [Тип + Атрибути]: </strong><a href='/invoice/category/"+ cat_id +"/attribute/values/"+ res_arr +"/view/'><strong>ID = "+ res_arr +"</strong></a> " + span_list.span_str_cat + span_list.span_str_attr);
           $("#company_type_attr_link").show();
           $("#company_type_attr_link").html("<strong>Фільтр [Виробник + Тип + Атрибути]: </strong><a href='/invoice/manufacture/"+ man_id +"/category/"+ cat_id +"/attribute/values/"+ res_arr +"/view/'><strong>attrID = "+ res_arr +"</strong></a> " + span_list.span_str_man + span_list.span_str_cat + span_list.span_str_attr );               
           $("#company_attr_link").show();
           $("#company_attr_link").html("<strong>Фільтр [Виробник + Атрибути]: </strong><a href='/invoice/manufacture/"+ man_id +"/attribute/values/"+ res_arr +"/view/'><strong>attrID = "+ res_arr +"</strong></a> " + span_list.span_str_man + span_list.span_str_attr );
        };

    if (span_list.span_str_man == '')  {
//    	$('#s_manufacture').val('');
    	$('#s_manufacture').select();
    	$('#s_manufacture').focus();
    	$("#company_type_link").hide();
    }
    if (span_list.span_str_cat == ''){
        $('#s_category').select();//.val('');
        $('#s_category').focus();
        $("#company_type_link").hide();
    } 
        
//    $("#main_link").html("<strong>Фільтр [Тип + Атрибути]: </strong><a href='/invoice/category/"+ cat_id +"/attribute/values/"+ res_arr +"/view/'><strong>ID = "+ res_arr +"</strong></a> " + span_list);
//    $("#company_type_link").html("<strong>Фільтр [Виробник + Тип] : </strong><a href='/invoice/category/"+ cat_id +"/manufacture/"+ st_m +"/view/'><strong>ID = "+ st_m +"</strong></a> " + span_list_m);
  })
  
  
function show_val_items(elem) {
	var cat_id = elem//.parent('div.alert').attr('cat_id');
	var bool = $("div.div_attr_val[cat_id='"+cat_id+"']").attr('hidden');
	$("div.div_attr_val[cat_id='"+cat_id+"']").attr('hidden', !bool);
}
  
</script>



<body>

<h1>
<span class="badge badge-success">Параметри товарів</span> 
</h1>

<div class="container mw-100">


<div class="alert alert-success alert-dismissible fade show" role="alert" id="company_type_link">
Фільтр [Виробник + Тип]:
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert" id="main_link">
Фільтр [Тип + Атрибути]:
</div>

<div class="alert alert-secondary alert-dismissible fade show" role="alert" id="company_attr_link">
Фільтр [Виробник + Атрибути]:
</div>

<div class="alert alert-secondary alert-dismissible fade show" role="alert" id="company_type_attr_link">
Фільтр [Виробник + Тип + Атрибути]:
</div>


<div class="row justify-content-between">
    <div class="col-12 col-md-6">

<div class="input-group mb-3">
  <input type="text" id="s_manufacture" class="form-control" placeholder="Виберіть виробника товару" aria-label="ManufactureName">
</div>

<div class="input-group mb-3">
  <input type="text" id="s_category" class="form-control " placeholder="Назва категорії товару" aria-label="typeName" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <input type="text"  id="s_attr_val" class="form-control {% if form.work_type.errors %}  is-invalid {% endif %}" placeholder="Пошук властивостей/атрибутів. [Всі] або [all] - виводить повний перелік належних атрибутів." value="{{ work.name }}"/>
</div>

<div id="show_attr_url" href="">

{#    <h1><span class="badge badge-primary" id="show_attr_url" href=""></span></h1> #}
</div>

     </div>
</div>



{% if show_attr %}
{% for item in attr_list %}

<div class="alert alert-dark attr_name" role="alert">
<a href="{% url 'invoice-attribute-id-list' item.id %}" >{{ item.name }}</a> - [{{item.type.all|join:"] ["}}] ({{item.description}}) - {{item.created_date}}
<span class="drop_element_value"><i class="material-icons" style="font-size: 24px; " title="Показати значення атрибуту <<{{item.name}}>>:" data-toggle="tooltip" data-placement="top" onclick="show_val_items({{item.id}});">arrow_drop_down_circle</i></span>
</div>

{% for val in item.all_values %}
<div class="alert alert-attr-value div_attr_val" role="alert" cat_id="{{item.id}}" hidden>
<div class="container mw-100">
  <div class="row row_attr_val" attr_val_id="{{val.id}}">
    <div class="col-11 attr_val_text">
        <a href="{% url 'invoice-attribute-val-id-list' val.id %}" title="Перейти до продажу товарів" data-toggle="tooltip" data-placement="top">{{val.value|default:" - "}} / {{val.value_float|default:" - "}}</a> - {{val.created_date}}
        <a href="{% url 'category-id-attr-value-list' val.id %}" >
        <i class="material-icons ml-2" title="Переглянути товари з цим атрибутом. Можливість видалити атрибут." data-toggle="tooltip" data-placement="top">input</i>
        </a>
    </div>
    <div class="col offset text-right" >
{% if request.user|has_group:"admin" %}    
        <i class="material-icons" style="font-size: 24px; color:red;" title="Видалити параметр в усіх товарів?" data-toggle="tooltip" data-placement="top" onclick="delete_all_attr_val_by_id(this);">delete</i>
{% endif %}
    </div>
  </div>
</div>

</div>

{% endfor %}

{% endfor %}

{% endif %}


</div>

 
</body>
	


