<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="en">
<link type="text/css" rel="stylesheet" href="/media/paginator.css">
<head>
    <title>Список чеків</title>
    <link rel="stylesheet" type="text/css" href="/media/css/table.css">

	<link rel="stylesheet" href="/media/jquery-ui.min.css">
	<script src="/media/jquery-ui.min.js"></script>
</head>

{% load poll_extras %}

<body>

<br>
<h2>
    За місяць: 
	{% for i in "123456789012" %}
	{% ifequal forloop.counter sel_month %}
	<a href="/check/year/{{sel_year}}/month/{{forloop.counter}}/day/1/view/" class="badge badge-success select">{{forloop.counter}}</a>
    {% else %}
	<a href="/check/year/{{sel_year}}/month/{{forloop.counter}}/day/1/view/" class="badge badge-success">{{forloop.counter}}</a>
    {% endifequal %}
	{% endfor %}    
</h2>    

<h2>
	За день:
	{% for day in month_days %}		 
	{% ifequal day sel_day %}
    <a href="/check/year/{{sel_year}}/month/{{sel_month}}/day/{{day}}/view/" class="badge badge-pill badge-info select">{{day}}</a>
    {% else %}
	<a href="/check/year/{{sel_year}}/month/{{sel_month}}/day/{{day}}/view/" class="badge badge-pill badge-info">{{day}}</a>
    {% endifequal %}
    {% endfor %}
</h2>    


    <h1>Список чеків на товар [{{sel_day}}/{{sel_month}}/{{sel_year}}]</h1>

    <table id="iTable" class = "table table-bordered table-hover table-condensed table-responsive-lg table-sm" style="width: 500px;">
	<tr>
    	<th>#</th>	
    	<th>№ чека</th>
    	<th >Готівка</th>
    	<th >Термінал</th>
    	<th >Дата</th>
    	<th>Опис</th>
	</tr>    
{% for item in pay_list %}
<tr>
	<td>
	<abbr title="Створено користувачем {{item.user.username}}">
	{{forloop.counter}}
	</abbr>       
<!-- 	{{item.id}}  -->
	</td>
	<td>       
	<a href="/check/{{item.check_num}}/print/" >
	{{item.check_num}}
	</a>
	</td>	
	<td>       
	{{item.cash}}
	</td>
	<td>       
	{{item.term}}
	</td>	
	<td class="text-center">       
	{{item.date|date:'d-m-Y H:i'}}
	</td>	
	<td>       
	{{item.description}}
	</td>
</tr>	
{% endfor %}
<tr>
<td>
</td>
<td>Сума
</td>
<td>
{{sum_cash}}
</td>
<td>
{{sum_term}}
</td>
</tr>
</table>
<br>

    
    <table id="iTable" class = "table table-bordered table-hover table-condensed table-sm">
	<tr>
    	<th>#</th>	
    	<th>№ чека</th>
    	<th>Клієнт</th>
    	<th>Назва компонента</th>
    	<th>Кількість</th>
    	<th>Ціна</th>
    	<th>Сума</th>
    	<th>Валюта</th>
    	<th>Знижка, %</th>    	
    	<th>Оплата</th>    	    	
    	<th>Дата</th>
    	<th>Опис</th>
    	<th>Друк</th>
{% if request.user|has_group:"admin" %}    	
    	<th>Дія</th>
{% endif %}    	
    </tr>
    
   
{% load template_math %}    
    
{% for item in check_list %}
<tr>
	<td>
	<abbr title="Створено користувачем {{item.user.username}}">
	{{forloop.counter}}
	</abbr>
	</td>
	<td>       
    <a href="/check/{{item.check_num}}/print/">{{item.check_num}}[{{item.catalog.id}}{{item.workshop.id}}{{item.bicycle.id}}]</a>
	</td>
	<td>
	<a href="/client/result/search/?id={{item.client.id}}">
	{{item.client.name}} ({{item.client.forumname}})       
	</a>
	</td>
	<td>       
	[{{item.catalog.catalog.ids}}{{item.workshop.work_type.id}}{{item.bicycle.model}}] {{item.catalog.catalog.name}}{{item.workshop.work_type}}
	</td>
	<td align="center" class="tcount">       
	{{item.count|floatformat}}
	</td>
	<td class="tprice">       
	{{item.price}}
	</td>	
	<td class="tsum">       
	{{item.count|mul:item.price}}
	</td>
	<td>       
	{{item.cash_type.name}}
	</td>
	<td align="center">       
	{{item.discount}}
	</td>
	<td class="tpay">       
	{{item.pay}}
	</td>	
	<td> 
	{{item.date|date:'d-m-Y H:i' }}
	</td>
	<td>
	{{item.description}}
	</td>
	<td>
	{{item.print_status}}
	</td>
{% if request.user|has_group:"admin" %}    	
	<td>
	<a href="/check/delete/{{item.pk}}/" onclick="return confirm('Видалити позицію [{{item.catalog.catalog.ids}}{{item.workshop.work_type.id}}] {{item.catalog.catalog.name}}{{item.workshop.work_type}}?')">Видалити</a>
	</td>
{% endif %}	

</tr>
{% endfor %}         

    	<tr>
    	<th></th>	
    	<th></th>
    	<th></th>
    	<th></th>
    	<th></th>    	
    	<th></th>    	    	
    	<th>{{chk_sum}}</th>
    	<th>{{chk_sum_term}}</th>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th></th>
{% if request.user|has_group:"admin" %}    	
    	<th></th>
{% endif %}    	
    </tr>
    
    <table>

<div class="pagination">
  <ul>
  	{% if buycomponents.has_previous %}
        <li class="prev">
            <a href="?page={{ buycomponents.previous_page_number }}">&larr; Previous</a>
        </li>
    {% else %}
    <li class="prev disabled">
            <a href="?page={{ buycomponents.previous_page_number }}">&larr; Previous</a>
    </li>
    {% endif %}
    
<!--     <li class="disabled"><a href="">Page {{ buycomponents.number }} of {{ buycomponents.paginator.num_pages }}.</a></li>
 -->
    {% for i in buycomponents.paginator.page_range %}
    {% ifequal i  buycomponents.number%}
    <li class="disabled"><a href="">{{ i }}.</a></li>
    {% else %}
    <li class="active"><a href="?page={{ i }}">{{ i }}.</a></li>
    {% endifequal %}
    {% endfor %}   
    
    {% if buycomponents.has_next %}
        <li class="next">
            <a href="?page={{ buycomponents.next_page_number }}">Next &rarr;</a>
        </li>
    {% else %}
    <li class="next disabled">
            <a href="?page={{ buycomponents.previous_page_number }}">Next &rarr;</a>
     </li>    
    {% endif %}
  </ul>
</div>


<br>
{% load poll_extras %}
{% orm_debug %}
</body>
</html>