<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Повернення/обмін товару</title>

{# <link rel="stylesheet" type="text/css" href="/media/table.css"> #}


<h1><span class="badge badge-secondary">Повернення/Обмін товару</span></h1>

<table class="table table-sm table-hover">
<thead class="thead-dark">
	<tr>
		<th scope="col">#</th>
		<th scope="col" class="text-center">id</th>
		<th scope="col">Клієнт</th>
		<th scope="col" class="text-center">Товар</th>
		<th scope="col" class="text-center">Кількість</th>
		<th scope="col" class="text-center">Сума</th>
		<th scope="col" class="text-center">Дата продажі</th>
		<th scope="col" class="text-center">Користувач продав</th>
		<th scope="col" class="text-center">Опис</th>
		<th scope="col" class="text-center">Дата обміну</th>
		<th scope="col" class="text-center">Користувач повернув</th>		
		<th scope="col" class="text-center">Магазин</th>
		<th scope="col" class="text-center">Готівка</th>
	</tr>
</thead>	
	{% for element in return_list %}
	<tr>
		<td scope="row">{{ forloop.counter }}</td>
		<td class="text-center">{{ element.id }}</td>
		<td><a href="{%url 'client-data' element.client.id %}" >{{ element.client }}</a></td>
		<td>{{ element.catalog }}</td>
		<td class="text-center">{{ element.count }}</td>
		<td class="text-center">{{ element.sum }}</td>
		<td class="text-center"> <a href="{%url 'client-invoice-day' element.buy_date.year element.buy_date.month element.buy_date.day %}" > {{ element.buy_date }} </a></td>
		<td class="text-center">{{ element.buy_user }}</td>
		<td>{{ element.msg }}</td>
		<td>{{ element.date }}</td>		
		<td class="text-center">{{ element.user }}</td>
		<td class="text-center">{{ element.shop|default_if_none:"--" }}</td>
		<td class="text-center">{{ element.cash }}</td>
	</tr>
	{% endfor %}
</table>

	<br>
