<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Продаж товару</title>

	<link rel="stylesheet" type="text/css" href="/media/autocomplete.css">
	<link rel="stylesheet" href="/media/jquery-ui.min.css">
	
	<script type="text/javascript" src="/media/jquery-ui.min.js"></script> 	
		
	
<style type="text/css">
  span:visited{ text-decoration:none; color:#293d6b; }
/*  span:hover{ text-decoration:underline; color:#FFF; } */
  span.client {color:#293d6b; 
  		cursor: pointer; 
  		border-radius: 5px;
  		color: #FFF;
  		background-color: #4A4A4A;
  		}
  		
  span.one {background-color: #5cb85c;
  		}
  span.two {background-color: #FF6600;
  		}
  div.box {//border-radius: 5px;
  		   background-color: #bfbfbf;
  		   font-size:200%;
/*  		   margin: 80px 0px 0px;*/
  }  		
  div.box_price {
  		border-radius: 5px;
  		   background-color: #8BCB45;
  		   /*font-size:200%;*/
  		   margin: 5px 0px 0px;
  		   width: 100%
  }  		
  .box_price {
  		border-radius: 5px;
  		   background-color: #8BCB45;
  		   /*font-size:200%;
  		   margin: 5px 0px 0px; */
  		   width: 100%
  }  		
  
  span.input-group-text {
  		background-color: #cccdce;
  }

.carousel-indicators li {
	cursor: pointer;
    background-color: #5bb600;
}

.carousel-control-prev-icon { 
	background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%235bb600' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
}
.carousel-control-next-icon {
  	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%235bb600' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}  

.label-green{
	background-color: green;
	color: #FFF;
	border-radius: 5px;
}
  		
</style>	
	
<script type="text/javascript">
{% load poll_extras %}

function payed() {
$("#id_pay").val($('#id_sum').val())
$("#id_length").val($("#id_count").val());
//$("#id_count").val(Math.round($("#id_count").val()));
$("#id_count").val($("#id_count").val());
document.getElementById("UserEnter").submit();
}

$(document).ready(function() {
	$("#s_client").val($('#id_client').val());
	$("#s_client").select();
	$("#id_sale").attr('sale', $("#id_sale").val() ); 

{% if request.user|has_group:"admin" %}
	$("#id_pay").show();
	$("#id_pay").show();
	$("#id_pay").prev().show();
	$("#id_pay").parent().show();
{% else %}
	$("#id_pay").hide();
	$("#id_pay").prev().hide();
	$("#id_pay").parent().hide();
{% endif %}
	
{% if b_len %}
$("#id_count").after("м");
$("label[for='id_count']").html("Довжина:");
{% endif %}	

{%if desc_len %}
$("#id_count").val({{desc_len}});
{% endif %}

$("#UserEnter").submit(function() {
	$('#but_submit').attr('disabled', 'true');
      if ($("#id_sum").val()) {
      	$("#id_length").val($("#id_count").val());
//      	$("#id_count").val(Math.round($("#id_count").val()));
      	$("#id_count").val($("#id_count").val());      	
        return true;
      }
      $("#id_count").after("FALSE");
      return false;
});


//$( "input[type='text']" ).change(function(){
$( "input" ).change(function(){
  sum();
});
	
	$('span.client').click(function(){
    	//$(this).hide();
    	$("#s_client").val($(this).attr('vname'));
    	$('#id_client').val($(this).attr('val'));
    	if (parseFloat($(this).attr('sale')) >= parseFloat($("#id_sale").attr('sale'))){
    		$('#id_sale').val($(this).attr('sale'));
    	}
    	else {
    		$('#id_sale').val($('#id_sale').attr('sale'));
    	}
    	
    	sum();
    	$('#id_count').focus();
    	$('#id_count').select();
    });


	var sale = $('#id_sale').val();
        $( "#s_client" ).autocomplete({
            source: function( request, response ) {
                $.ajax({
                type: "GET",
                url: "/client/lookup",
				data: { query: $("#s_client").val() },
                dataType: "json",
                success: function( data ) {
                        	response( $.map( data, function( item ) {
                            return {
                                label: item.pk + ": [" + item.fields.forumname + "] "+ item.fields.name,
                                value: item.fields.name,
                                idid: item.fields.sale,
                                pk_id: item.pk                                
    							}
                        	}));                                
                            }
                    })
            },
            minLength: 3,
            select: function( event, ui ) {
            if (parseFloat(ui.item.idid) >= parseFloat($("#id_sale").attr('sale'))){
            	console.log('SALE = '+ sale);
            	$('#id_sale').val(ui.item.idid);
            }
            else {
            	$('#id_sale').val($('#id_sale').attr('sale'));
            }
            $('#id_client').val(ui.item.pk_id);
			sum();            	            
            },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });

//      $(".ac_input").focus();
//  		$('#id_client').hide();
      
});


//$('#s_client').bind('change', 
function id2name(){

            $.ajax({
                type: "GET",
                url: "/client/lookup/byid/",
                data: { client_id: $("#s_client").val() },
                dataType: "json",
                success:function(msg){
                	$.each(msg,function(index,item){
                	$("#s_client").val(item)    
                    });
                },
                error:function(){
                    alert("При отправке возникли проблемы");
                }
            });      

};


function sum() {
	sale = 1 - ((parseFloat(document.getElementById('id_sale').value)||0)/100)
    res = document.getElementById('result').innerHTML = (parseFloat(document.getElementById("id_count").value||0) * (parseFloat(document.getElementById('id_price').value)||0) * sale).toFixed(2)
    document.getElementById('result').innerHTML = "Сума: " + document.getElementById('result').innerHTML + " грн."
    document.getElementById('id_sum').value = res 
}

//setTimeout(sum, 100)
//setInterval(sum, 100);

$(document).ready(function() {
	if ($("#s_client").val() != '') {
		id2name();
	}
{% if request.user|has_group:"admin" %}
	$("#id_price").attr("readonly", "false");
{% else %}
	$("#id_price").attr("readonly", "true");
{% endif %}

{% if cat_sale.sale > catalog_obj.sale %}
console.log("IF cat.sale = {{catalog_obj.sale}} ");
$('#id_sale').attr('sale', {{cat_sale.sale}} );
$('#id_sale').val( {{cat_sale.sale}} );
{% else %}
$('#id_sale').attr('sale', {{catalog_obj.sale}} );
$('#id_sale').val( {{catalog_obj.sale}} );
{% endif %}

$('[data-toggle="tooltip"]').tooltip();	

});

</script>

<body onload="document.getElementById('s_client').focus()">

<!-- Modal PHOTO -->
<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Фото: {{form.name.value}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="m_content">

{% if catalog_obj.get_photos %}
{# begin ФОТО карусель #}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
{% for photo_url in catalog_obj.get_photos %}  
    <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter0}}" class="{% if forloop.counter0 = 0 %} active {% endif %}"></li>
{% endfor %}
  </ol>
  <div class="carousel-inner">
{% for photo_url in catalog_obj.get_photos %}
    <div class="carousel-item {% if forloop.counter = 1 %} active {% endif %} ">
      <img class="d-block w-100" src="{{photo_url}}" alt="photo{{forloop.counter}}" >
    </div>
{% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>  
{# end ФОТО карусель #}
{% endif %}
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal PHOTO end -->

<div class="row">
<div class="col-auto">
<h1>
<span class="badge badge-secondary">Продаж товару</span>
{% if catalog_obj.get_photos %}
<button type="button" class="btn btn-info ml-1" data-toggle="modal" data-target="#photoModal" id="show_photo">
{#<span class="badge badge-info">#}
<i class="material-icons">photo_size_select_actual</i></button>
{% endif %}
<span class="label label-green pl-2 pr-2 align-middle"><font size="4" class="align-middle">{{ catalog_obj }}</font></span>
</h1>
</div>
</div>

<div class="row mr-1">
{% if form.non_field_errors %}
<div class="col-12">
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
</div>
{% endif %}

<div class="col-12 col-md-6">
    <form id="UserEnter" action="." method="POST">
        <table>
<tr>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold" id="basic-addon1">Клієнт</span>
  </div>
  {{ form.client }}
  <input type="text" id="s_client" class="form-control {% if form.client.errors %}  is-invalid {% endif %}" placeholder="Прізвище, імя клієнта" aria-label="Username" aria-describedby="basic-addon1">
<div class="invalid-feedback">
	{{ form.client.errors }}
</div>
</tr>        

<tr>
<div class="input-group mb-3">

  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold" title="Кількість" data-toggle="tooltip" data-placement="top">К-ть</span>
  </div>
	{{form.count|add_attr:"class:form-control"}}
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">Знижка</span>
  </div>
{% if form.sale.errors %}   {{ form.sale|add_attr:"class:form-control is-invalid" }} {% else %} {{ form.sale|add_attr:"class:form-control" }} {% endif %}
<div class="invalid-feedback">
	{{ form.sale.errors }}1
</div>

  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">%</span>
  </div>
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">Ціна</span>
  </div>
{% if form.price.errors %}   {{ form.price|add_attr:"class:form-control is-invalid" }} {% else %} {{ form.price|add_attr:"class:form-control" }} {% endif %}
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">Грн.</span>
  </div>

 <div class="invalid-feedback">
	{{ form.price.errors }}
 </div>
</tr>            

<tr>

{% for field in form.visible_fields %}
{% if field.errors %}
	<div class="alert alert-danger" role="alert">{{ field.name }} {{ field.errors }}</div>
{% endif %}
{% endfor %}

{% for hidden_field in form.hidden_fields %}
{% if hidden_field.errors %}
	<div class="alert alert-danger" role="alert">{{ hidden_field.name }} {{ hidden_field.errors }}</div>
{% endif %}
{% endfor %}


{% comment %}
<div class="alert alert-danger" role="alert">{{ form.sale.errors }}</div>
<div class="alert alert-danger" role="alert">{{ form.price.errors }}</div>
<div class="alert alert-danger" role="alert">{{ form.sum.errors }}</div>
<div class="alert alert-danger" role="alert">{{ form.date.errors }}</div>
<div class="alert alert-danger" role="alert">{{ form.currency.errors }}</div>
<div class="alert alert-danger" role="alert">{{ form.pay.name }} {{ form.pay.errors }}</div>
<div class="alert alert-danger" role="alert">{{ form.user.errors }}</div>
{% endcomment %}

</tr>

<tr>
<div class="input-group mb-3">

  <div class="input-group-prepend"> 
  <span class="input-group-text font-weight-bold">Сума</span>
  </div>
	{{form.sum|add_attr:"class:form-control"}}
  <div class="input-group-prepend"> 
  <span class="input-group-text font-weight-bold"></span>
  </div>
	{{form.currency|add_attr:"class:form-control"}}

</div>
</tr>      

<tr>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">Опис</span>
  </div>
  {{ form.description |add_attr:"class:form-control" }}

</div>
</tr>   

<tr>
<div class="input-group mb-3 mt-3">

  <div class="input-group-prepend"> 
  <span class="input-group-text font-weight-bold">Дата</span>
  </div>
	{{form.date|add_attr:"class:form-control"}}

  <div class="input-group-prepend"> 
  <span class="input-group-text font-weight-bold">Користувач</span>
  </div>
	{{form.user|add_attr:"class:form-control"}}

  <div class="input-group-append">
{#    <button class="btn btn-outline-secondary" type="button">Оплатити готівкою</button> #}
    <button class="btn btn-outline-success" type="button" id="bpay" onclick="payed()" value="Оплатити">Оплатити готівкою</button>
  </div>

</div>
</tr>      

<tr>
{{ form.catalog }}
{{form.pay}}
{{form.length}}
</tr>

<tr>
<div class="input-group mb-3 mt-3">
<button class="btn btn-outline-success w-100" type="submit" value="Save" id="but_submit">Зберегти</button>
{# <button class="btn btn-outline-secondary" type="button" id="bpay" onclick="payed()" value="Оплатити">Оплатити готівкою</button> #}
</div>
</tr>

            {# form.as_ul #}
            
        </table>
        
    </form>
</div>

{% comment %}
<div class="col-auto">
<h3><span class="badge badge-info">
Номер ящика:<br>
{{box_number}}
</span><br>
{% if cat_sale %}
<span class="btn btn-outline-warning mt-3">{{cat_sale.name}}:<br> {{ cat_sale.sale }}%</p></span>
{% endif %}
</h3>
</div>
{% endcomment %}

<div class="col-12 col-md-6">
<h3>
<span class="badge badge-info w-100">
Номер ящика: {{box_number}}
</span><br>
{% if cat_sale %}
<span class="btn btn-outline-warning mt-3 w-100 font-weight-bold">{{cat_sale.name}}: <font size="3">{{ cat_sale.sale }}%</font></span>
{% endif %}
</h3>

<div>
{% for client in clients_list %}
{% if client.num_inv >= 7 %}
<span class="two client ml-1 pl-1" val='{{client.client__id}}' vname="{{client.client__name}}" sale="{{client.client__sale}}" style="font-size:200%;"> {{client.client__name}} <span class="badge badge-secondary align-middle" style="background-color: #d4dcdf; color:black;">{{client.num_inv}}</span></span>
{% endif %}
{% if client.num_inv >= 3 and client.num_inv < 7 %}
<span class="one client ml-1 pl-1" val='{{client.client__id}}' vname="{{client.client__name}}" sale="{{client.client__sale}}" style="font-size:150%;"> {{client.client__name}} <span class="badge badge-secondary align-middle" style="background-color: #d4dcdf; color:black;">{{client.num_inv}}</span> </span>
{% endif %}
{% if client.num_inv < 3 %} 
<span val='{{client.client__id}}' class="client ml-1 pl-1" vname="{{client.client__name}}" sale="{{client.client__sale}}" style="font-size:100%;"> {{client.client__name}} <span class="badge badge-secondary align-middle" style="background-color: #d4dcdf; color:black;">{{client.num_inv}}</span> </span>
{% endif %}
{% endfor %}
</div>
</div>

</div>


<div class="row w-100">
<div class="col" >
<span class=" badge box_price"> 
<h3 class="float-left">Ціна: 
{{ form.price.value }} грн.</h3>
</span>
</div>
</div>


<div class="row w-100">
<div class="col">
<span class="badge badge-info w-100">
<h3 id="result" class="float-left">Сума грн.</h3>
</span>
</div>    
</div>

</div>

</body>    
    