<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{% if is_workshop %}
<title>Акт виконаних робіт №000{{check_invoice.id}}</title>
{% else %}
<title>Товарний чек №000{{check_invoice.id}}</title>
{% endif %}
<link rel="stylesheet" type="text/css" href="/media/table.css">
<script type="text/javascript" src="/media/jquery-1.11.2.min.js"></script>
	<link rel="stylesheet" href="/media/jquery-ui.min.css">
	<script src="/media/jquery-ui.min.js"></script>	
		


<style type="text/css">
   #checktable {
    width:100%; 
    padding: 0px;
    border-collapse: collapse;
    CELLSPACING:0;
    CELLPADDING:0;
    border: 2px solid white; 
   }
   #tdchecklogo {
   text-align:right;
   border: 2px solid white;
   valign:top;
   }
</style>

<script language="JavaScript">
$(document).ready(function() {
	$("#dialog_pay").hide();
	$("#msg_text").hide();
	$("#chk_url").hide();
	$("#s_chk_url").hide();

	$( "#print_chk" ).click(function() {
  		$( "#dialog_pay" ).dialog({
  		resizable: false,
      	modal: true,
  		width: 300,
      	buttons: {
        "Додати": function() {
        	var res_sum = parseFloat($("#t_spinner").val()) + parseFloat($("#m_spinner").val())
        	if (res_sum.toFixed(2) != {{sum}}) {
	        	$('#msg_text').show();
	        	$('#msg_text').text("Невірна сума");
        	}
        	else {
        		$('.ui-dialog-buttonset > button:contains(Додати)').hide();        		
			$.ajax({
                type: "POST",
                
                {% if is_workshop %}
                url: "/check/workshop/add/",
                {% else %}
                url: "/check/shop/add/",
                {% endif %}
                data: {t_value: $('#t_spinner').val(), m_value: $('#m_spinner').val(), term: $('#term2:checked').val()},
                dataType: "text",
                beforeSend:function(){
               	    $(".ui-dialog-buttonpane button:contains('Додати')").button("disable");                
                },
                success:function(msg){
               	    var a_link = '';
               	    a_link = '/casa/prro/check/' + msg + '/view/html/'
//               	 	console.log('LINK = ' + a_link );
                	$('#msg_text').text(msg);
               	    $('#msg_text').show();
               	 	//$('#msg_text').insertAfter( a_link );
               	 	$("#chk_url").attr('href', a_link);
               	 	$("#chk_url").text("HTML");
               	 	$("#chk_url").show();
               	 	$("#s_chk_url").show();
               	    $(".ui-dialog-buttonpane button:contains('Додати')").button("disable");
               	    $("#print_chk").hide();
                },
                error:function(){
                	$('#msg_text').text(msg);
               	    $('#msg_text').show();
                    $(".ui-dialog-buttonpane button:contains('Додати')").button("enable");
                },
            });        	
        	};
		},
        "Відмінити": function() {
        	$( this ).dialog( "close" );	
        },
        
        }  		
  		});
	});

$('#m_spinner').spinner({
    min: 0,
    max: {{sum}},
    step: 0.01,
    stop: function(event, ui) {
    	var res = {{sum}} - $('#m_spinner').val();
    	console.log("M_VAL = " + $('#m_spinner').val());
		$('#t_spinner').val(res);        
    }
});

$('#t_spinner').spinner({
    min: 0,
    max: {{sum}},
    step: 0.01,
    stop: function(event, ui) {
    	var res = parseFloat({{sum}}) - parseFloat($('#t_spinner').spinner( "value" ));
    	console.log("T_VAL = " + $('#t_spinner').spinner( "value" ) );
    	console.log("RES = " + res );
		$('#m_spinner').val(parseFloat(res));        
    }
});

$('#t_spinner').spinner({
  change: function( event, ui ) {
    	var res = parseFloat({{sum}}) - parseFloat($('#t_spinner').val());
    	console.log("T_VAL = " + $('#t_spinner').spinner( "value" ) );
    	console.log("RES = " + res );
		$('#m_spinner').spinner( "value", parseFloat(res) );        
  }
});

$('#m_spinner').spinner({
  change: function( event, ui ) {
    	var res = parseFloat({{sum}}) - parseFloat($('#m_spinner').val());
    	console.log("M_VAL = " + $('#t_spinner').spinner( "value" ) );
    	console.log("RES = " + res );
		$('#t_spinner').spinner( "value", res );        
  }
});


$( "#pp1" ).click(function() {
	$("#pp1").hide();
	$("#pp11").hide();
});

$( "#pp2" ).click(function() {
	$("#pp2").hide();
	$("#pp21").hide();
});

$( "#pp_show_all" ).click(function() {
	$("#pp1").show();
	$("#pp2").show();
	$("#pp11").show();
	$("#pp21").show();
});

$("#pp1").hide()
$("#pp11").hide()

});       
</script>

{% load template_math %}
{% load poll_extras %} 

{% if print %}
	<div id="dialog_pay" title="Оплата чеку">
	<p id="dtext">Готівка</p>
	<label for="spinner">Сума:</label>
  	<input id="m_spinner" name="value" value="0.00"> грн.
	<p id="dtext">Термінал</p>
	<label for="spinner">Сума:</label>
  	<input id="t_spinner" name="value" value="{{sum}}"> грн.
	<br>
	<label for="spinner">Кавказька:</label>
  	<input id="term1" name="value" value="1" type="checkbox">
	<label for="spinner">Міцкевича:</label>
  	<input id="term2" name="value" value="2" type="checkbox">
	<h2 type="text" id="msg_text" name="mytext[]" rows="10" cols="40" style="color:#ff0000""> рядок стану   
	</h2>
	<span class="badge badge-success" id="s_chk_url"><a href="" id="chk_url">TEST</a></span>
	</div>
{% endif %}

 

{# {{checkPay.0.pk}} - {{checkPay.0.description|check_uid}} #}  

{% comment %}
{% for cp in checkPay %}
[{{cp.pk}}] - {{cp.description}}
{% endfor %}
{% endcomment %}

<table id="checktable">
<tr>
<td style="text-align:center; border: 2px solid white;" colspan="2" id="pp_show_all">

{% if is_workshop %}
<h1>Акт виконаних робіт №000{{check_num}} <span class="badge badge-danger">{{printed}}</span></h1>
{% else %}
<h1>Товарний чек №000{{check_num}} <span class="badge badge-danger">{{printed}}</span></h1>
{% endif %}

{% if checkPay.0.description|check_uid not in '' %}
 	<a href="{{checkPay.0.description|check_uid}}"><span class="badge badge-info">TEXT</span></a>
 	<a href="{{checkPay.0.description|check_uid_html}}"><span class="badge badge-info">HTML</span></a>
{% endif %}


<h2>від {{month}} року</h2>
</td>
</tr>

<tr>
<td style="text-align:left;" valign="bottom">
<!--  <p>Продавець: ПП. Панчук Ігор Олексійович (ІПН 3084020932)</p>  -->
<p id="pp1">Продавець: ПП. Панчук Ігор Олексійович (ІПН 3084020932) IBAN UA743052990000026001010708899</p>
<p id="pp2">Продавець: ПП Міщанюк Андрій Юрійович (ІПН 3285112819) IBAN UA213348510000000002600583618</p>
<p> Покупець: <a href="/client/result/search/?id={{client.id}}">{{client.name}}</a></p>
</td>
<td id="tdchecklogo" ALIGN="right">
<a href="/"><img src="/media/images/site_logo_small.gif" alt="" title="" ></a>
</td>
</tr>
</table>

<form action="/check/add/" method="POST" id="check_form">

{% if is_workshop %}
<input type="hidden" name="inv_type" id="inv_type" value="workshop" ids="" >
<table border="1" width="100%">
	<tr>
		<th>№</th>
		<th>Роботи</th>
		<th>Ціна (грн.)</th>
		<th>Сума (грн.)</th>
	</tr>
{% for item in check_invoice %}
	<tr>
		<td>{{forloop.counter}}</td>
		<input type="hidden" name="chk_inv{{forloop.counter}}" id="chk_inv{{forloop.counter}}" value="{{item.id}}" ids="" >		
		<td><a href="/worktype/view/group/{{item.work_type.work_group.id}}">{{item.work_type.name}}</a></td>
		<td>{{item.price}}</td>
		<td>{{item.price}}</td>
	</tr>
{% endfor %}
	<tr>
		<th></th>
		<th>ВСЬОГО:</th>
		<th></th>
		<th>{{sum}} грн.</th>
	</tr>

</table>

{% else %}
<input type="hidden" name="inv_type" id="inv_type" value="shop" ids="" >
<table border="1" width="100%">
	<tr>
		<th>№</th>
		<th>Назва товару</th>
		<th>Од.</th>
		<th>Кількість</th>
		<th>Ціна (грн.)</th>
		<th>Знижка %</th>
		<th>Сума (грн.)</th>
	</tr>

{% if check_invoice %}
  
{# Array =  {{check_invoice}} #}
{% for invoice in check_invoice %}
	<tr>
		<td>{{forloop.counter}}</td>
		<input type="hidden" name="chk_inv{{forloop.counter}}" id="chk_inv{{forloop.counter}}" value="{{invoice.id}}" ids="" >
		<td><a href="/invoice/catalog/{{invoice.catalog.id}}/view/">{{invoice.catalog}}</a></td>
		<td>шт.</td>
		<td>{{invoice.count}}</td>
		<td>{{invoice.price}}</td>
		<td>{{invoice.sale}}</td>
		<td>{{invoice.sum}}</td>
	</tr>
{% endfor %}
 
{% else %}

{% for itm in chk_lst %}
	<tr>
		<td>{{forloop.counter}}</td>
		<td><a href="/bicycle/photo/{{itm.bicycle.model.model.id}}/">
		{% if itm.bicycle != None %} 
			{{itm.bicycle}}
		{% endif %}
		 {{itm.workshop.work_type.name}} [{{itm.catalog.catalog.ids}}] {{itm.catalog.catalog.name}}</a></td>
		<td>шт.</td>
		<td>{{itm.count}}</td>
		<td>{{itm.bicycle.price}} {{itm.workshop.work_type.price}} {{itm.catalog.price}}</td>
		<td>{{itm.bicycle.sale}} {{itm.discount}}</td>
		<td>{{itm.bicycle.sum}} {{itm.catalog.sum}}</td>
	</tr>
{% endfor %}

{% endif %}

	<tr>
		<th></th>
		<th>ВСЬОГО:</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th>{{sum}}</th>
	</tr>

</table>
</form>
{% endif %}
<p>
Всього на суму: {{str_number}} гривень {{ sum|dotPart:"2"|floatformat }} копійок
</p>
<p>
<br>
<p id="pp11">Підпис ___________________   Панчук Ігор Олексійович</p>
<p id="pp21">Підпис ___________________   Міщанюк Андрій Юрійович</p>


</p>

{% if is_workshop %}


{% if print == "True" %}
<a href="/client/workshop/check/"><span class="badge badge-light">Версія для друку</span></a>
{# <a href="/client/workshop/check/email/">Відправити на Email</a> #}
<h3 id="print_chk">Фіскальний чек</h3>
{% endif %}

{% else %}

{% if print %}
<h2><a href="/client/invoice/check/"><span class="badge badge-light">Версія для друку</span></a></h2>
{# <a href="/client/invoice/check/email/">Відправити на Email</a> #}
{% if not printed %}
<h3 id="print_chk">Фіскальний чек</h3>
{% endif %}
{% endif %}

{% endif %}
