<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="en">


<head>
    <title>Список проданого товару</title>
    <link type="text/css" rel="stylesheet" href="/media/paginator.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/media/css/table.css"> 
{#    <link rel="stylesheet" type="text/css" href="/media/css/tooltip.css"> #}

{# <link type="text/css" rel="stylesheet" href="/media/css/jquery.qtip.min.css" /> #}
{# <script type="text/javascript" src="/media/js/jquery.qtip.min.js"></script> #}

<link rel="stylesheet" href="/media/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="/media/autocomplete.css">


{# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> #}
{# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> #}

<script src="/media/jquery-ui.min.js"></script>
{# <script src="/media/js/touchHover.js"></script> #}
 
</head>

{% load poll_extras %}

<style>

label.ressum {
color: #B4886B;
font-weight: bold;
//display: block;
width: 150px;
//float: left;
}

</style>


<body onLoad="res()">

<script type="text/javascript">

function res() {
	var sum = 0;
	var ar = $(".mc:input:checked");
	$(".mc:input:checked").each(function() {
        //a.push(this.value);
        sum = sum + parseFloat(this.value)
//		console.log("PRINT P = " + this.value)
    });

	document.getElementById('for_pay').innerHTML = sum.toFixed(2)+" грн.";
}


$(document).ready( function() {

$('[data-toggle="tooltip"]').tooltip();
$(".op_datetime").hide();

// $('#maincheck').prop('checked', true);


$("#dialog_client").dialog({
	autoOpen: false,
    resizable: true,
    modal: true,
    width: 450,
//      position: "center",
	open: function( event, ui ) {
		$('.context-menu').remove(); //видалення меню
		$(".container").empty();
		$("#inv_count").spinner({min: 0,max: 1000,});
		var inv_chk = $(".mc:checked")
		jQuery.each(inv_chk, function() {
			var id = $(this).attr('name').replace('checkbox_','')
			$(".container").append("<br>[<mark class='mark_id'>" + $(this).attr('name').replace('checkbox_','') +"</mark>]");
			$(".container").append("<br> " + $("tr[ci_id='"+id+"']").find('td.cat_name').text() ); 			 
		})
	},
      buttons: {
        "Додати": function() {
        var inv_chk = $(".mc:checked")
        var inv_ids = []
		jQuery.each(inv_chk, function() {
			var id = $(this).attr('name').replace('checkbox_','')
			inv_ids.push(id);
			console.log ( $("tr[ci_id='"+id+"']").find('td.client > a').text() ); 			 
			$("tr[ci_id='"+id+"']").find('td.client > a').text($("#dialog_client").attr("client_name")) ;
			$("tr[ci_id='"+id+"']").find('td.client > a').attr("href", "/client/result/search/?id=" + $("#dialog_client").val()) ;
			if ($("#inv_count").val() > 0) {
				$("tr[ci_id='"+id+"']").find('td.tcount').text($("#inv_count").val());
				var sum = $("tr[ci_id='"+id+"']").find('td.tprice').text() * $("#inv_count").val();
				$("tr[ci_id='"+id+"']").find('td.tsum').text(sum);
				$("input[name='checkbox_"+ id +"']").val(sum);
			}
		})
	$.ajax({
       type: "POST",
       	url: "/client/invoice/set/",
       	data: {ids:  inv_ids, client: $("#dialog_client").attr("client_id"), count: $("#inv_count").val()},
       	dataType: "text",
	    success:function(msg){
    	    var td_count = $("tr[ci_id ='"+$('#dialog_return').attr('id_target')+"'] td.tcount"); 
      	
       },
       error:function(){
         alert("При отправке возникли проблемы");
       }
    });
	
          $( this ).dialog( "close" );
        },
        "Відмінити": function() {
        	$( this ).dialog( "close" );
        }
      },
      close: function( event, ui ) {
//      	$("#slider1_container").remove();
      }
});


$( "#dialog_return" ).dialog({
	modal: true,
	closeOnEscape: true,
	autoOpen: false,
	width: 380,
	open: function( event, ui ) {
		$('.context-menu').remove(); //видалення меню
		$("#sp_count").spinner({
		min: 1,
		max: $("#sp_count").attr('max'),
		change: function( event, ui ) {
			calc_sum();
		},
		stop: function( event, ui ) {
			//var dsum = $("#sp_count").val() * $("#dialog_return").attr("price");  
			//$("#print_sum").html("Сума: " + dsum);
			calc_sum();
		}
		});
		
	},
    buttons: {
    "Створити": function() {
    if ($("#msg_return").val() != "") {
    var cash = true;
	if ($("#sp_cash").is(':checked')) {
		cash = true;
	}
	else {
		cash = false;
	}

	$.ajax({
       type: "POST",
       	url: "/client/invoice/return/"+$('#dialog_return').attr('id_target')+"/add/",
       	data: {msg: $("#msg_return").val(), count: $("#sp_count").val(), cash: cash},
       	dataType: "text",
       success:function(msg){
        var td_count = $("tr[ci_id ='"+$('#dialog_return').attr('id_target')+"'] td.tcount"); 
        var td_sum = $("tr[ci_id ='"+$('#dialog_return').attr('id_target')+"'] td.tsum");
        var td_pay = $("tr[ci_id ='"+$('#dialog_return').attr('id_target')+"'] td.tpay");
        var rcount = td_count.html() - $("#sp_count").val();
        td_sum.html(td_sum.html() / td_count.html() * rcount);
        td_pay.html(td_sum.html());
        td_count.html(rcount);
        $("tr[ci_id ='"+$('#dialog_return').attr('id_target')+"']").css("background-color","#99FF33");
       	if (td_count.html() == 0) { 
       		$("tr[ci_id ='"+$('#dialog_return').attr('id_target')+"']").hide();
       	}
      	
       },
       error:function(){
         alert("При отправке возникли проблемы");
       }
    });
                
      	$( this ).dialog( "close" );
	}
	else {
	alert("Введіть причину обміну/повернення");
	}
		
    },
    "Відмінити": function() {
       	$( this ).dialog( "close" );	
    },
       
    }
});


$( "#dialog_delete" ).dialog({
	modal: true,
	closeOnEscape: true,
	autoOpen: false,
	width: 400,
	open: function( event, ui ) {
		$('.del_container').empty()
		$('.context-menu').remove(); //видалення меню
		var inv_chk = $(".mc:checked")
		jQuery.each(inv_chk, function() {
			var id = $(this).attr('name').replace('checkbox_','')
			$(".del_container").append("<br>[<mark class='mark_id'>" + $(this).attr('name').replace('checkbox_','') +"</mark>]");
			$(".del_container").append("<br> " + $("tr[ci_id='"+id+"']").find('td.cat_name').text() ); 			 
		})
		
	},
    buttons: {
    "Видалити": function() {
        var inv_chk = $(".mc:checked")
        var inv_ids = []
		jQuery.each(inv_chk, function() {
			var id = $(this).attr('name').replace('checkbox_','')
			inv_ids.push(id);
			console.log ( $("tr[ci_id='"+id+"']").find('td.client > a').text() ); 			 
		})

	$.ajax({
       type: "POST",
       	url: "/client/invoice/delete/",
       	data: {ids:  inv_ids},
       	dataType: "text",
       success:function(msg){
       	if (msg == "ok"){
       		alert("Товари видалено");
       	}
      	else {
      		alert("Помилка: " + msg);
      	}
       },
       error:function(){
        alert("При отправке возникли проблемы");
       }
    });
                
      	$( this ).dialog( "close" );
	
/*	else {
	alert("Введіть причину обміну/повернення");
	}
*/	
    },
    "Відмінити": function() {
       	$( this ).dialog( "close" );	
    },
       
    }
});


$("body").on('click', '#clear_basket', function() {
//	$("#buy_c").html('<b>Продати товари:</b>');
    $("#dialog_delete").dialog("open");
});


$( "#client_name" ).autocomplete({
            source: function( request, response ) {
                $.ajax({
                type: "GET",
                url: "/client/lookup",
				data: { query: $("#client_name").val() },
                dataType: "json",
                success: function( data ) {
                        	response( $.map( data, function( item ) {
                            return {
                                label: item.pk + ": [" + item.fields.forumname + "] "+ item.fields.name,
                                value: item.fields.name,
                                idid: item.fields.sale,
                                pk_id: item.pk                                
    							}
                        	}));                                
                            }
                    })
            },
            minLength: 3,
            select: function( event, ui ) {
            	$("#dialog_client").val(ui.item.pk_id);
            	$("#dialog_client").attr("client_name",ui.item.value);
            	$("#dialog_client").attr("client_id", ui.item.pk_id);
            },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
});


	$("#maincheck").click( function() {
    	if($('#maincheck').prop('checked')){
/*        	$('.mc').attr('checked', true); */
        	$('.mc').prop( "checked", true )
        } else {
/*            $('.mc').attr('checked', false); */
            $('.mc').prop( "checked", false )
        }
        res();
     });
	
       
	$(".menu").menu({
  	disabled: false,
  	select: function( event, ui ) {
  	$(".menu").hide();
  	$( ".menu" ).menu( "collapseAll", null, true );
  	console.log('select = ', ui.item);
  	},
  	
	});       

/*	$(".operation").click(function(){
	$(".menu").show();
	})
*/	
	$(".menu").hide();
	$(".profit").hide();


$("#sp_cash").click(function(){
	calc_sum();
});

$("#sp_count").on( "spinchange", function( event, ui ) {
	calc_sum();
});

{% if request.user|has_group:"admin" %}
$("#show_profit").click(function(){
	$(".profit").toggle();
});
{% endif %}

{% if request.user|has_group:"admin" %}
$("#show_date").click(function(){
	$(".operate_date").toggle();
});
{% endif %}

});


function show_ret(ciid, item) {
	//iid = $(this).attr("tvalue");
	iid = ciid
	console.log("Catalog = " + $(item).parents('tr').find('td.cat_name').html())// > td.cat_name').html() );
	$("#dialog_return").attr("id_target", iid);
	$("#dialog_return").dialog("open");
	//$("ui-id-2").attr("html", "New title");
	//document.getElementById("ui-id-2").innerHTML = "Повернення: " + ""
	$("#ui-id-2").html("Повернення: " + $(item).parents('tr').find('td.cat_name').html());
}


function show_client() {
	$( "#dialog_client" ).dialog("open");
}


function calc_sum() {
	var dsum = $("#sp_count").val() * $("#dialog_return").attr("price");  
	$("#print_sum").html("Сума: " + dsum);
}

function change_count(item){
/*	console.log("TR = " + item.tagName); 
	console.log("ATTR = " + $(item).parents('tr').attr('ci_id'));
	console.log("ATTR count = " + $(item).html()); */
	//console.log("ATTR = " + $(item).parents('td').parents('tr').attr('ci_id'));
	var rcount, pk
	pk = $(item).parents('tr').attr('cat_id');
	rcount = $(item).html();
	
$.ajax({
    type: "POST",
    	//url: "/catalog/" + $(item).parents('tr').attr('ci_id') + "/update/count/",
    	url: "{% url 'cat_set_attr' %}",
	    data: {id:  pk, count: rcount},
	    dataType : 'json',
	    success:function(json){
	    	if (json['status'] == true) {
//				console.log("Кількість змінено");
				$(item).hide();
	    	}
	   		else {
	   			console.log('JSON = ' + json['error'] + ' STATUS = ' + json['status'] );
	   		    alert("Помилка: " + json['msg']);
	   		}
	    },
	    error:function(){
	    	alert("При відправці виникли проблеми");
	    }

});
	
}

</script>



<br>
{% if view %}
<h2>
    За місяць: 
	{% for i in "123456789012" %}
	{% ifequal forloop.counter sel_month %}
	<a href="/client/invoice/year/{{sel_year}}/month/{{forloop.counter}}/view" class="badge badge-success select">{{forloop.counter}}</a>
    {% else %}
	<a href="/client/invoice/year/{{sel_year}}/month/{{forloop.counter}}/view" class="badge badge-success">{{forloop.counter}}</a>
    {% endifequal %}
	{% endfor %}    
</h2>    

<h2>
	За день:
	{% for day in month_days %}		 
	{% ifequal day sel_day %}
    <a class="badge badge-success select" href="/client/invoice/year/{{sel_year}}/month/{{sel_month}}/day/{{day}}/view">{{day}}</a>
    {% else %}
	<a class="badge badge-success" href="/client/invoice/year/{{sel_year}}/month/{{sel_month}}/day/{{day}}/view" >{{day}}</a>
    {% endifequal %}
    {% endfor %}
</h2>    
{% endif %}

<form action="/payform/" method="post" name="formSum">


<div class="d-flex">
   <div class="mr-auto">
   <h1>
   <span class="badge badge-dark">Список проданого товару</span> <span class="badge badge-info" id="show_date">{{sel_day}}/{{sel_month}}/{{sel_year}}</span> 
   <span id="clear_basket"><img src="/media/images/Ecommerce Return.ico" title="видалити всі відмічені" width="32" height="32" data-toggle="tooltip" data-html="true" data-placement="right"> </span>
   <a href="/workshop/playsound/" ><span class="badge badge-dark mt-250"><i class="material-icons" style="font-size: 28px" >notification_important</i></span></a> 
   </h1>
   </div>
   
 <div class="ml-auto">
  <div class="input-group ">
  <div class="input-group-prepend">
  	<span id="for_pay" style="COLOR: red" class="input-group-text font-weight-bold" >2133</span>
    <span class="input-group-text" id="basic-addon1">Грн.</span>
  </div>
 <input type="submit" value="Оплата" type="button" class="btn btn-warning font-weight-bold">
{# <input type="submit" value="E-mail" name="send_check"> #} 
</div>
    
 </div>
</div>

<!-- ДІАЛОГИ Begin -->
<div id="dialog_client" title="Змінити клієнта" id_target="">
<label>Клієнт</label>
<input id="client_name" value="" style="width: 350px;">
<br>
<label>Введіть кількість</label>
<input id="inv_count" value="0" max="1000" style="width: 260px;">
<div class="container">Вибрані товари:</div>
</div>


<div id="dialog_delete" title="Видалити товари" id_target="">
<div class="del_container">Вибрані товари:</div>
</div>


<div id="dialog_return" title="Повернення/Обмін" id_target="">
<label>Введіть причину відмови/повернення</label>
<textarea  name="dreturn" id="msg_return" value="" wrap="soft" cols="42" rows="7"></textarea>
<br>
<label>Введіть кількість</label>
<input id="sp_count" value="1" max="5">
<br>
<label>Готівка</label>
<input type="checkbox" id="sp_cash" >
<label id="print_sum" class="ressum">Сума:</label>
</div>
<!-- ДІАЛОГИ End -->


    <table border="1" id="iTable" class = "table table-bordered table-hover table-condensed">
	<tr>
    	<th>#</th>	
    	<th>Клієнт</th>
    	<th>Назва компонента</th>
    	<th>К-ть</th>
    	<th id="show_profit">Ціна</th>
    	<th class="profit">Profit</th>
    	<th>Сума</th>
{#    	<th>Валюта</th> #}
    	<th data-toggle="tooltip" data-placement="right" title="Знижка %">%</th>    	
{#    	<th>Оплата</th> #}    	    	
    	<th class="operate_date">Час</th>
    	<th>Опис</th>
    	<th>Дія  </th>
    	<th>
    	<input type="checkbox" id="maincheck" checked />
    	{#<input type="submit" value="Оплата"><div id="for_pay" style="COLOR: red" BGCOLOR="#D5FFB4"></div>#}
    	</th>
    	<th>Зал.
    	</th>
    </tr>
    
   
{% load template_math %}    
    
{% for type in buycomponents.object_list %}
{% ifequal type.sum type.pay %}
<tr ci_id="{{type.id}}" count="{{type.count}}" cat_id={{type.catalog.pk}}>
{% else %}
<tr class="reserv" ci_id="{{type.id}}" cat_id="{{type.catalog.pk}}" count="{{type.count}}">
{% endifequal %}

	<td data-toggle="tooltip" data-placement="right" title="Створено користувачем <br> {{type.user.username}}" data-html="true">
	{{forloop.counter}}
<!-- 
	<abbr title="Створено користувачем {{type.user.username}}" rel="tooltip">
	{{forloop.counter}}
	</abbr>
 -->	
	</td>
	<td class="client">
	<a href="/client/result/search/?id={{type.client.id}}">
	{{type.client.name}} {% if type.client.forumname %} ({{type.client.forumname}}) {% endif %}       
	</a>
	</td>
	<td class="cat_name" >       
	{% if request.user|has_group:"admin" %} 
		<a href="/catalog/id/{{type.catalog.id}}/view/"> [{{type.catalog.ids}}] </a>
	{% else %} 
		[{{type.catalog.ids}}]
	{% endif %}
		{{type.catalog.name}}
	</td>
	<td align="center" class="tcount">       
	{{type.count|floatformat}}
	</td>
	<td class="tprice">       
	{{type.price}}
	</td>
	<td class="profit">
	{% if perms.accounting.add_preorder %} 
	({{type.get_profit.0|floatformat:"2"}} / {{type.get_profit.1|floatformat:"0"}})
    {% endif %}
	</td>
	<td class="tsum">       
	{{type.sum}}  
	{% if request.user|has_group:"admin" %}
	{% if type.pay != type.sum %}   
	<span class="badge badge-pill badge-warning" onclick=""> {{type.pay}} </span>
	{% endif %}
	{% endif %}
	</td>
{#	<td>	{{type.currency.name}}	</td> #}
	<td align="center" title="Економія склала {{type.get_client_profit}} грн.">       
	{{type.sale}}
	</td>
{#	<td class="tpay">       	{{type.pay}}	</td> #}	
	<td class="operate_date" title="{{type.date|date}}" data-toggle="tooltip" data-html="true" data-placement="left">
	<label class="op_datetime">{{type.date|date:'d.m.Y H:i' }}</label> 
	{{type.date|date:'H:i' }}
	</td>
	<td>
	{{type.description|linebreaks}}
	</td>
<td>
<div class="btn-group dropleft">
  <a type="button" class="btn btn-success" href="/client/invoice/{{type.id}}/edit" title="Редагувати" data-toggle="tooltip" data-html="true" data-placement="left"><i class="material-icons">edit</i></a>
  <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
<a class="dropdown-item" href="/client/invoice/{{type.id}}/delete/" onclick="return confirm('Видалити запис? \n {{type.catalog}}');">Видалити</a>
<a class="dropdown-item" href="/client/invoice/{{type.id}}/edit">Редагувати</a>
<a class="dropdown-item" href="/client/invoice/catalog/{{type.catalog.id}}/add/">Продати ще</a>
{#<a class="dropdown-item" href="/client/invoice/return/{{type.id}}/add/">Обмін/Повернення</a>#}
<a class="dropdown-item" href="#" onclick="show_ret(ciid={{type.id}}, this);return false">Обмін/Повернення</a>
<a class="dropdown-item" href="#" onclick="show_client();return false">Змінити клієнта/кількість</a>
  
{#    <div class="dropdown-divider"></div> #}
{#    <a class="dropdown-item" href="#">Separated link</a> #}
    
  </div>
</div>
	
    </td>
    <td align="center">
    

{% ifequal type.sum type.pay %}
<input type="checkbox" id="model{{forloop.counter}}" class="mc" value="{{type.sum}}" onclick="res()" name="checkbox_{{ type.id }}"/>
{% else %}
{% ifequal request.user.username type.user.username %} 
<input type="checkbox" id="model{{forloop.counter}}" class="mc" value="{{type.sum}}" onclick="res()" checked name="checkbox_{{ type.id }}"/>
{% else %}
<input type="checkbox" id="model{{forloop.counter}}" class="mc" value="{{type.sum}}" onclick="res()" name="checkbox_{{ type.id }}"/>
{% endifequal %}
{% endifequal %}
	</td>
	
	{% if type.catalog.get_realshop_count == type.catalog.count %}
	<td align="center" title="Ящик номер: {{type.catalog.locality}}" data-toggle="tooltip" data-html="true" data-placement="left">
	{% else %}
	<td align="center" bgcolor="yellow" title="Ящик номер: {{type.catalog.locality}}" data-toggle="tooltip" data-html="true" data-placement="left">
	{% if request.user|has_group:"admin" %} 
	<span class="badge badge-pill badge-warning" onclick="change_count(this)">{{type.catalog.get_realshop_count}}</span>
	{% endif %}
	{% endif %}
 
	{{type.catalog.count}} 


	</td>
</tr>
{% endfor %}         

    	<tr>
    	<th></th>	
    	
    	<th></th>
    	<th>Загальна кількість проданих товарів:</th>
    	<th>{{countall}}</th>
    	<th></th>
    	<th class="profit">{% if perms.accounting.add_preorder %} {{sum_profit|floatformat:"2"}} {% endif %}</th>
    	<th>{{sumall}}</th>
    	<th>грн.</th>
    	<th class="operate_date"></th>
    	<th></th>
    	<th><input type="submit" value="E-mail" name="send_check"></th>
    	<th>   	</th>
    	<th></th>
    </tr>
    
    <table>
</form>

<div class="pagination">
  <ul>
  	{% if buycomponents.has_previous %}
        <li class="prev">
            <a href="?page={{ buycomponents.previous_page_number }}">&larr; Previous</a>
        </li>
    {% else %}
    <li class="prev disabled">
            <a href="?page={{ buycomponents.number }}">&larr; Previous</a>
    </li>
    {% endif %}
    
<!--     <li class="disabled"><a href="">Page {{ buycomponents.number }} of {{ buycomponents.paginator.num_pages }}.</a></li>
 -->
    {% for i in buycomponents.paginator.page_range %}
    {% ifequal i  buycomponents.number%}
    <li class="disabled"><a href="">{{ i }}.</a></li>
    {% else %}
    <li class="active"><a href="?page={{ i }}">{{ i }}.</a></li>
    {% endifequal %}
    {% endfor %}   
    
    {% if buycomponents.has_next %}
        <li class="next">
            <a href="?page={{ buycomponents.next_page_number }}">Next &rarr;</a>
        </li>
    {% else %}
    <li class="next disabled">
            <a href="?page={{ buycomponents.number }}">Next &rarr;</a>
     </li>    
    {% endif %}
  </ul>
</div>

{% orm_debug %}
<br>
</body>
</html>