<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Замовлення товару</title>

{% load poll_extras %}	

<style>
    .ui-combobox {
        position: relative;
        display: inline-block;
    }
    .ui-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
        /* adjust styles for IE 6/7 */
        *height: 1.7em;
        *top: 0.1em;
    }
    .ui-combobox-input {
        margin: 0;
        padding: 0.3em;
    }
  .ui-autocomplete-loading {
    background: white url('/media/images/ui-anim_basic_16x16.gif') right center no-repeat;
  }
  city { width: 90em; }
</style>
	
<script type="text/javascript">
$(document).ready(function() {

    $('#id_count').bind('change', function(){
    	$('#id_sum').val($('#id_price').val() * $('#id_count').val());
    	$('#result').html("Сума " + $('#id_sum').val() + " грн.")		
	});

    $('#id_price').bind('change', function(){
    	$('#id_sum').val($('#id_price').val() * $('#id_count').val());
    	$('#result').html("Сума " + $('#id_sum').val() + " грн.")		
	});

   
$( "#s_client" ).autocomplete({
            source: function( request, response ) {
                $.ajax({
                type: "GET",
                url: "/client/lookup",
				data: { query: $("#s_client").val() },
                dataType: "json",
                success: function( data ) {
                        	response( $.map( data, function( item ) {
                            return {
                                label: item.pk + ": [" + item.fields.forumname + "] "+ item.fields.name,
                                value: item.fields.name,
                                idid: item.fields.sale,
                                pk_id: item.pk                                
    							}
                        	}));                                
                            }
                    })
            },
            minLength: 3,
            select: function( event, ui ) {
            	$('#id_client').val(ui.item.pk_id);
            	$('#id_description').focus();
            	
            },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });


$( "#catalog" ).autocomplete({
            source: function( request, response ) {
                $.ajax({
                type: "GET",
                url: "/catalog/lookup",
//                data: { query: "r55c2" },
				data: { query: $("#catalog").val() },
                dataType: "json",
                success: function( data ) {
//                			alert("Все отлично ушло на сервер - " + data[0].fields.name);
                        	response( $.map( data, function( item ) {
                            return {
                                label: item.pk + ": [" + item.fields.ids + "] "+ item.fields.name,
                                value: item.fields.name,
                                idid: item.fields.price,
                                pk_id: item.pk                                
    							}
                        	}));                                
                            }
                    })
            },
            minLength: 3,
            select: function( event, ui ) {
            	$('#id_price').val(ui.item.idid);
            	$('#id_sum').val($('#id_price').val() * $('#id_count').val());
            	$('#val_id_catalog').val(ui.item.pk_id);
            	$('#id_post_id').val(ui.item.pk_id);
            	$('#id_catalog').val(ui.item.label);
            	$('#result').html("Сума " + $('#id_sum').val() + " грн.")
            	            
            },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });

$("#id_description").attr("rows", 3);

});    
    </script>


<body  onload="document.getElementById('catalog').focus()">
<div class="d-flex flex-row bd-highlight mb-3">
<div class="row w-100">
<div class="col-lg-9 col-xs-12 col-sm-12 ml-2">


<h1><span class="badge badge-secondary">
Замовлення товару
</span>
</h1>


<div class="ui-widget" style="margin-top: 2em; font-family: Arial;">    

<form action="" method="POST">
   
  <div class="form-row">
    <div class="col-md-9 col-12 mb-2">
      <label for="catalog">Товар з каталогу</label>
      {{form.post_id|add_attr:"class:form-control"}}
      <input type="text" class="form-control" id="catalog" > {# value="" required>#} 
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  </div>
  <div class="form-row">
      <div class="col-md-9 col-12 mb-2">
      <label for="s_client">Клієнт</label>
	{{form.client|add_attr:"class:form-control"}}      
      <input type="text" class="form-control " id="s_client" > {# class = "is-valid" #}
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  </div>
  
  <div class="form-row">
    <div class="col-md-9 col-12 mb-3">
      <label for="validationServer03">Примітки</label>
      {{form.description|add_attr:"class:form-control"}}
{#      <textarea class="form-control is-invalid" id="validationServer03" aria-describedby="validationServer03Feedback" required></textarea> #}
      <div id="validationServer03Feedback" class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
   </div>
   <div class="form-row">
    <div class="col-md-2 col-12 mb-3">
      <label for="validationServer04">Кількість</label>
{{form.count|add_attr:"class:form-control"}}
      <div id="validationServer04Feedback" class="invalid-feedback">
        Please select a valid state.
      </div>
    </div>
    <div class="col-md-4 col-12 mb-3">
      <label for="validationServer05">Ціна</label>
    <div class="input-group is-valid"> {# is-invalid #}
		{{form.price|add_attr:"class:form-control"}}
      <div class="input-group-append">
              {{form.currency|add_attr:"class:form-control"}}
{#        <span class="input-group-text" id="validatedInputGroupPrepend">        </span> #}
      </div>
    </div>
    <div class="invalid-feedback">
      Example invalid input group feedback
    </div>
    
    </div>
    
    <div class="col-md-3 col-12 mb-3">
      <label for="validationServer05">Сума</label>
		{{form.sum|add_attr:"class:form-control"}}
      <div id="validationServer05Feedback" class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
  </div>
  
   <div class="form-row">
    <div class="col-md-3 col-12 mb-3">
      <label for="validationServer04">Передоплата</label>
{{form.pay|add_attr:"class:form-control"}}
      <div id="validationServer04Feedback" class="invalid-feedback">
        Please select a valid state.
      </div>
    </div>
    <div class="col-md-3 col-12 mb-3">
      <label for="validationServer05">Тип оплати</label>
		{{form.cash_type|add_attr:"class:form-control"}}      
{#      <input type="text" class="form-control is-invalid" id="validationServer05" aria-describedby="validationServer05Feedback" required> #}
      <div id="validationServer05Feedback" class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
    <div class="col-md-3 col-12 mb-3">
      <label for="validationServer05">Дата</label>
      {{form.date|add_attr:"class:form-control"}}
      <div id="validationServer05Feedback" class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
  </div>
{% if request.user|has_group:"admin" %}  
  <div class="form-group">
    <div class="form-check">
{#      <input class="form-check-input is-valid" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required> #}
      	{{form.status|add_attr:"class:form-check-input"}}
      <label class="form-check-label" for="invalidCheck3">
        Статус виконання замовлення
      </label>
      <div  id="invalidCheck3Feedback" class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
{% endif %}  
  <button class="btn btn-primary w-100" type="submit">Створити замовлення</button>   
   
   
{% comment %}   
   
<table>
<tr> 
<th><label>Перелік товарів</label></th>
<td>
	<input id="catalog"   style = "width: 550px;" />
</td>    
</tr>
<tr> 
<th><label>Клієнт</label></th>
<td>
	<input id="s_client" style="width: 550px;" />
</td>    
</tr>
           {{ form.as_table }}
</table>
        
    <p><input type="submit" class="w-100" value="Save" title="Зберегти замовлення"></p>
    <input type="hidden" id="val_id_catalog" >

    <h3 id="result" style="color:red; background-color:#CCCCCC"}>Сума грн.</h3>

{% endcomment %}


</form>

</div>
</div>
</div>
    
</body>
    




