<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{% if is_workshop %}
<title>Акт виконаних робіт №000{{check_invoice.id}}</title>
{% else %}
<title>Товарний чек №000{{check_invoice.id}}</title>
{% endif %}

<link rel="stylesheet" type="text/css" href="/media/table.css">

	<link rel="stylesheet" href="/media/jquery-ui.min.css">
	<script src="/media/jquery-ui.min.js"></script>	


<style type="text/css">
   #checktable {
    width:100%; 
    padding: 0px;
    border-collapse: collapse;
    CELLSPACING:0;
    CELLPADDING:0;
    border: 2px solid white; 
   }
   #tdchecklogo {
   text-align:right;
   border: 2px solid white;
   valign:top;
   }
</style>

<script language="JavaScript">
function send_check() {
			$.ajax({
                type: "GET",
                url: "http://127.0.0.1:8123/",
                data: {user:  "ygrik", param1: "тестове поле cp1251"},
                dataType: "text",
                success:function(msg){
//                    alert("Все отлично ушло на сервер - " + msg);
//               	    $('#spinner').after('<p>ajax done</p>');
                },
                error:function(){
                    alert("При отправке возникли проблемы");
                }
            });
        
        };
        
$(document).ready(function() {        
$('#but_add_check').click(function() {
//	$("#pay_term").val($("#pay").val())
//	$("#pay").val(0);
	$("#check_form").submit();
	});
});
        
</script>

{% load template_math %} 

<table id="checktable">
<tr>
<td style="text-align:center; border: 2px solid white;" colspan="2">

{% if is_workshop %}
<h1>Акт виконаних робіт №000{{check_num}}</h1>
{% else %}
<h1>Товарний чек №000{{check_num}}</h1>
{% endif %}

<h2>від {{month}} року</h2>
</td>
</tr>

<tr>
<td style="text-align:left;" valign="bottom">
<p>Продавець: ПП. Панчук Ігор Олексійович (ІПН 3084020932)</p>
<p> Покупець: <a href="/client/{{client.id}}">{{client.name}}</a></p>
</td>
<td id="tdchecklogo" ALIGN="right">
<a href="/"><img src="/media/images/site_logo_small.gif" alt="" title="" ></a>
</td>
</tr>
</table>

<form action="/check/add/" method="POST" id="check_form">

{% if is_workshop %}
<input type="hidden" name="inv_type" id="inv_type" value="workshop" ids="" >
<table border="1" width="100%">
	<tr>
		<th>№</th>
		<th>Роботи</th>
		<th>Ціна (грн.)</th>
		<th>Сума (грн.)</th>
	</tr>
{% for item in check_invoice %}
	<tr>
		<td>{{forloop.counter}}</td>
		<input type="hidden" name="chk_inv{{forloop.counter}}" id="chk_inv{{forloop.counter}}" value="{{item.id}}" ids="" >		
		<td><a href="/worktype/view/group/{{item.work_type.work_group.id}}">{{item.work_type.name}}</a></td>
		<td>{{item.price}}</td>
		<td>{{item.price}}</td>
	</tr>
{% endfor %}
	<tr>
		<th></th>
		<th>ВСЬОГО:</th>
		<th></th>
		<th>{{sum}} грн.</th>
	</tr>

</table>

{% else %}
<input type="hidden" name="inv_type" id="inv_type" value="shop" ids="" >
<table border="1" width="100%">
	<tr>
		<th>№</th>
		<th>Назва товару</th>
		<th>Од.</th>
		<th>Кількість</th>
		<th>Ціна (грн.)</th>
		<th>Знижка %</th>
		<th>Сума (грн.)</th>
	</tr>
{% for invoice in check_invoice %}
	<tr>
		<td>{{forloop.counter}}</td>
		<input type="hidden" name="chk_inv{{forloop.counter}}" id="chk_inv{{forloop.counter}}" value="{{invoice.id}}" ids="" >
		<td><a href="/invoice/catalog/{{invoice.catalog.id}}/view/">{{invoice.catalog}}</a></td>
		<td>шт.</td>
		<td>{{invoice.count}}</td>
		<td>{{invoice.price}}</td>
		<td>{{invoice.sale}}</td>
		<td>{{invoice.sum}}</td>
	</tr>
{% endfor %}
	<tr>
		<th></th>
		<th>ВСЬОГО:</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th>{{sum}}</th>
	</tr>

</table>
</form>
{% endif %}
<p>
Всього на суму: {{str_number}} гривень {{ sum|dotPart:"2"|floatformat }} копійок
</p>
<p>
<br>
Підпис ___________________   Панчук Ігор Олексійович

</p>

{% if is_workshop %}

{% if print %}
<a href="/client/workshop/check/">Версія для друку</a>
<a href="/client/workshop/check/email/">Відправити на Email</a>
<a id="but_add_check">Друкувати чек</a>
{% endif %}

{% else %}

{% if print %}
<a href="/client/invoice/check/">Версія для друку</a>
<a href="/client/invoice/check/email/">Відправити на Email</a>
<a id="but_add_check" >Друкувати чек</a>
{% endif %}

{% endif %}
