<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="/media/css/table.css">

    <h1>Типи затрат <a href="/cost/type/add/" class="badge badge-success">Додати</a></h1>
	
<table id="iTable" class = "table table-bordered table-hover table-condensed table-sm" style="width:900px">
    <tr>
    	<th>ID</th>
    	<th>Назва</th>
    	<th>Опис</th>
    	<th>Додати</th>
    	<th>Дія</th>
    </tr>    

{% for type in costtypes %}
<tr>
	<td>       
	<a href="/cost/type/edit/{{ type.id }}">{{type.id}}</a>
	</td>
	<td>       
	{{type.name}} <span class="badge badge-info">{{type.cost_list_sum}}</span>
	{% for item in type.cost_list %}
	<br>
		[{{item}}]
	{% endfor %}		
	
	</td>
	<td>       
	{{type.description}}
	</td>
	<td>       
	<a href="/cost/add/{{ type.id }}" class="badge badge-success">Створити</a>
	</td>
	<td>
    <a href="/cost/type/delete/{{ type.id }}" class="badge badge-warning text-white">delete</a>
    </td>
</tr>
{% endfor %}    
    
    
</table>



