<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Витрати</title>

<link type="text/css" rel="stylesheet" href="/media/paginator.css">


<body>

{#<script src="/media/jquery-ui.min.js"></script>#}



<h1>
<span class="badge badge-secondary">Затрати</span>
<a href="/cost/add/" title="Додати" class="badge badge-success" data-toggle="tooltip" data-placement="bottom" data-html="true"><i class="material-icons">add_circle_outline</i> </a> 
<a href="{% url 'salary-add' %}" title="Додати зарплату" class="badge badge-success" data-toggle="tooltip" data-placement="bottom" data-html="true">Додати зарплату <i class="material-icons">add_circle_outline</i> </a>
</h1>

<h2>
    За місяць: 
	{% for i in "123456789012" %}
	{% ifequal forloop.counter sel_month %}
		<a href="{% url 'cost-list-year-month' sel_year forloop.counter %}" class="badge badge-success select">{{forloop.counter}}</a> 
    {% else %}
		<a href="{% url 'cost-list-year-month' sel_year forloop.counter %}" class="badge badge-success">{{forloop.counter}}</a> 
    {% endifequal %}
	{% endfor %}    
</h2>    

   
<h1>   
{% for y in y_list %}
{% if y.yyear == sel_year %}
	<a href="{% url 'cost-list-year' y.yyear %}" class="badge badge-success select">
{% else %}
	<a href="{% url 'cost-list-year' y.yyear %}" class="badge badge-success"> 
{% endif %}
{{y.yyear}}	<span class="badge badge-light">{{y.year_count}}</span>
</a>	
{% endfor %}
</h1>
	
    <table class="table table-bordered table-hover table-sm">
    <thead class="thead-dark">
    <tr>
    	<th>#</th>
    	<th>ID</th>
    	<th>Дата</th>
    	<th>Тип витрат</th>
    	<th>Сума (грн.)</th>
    	<th>Опис</th>
    	<th>Дія</th>
    </tr>    
	</thead>

{% for type in costs.object_list %}
<tr>
	<td>
	{{forloop.counter}}
	</td>
	<td title="редагувати" data-toggle="tooltip" data-placement="top" data-html="true">       
	<a href="/cost/edit/{{ type.id }}">{{type.id}}</a>
	</td>
	<td>       
	{{type.date|date}}
	</td>
	<td>       
	{{type.cost_type}}
	</td>
	<td>       
	{{type.price}}
	</td>
	<td>       
	{{type.description}}
	</td>
	<td>
    <a href="/cost/delete/{{ type.id }}">delete</a>
    </td>
</tr>
{% endfor %}

    <tr>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th>Сума</th>
    	<th>{{summ}} грн.</th>
    	<th></th>
    	<th></th>
    </tr>    


</table>

<div class="pagination">
  <ul>
  	{% if costs.has_previous %}
        <li class="prev">
            <a href="?page={{ costs.previous_page_number }}">&larr; Previous</a>
        </li>
    {% else %}
    <li class="prev disabled">
            <a href="?page={{ costs.number }}">&larr; Previous</a>
    </li>
    {% endif %}
    
<!--     <li class="disabled"><a href="">Page {{ costs.number }} of {{ costs.paginator.num_pages }}.</a></li>
 -->
    {% for i in costs.paginator.page_range %}
    {% ifequal i  costs.number%}
    <li class="disabled"><a href="">{{ i }}.</a></li>
    {% else %}
    <li class="active"><a href="?page={{ i }}">{{ i }}.</a></li>
    {% endifequal %}
    {% endfor %}   
    
    {% if costs.has_next %}
        <li class="next">
            <a href="?page={{ costs.next_page_number }}">Next &rarr;</a>
        </li>
    {% else %}
    <li class="next disabled">
            <a href="?page={{ costs.number }}">Next &rarr;</a>
     </li>    
    {% endif %}
  </ul>
</div>


</body>
