<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="en">
<title>Країни виробників</title>

<script type="text/javascript">
$(document).ready( function() {

	$('[data-toggle="tooltip"]').tooltip();

})
</script>

<head>
    <link rel="stylesheet" type="text/css" href="/media/table.css">
</head>


<body>
    <h1><span class="badge badge-secondary">Список країн виробників</span> 
    <a href="/country/add/" data-toggle="tooltip" data-placement="right" title="Додати країну" data-html="true">
    <i class="material-icons">add_circle</i></a></h1>

<div class="d-flex">
   <div class="mr-auto">

    <table class = "table table-bordered table-hover table-condensed">
    <tr>
    	<th>#</th>
    	<th>Назва</th>
    	<th>Дія</th>
    </tr>
    {% for country in countries %}
    <tr>
		<td>
		{% if user.is_authenticated %}        
        	<a href="/country/edit/{{ country.id }}"><i class="material-icons">edit</i></a>
		{% endif %}
		{{ forloop.counter }}
		</td>
        <td>
            {{ country }}
        </td>
    
        <td>
{% if user.is_authenticated %}        
            <a href="/country/delete/{{ country.id }}" onclick="return confirm('Видалити запис - {{country.name}}?')"><i class="material-icons">delete</i></a>
{% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>

</div>
</div>


</body>
</html>