<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="en">
<title>Країни виробників</title>

<style>
.div2 {
    float: left;
    margin-right: 10px;
}

.div1 {
    float:right;
}
</style>


<script type="text/javascript">
$(document).ready( function() {

	$('[data-toggle="tooltip"]').tooltip();

})
</script>

<head>
    <link rel="stylesheet" type="text/css" href="/media/table.css">
</head>


<body>
    <h1><span class="badge badge-secondary">Список країн виробників</span> 
    <a href="/country/add/" data-toggle="tooltip" data-placement="right" title="Додати країну" data-html="true">
    <i class="material-icons">add_circle</i></a></h1>

<div class="d-flex">
   <div class="mr-auto">

    <table class = "table table-bordered table-hover table-condensed">
    <tr>
    	<th>#</th>
    	<th>Назва</th>
    	<th colspan="2">Дія</th>

    </tr>
    {% for country in countries %}
    <tr>
		<td>
		{{ forloop.counter }}
		</td>
        <td>
            <div class="div1" >{{ country }}</div>
            <div class="div2" data-toggle="tooltip" data-placement="right" title="id of Country">
            <h4><span class="badge badge-secondary" >{{country.id}}</span></h4>
            </div>
        </td>

{% if user.is_authenticated %}    
		<td>
        	<a href="/country/edit/{{ country.id }}"><i class="material-icons">edit</i></a>
		</td>
        <td>
            <a href="/country/delete/{{ country.id }}" onclick="return confirm('Видалити запис - {{country.name}}?')"><i class="material-icons">delete</i></a>
{% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>

</div>
</div>


</body>
</html>