<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<html lang="en">
<head>
    <title>Add Country</title>
</head>
<body onload="document.getElementById('id_name').focus()">
    <h1>Додати країну до списку (Add Country)</h1>
    <form action="" method="POST">
        <table>
            {{ form.as_ul }}
        </table>
        <p><input type="submit" value="Save"></p>
    </form>
    <a href="/">back</a>
</body>
</html>



