<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="en">
<head>
    <title>Add Curency</title>
</head>
<body onload="document.getElementById('id_ids').focus()">
    <h1>Валюта Curency</h1>
    <form action="." method="POST">
        <table>
            {{ form.as_ul }}
        </table>
        <p><input type="submit" value="Save"></p>
    </form>
    
    
<br><br>
<a href="/">HOME</a>    
    
</body>
</html>



