<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="en">
<head>
    <title>Менеджери</title>
    <link rel="stylesheet" type="text/css" href="/media/table.css">
</head>
<body>
    <h1>Список менеджерів дилерів</h1>

    <table border="1">
	<tr>
    	<th>ID</th>
    	<th>ПІБ</th>
    	<th>E-mail</th>
    	
    	<th>Телефон</th>
    	<th>Компанія</th>
    	<th>Опис</th>
    	<th>Дія</th>
    </tr>
    
{% for type in dealer_managers %}
<tr>
	<td>       
    <a href="/dealer-manager/edit/{{ type.id }}">{{type.id}}</a>
	</td>
	<td>
	{{type.name}}       
	</td>
	<td>       
	{{type.email}}s
	</td>
	<td>       
	{{type.phone}}
	</td>
	<td>       
	{{type.company.name}}
	</td>
 	<td>
	{{type.description}}
	</td>
	<td>
    <a href="/dealer-manager/delete/{{ type.id }}">delete</a>
    </td>
</tr>
{% endfor %}         
    
    <table>

<br><br>
<a href="/">HOME</a>
<br>
<a href="/dealer-manager/add/">Add</a>      

</body>
</html>