<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/media/table.css">

<style>

table a{
	color: #438056; 
}

.badge-success {
	background-color: #56a06d;
}


a.badge-success:hover {
	position: relative;
	background-color: red;
}


</style>

<body>

    <h1><span class="badge badge-dark">Компанії дистрибютори/партнери</span> <a class="badge badge-success" href="/dealer/add/"><i class="material-icons">add_circle_outline</i></a></h1>

    <table class="table table-bordered table-hover">
    <thead>
    <tr>
    	<th>ID</th>
    	<th>Назва компанії</th>
    	<th>Країна</th>
    	<th>Місто</th>
    	<th>Вулиця</th>
    	<th>www</th>
    	<th>Директор</th>    
    	<th>Опис</th>	    	
    	<th>Дія</th>
    </tr>    
    </thead>
<tbody >    
{% for type in dealers %}
<tr style="background-color: {{type.color}};" {% if type.color %} class="text-white" {% endif %}> 
	<td>       
    {{forloop.counter}}
	</td>
	<td>       
	<a href="/dealer/edit/{{ type.id }}">{{type.name}}</a>
	</td>
	<td>       
	{{type.country}}
	</td>
	<td>       
	{{type.city}}
	</td>
	<td>       
	{{type.street}}
	</td>
 	<td>
	{{type.www}}
	</td>
 	<td>
	{{type.director}}
	</td>
 	<td>
	{{type.description}}
	</td>
	<td>
    <a href="/dealer/delete/{{ type.id }}" onclick="return confirm('Видалити запис?');"><i class="material-icons">delete_outline</i></a>
    </td>
</tr>
{% endfor %}        
</tbody>    
    
    <table>
      
</body>