<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Нові надходження</title>

{% load template_math %}

{# <link rel="stylesheet" type="text/css" href="/media/css/table.css"> #}
<link rel="stylesheet" href="/media/jquery-ui.min.css">

<script type="text/javascript" src="/media/jquery-ui.min.js"></script>
<script src="/media/jquery.jeditable.mini.js" type="text/javascript" charset="utf-8"></script>


<!--   <body onLoad="res()"> -->
<body>
<script type="text/javascript">

function check_invoice(element) {
//	console.log("You click on " + element.html());
//	console.log("You click on " + element.find('span').attr('ids'));
	$.ajax({
        type: "POST",
        url: "/dealer/invoice/recived/set/",
        data: {id:  element.find('span').attr('ids')},
        dataType: "json",
        success:function(msg){
        	var st = JSON.stringify(msg);
 			var p = jQuery.parseJSON(st);
            alert("Статус: " + msg.msg);
        },
        error:function(msg){
            alert("Помилка: " + msg);
        }
    });
	
};


function add_to_print_invoice_price(element) {
//	console.log("You click on " + element.html());
//	console.log("You click on " + element.find('span').attr('ids'));
	$.ajax({
        type: "POST",
        url: "/shop/price/print/add/invoice/",
        data: {id:  element.find('span').attr('ids')},
        dataType: "json",
        success:function(msg){
        	var st = JSON.stringify(msg);
 			var p = jQuery.parseJSON(st);
            alert("Статус: " + msg.msg);
        },
        error:function(msg){
            alert("Помилка: " + msg);
        }
    });
	
};



$(function() {
//    $( "#accordion" ).accordion({
//    	heightStyle: "content",
//    	collapsible: true,
//    	active: false
//    });

$("#accordion").addClass("ui-accordion ui-accordion-icons ui-widget ui-helper-reset")
  .find("h3")
    .addClass("ui-accordion-header ui-helper-reset ui-state-default ui-corner-top ui-corner-bottom")
    .hover(function() { $(this).toggleClass("ui-state-hover"); })
    .prepend('<span class="ui-icon ui-icon-triangle-1-e"></span>')
    .click(function() {
      $(this).find("> .ui-icon").toggleClass("ui-icon-triangle-1-e ui-icon-triangle-1-s").end()
        .next().toggleClass("ui-accordion-content-active").slideToggle();
        return false;
    })
    .next()
      .addClass("ui-accordion-content  ui-helper-reset ui-widget-content ui-corner-bottom")
  .hide();
      
    
    $( ".selector" ).accordion({ animate: false });
    $('#ui-id-1').remove();
    $('#ui-id-2').remove();

    $('.edit').editable('/dealer/invoice/new/edit/', {
     	 id   : 'id',
         name : 'rcount',
         
         submitdata : function() {
      	 	return {id : $(this).attr('id_rcount')};
    	 },
    	 style   : 'inherit',
         indicator : 'Saving...',
         tooltip   : 'Click to edit...',
         select : true,
         callback : function(value, settings) {
          var obj = jQuery.parseJSON(value);
          $(this).html(obj.value);
          document.getElementById('userid'+obj.id).innerHTML = obj.user;
          if (obj.value > parseFloat(document.getElementById('count'+obj.id).innerHTML)) {
          	document.getElementById('row'+obj.id).style.backgroundColor = "#f42525";
          	$("#row"+obj.id).children("td.recived").html("Надлишок");
          }
          if (obj.value == parseFloat(document.getElementById('count'+obj.id).innerHTML)) {
           	document.getElementById('row'+obj.id).style.backgroundColor = "#9fbb31";
           	$("#row"+obj.id).children("td.recived").html("Отримано");
          }    
          if (obj.value < parseFloat(document.getElementById('count'+obj.id).innerHTML)) {
           	document.getElementById('row'+obj.id).style.backgroundColor = "#FFFFFF";
           	$("#row"+obj.id).children("td.recived").html("Недостача");
          }
     	 }
     });

$("body").on("click",".locality_edit",function(e){ 	    
//$('.locality_edit').each(function() {
  $(this).editable('/catalog/edit/', {
        loadurl : '/catalog/get/locality/',
     	loadtype: 'POST',
		loaddata : {sel_id: $(this).attr('id_locality')},     	
	   	 id   : 'id',
         name : 'locality',
      
         submitdata : function() {
      	 	return {id : $(this).attr('id_locality')};
    	 },
         indicator : 'Saving...',
         select : true,
         event : "dblclick",
         style : "inherit",
         tooltip   : 'dblClick to edit...',
         callback : function(value, settings) {
         	$(this).html(value);
     	 }
 }).trigger("focus");    
});


$("#dialog").dialog({
	autoOpen: false,
      resizable: false,
      modal: true,
      buttons: {
        "Додати": function() {
//        	console.log("ATTR = " + $("#dtext").attr("ids"));        	
			$.ajax({
                type: "POST",
                url: "/shop/price/print/add/",
                data: {id:  $("#dtext").attr("ids"), url: $('#spinner').val()},
                dataType: "text",
                success:function(msg){
                    alert("Запит надіслано - " + msg);
//               	    $('#spinner').after('<p>ajax done</p>');
                },
                error:function(){
                    alert("При відправці виникли проблеми");
                }
            });

        
          $( this ).dialog( "close" );
        },
        "Відмінити": function() {
          $( this ).dialog( "close" );
        }
      }
});


$(document).on("click", ".addprice", function(event) {
    $("#dtext").html($(this).attr('href'));
    $("#dtext").attr({"ids": $(this).attr('ids')});
	var spinner = $("#spinner").spinner();
	$("#spinner").val(1);
	console.log($(this).next('td').html());
	$("#dialog").dialog("open");
	$("#catalog_name").remove();
	$("#dtext").after("<span id='catalog_name'>" + $(this).next('td').html() + "</span>");
});

$('[data-toggle="tooltip"]').tooltip();

});   
</script>
<br>    


<!-- Dialog to add print price -->
	<div id="dialog" title="Add price">
	<p style="font-weight: bold;" id="dtext">Додати цінник до списку друку:</p>
	<label for="spinner">Кількість:</label>
  	<input id="spinner" name="value" value="1">
	</div>


<div id="accordion" >

{% load poll_extras %}

{% comment %}
<h3>EMPTY{{dinvoice_list.0.invoice.origin_id}}</h3>

<div>
<table id="iTable" class = "table table-bordered table-hover table-condensed table-sm">
<tr>
	<th>#</th>
   	<th>[ID] - Назва </th>
  	<th>Кількість</th>
   	<th>Накладна</th>
   	<th>Статус</th>
   	<th>Наявна кількість</th>
   	<th>Користувач</th>
</tr>
{% endcomment %}

{% for x in dinvoice_list %}
{% ifchanged x.invoice %}
{% if forloop.counter > 1 %}
</table>
</div>
{% endif %}
<h3 class="cat_name d-flex">
	<div class="p-2">{{x.invoice.origin_id}}</div> 

	<div class=" p-2" onclick="add_to_print_invoice_price($(this))">
	<span style="text-align: right;"  ids="{{x.invoice.id}}" data-toggle="tooltip" data-placement="left" title="Додати цінники в чергу для друку" data-html="true"><i class="material-icons">print</i>	</span>
	</div>

	<div class="ml-auto p-2" onclick="check_invoice($(this))">
	<span  style="text-align: right;"  ids="{{x.invoice.id}}" data-toggle="tooltip" data-placement="left" title="Отримано та перевірено" data-html="true">
	{% if request.user|has_group:"admin" %} <i class="material-icons">done_outline</i> {% endif %}
	</span>
	</div>
</h3>
  
<div class="content">
<table id="iTable" class = "table table-bordered table-hover table-condensed table-sm">
<thead class="thead-dark text-center"> 
<tr>
	<th>#</th>
   	<th>[ID] - Назва </th>
  	<th data-toggle="tooltip" data-html="true" data-placement="left" title="Кількість товару по накладній">Кількість</th>
   	<th data-toggle="tooltip" data-html="true" data-placement="left" title="Номер накладної">#</th>
   	<th>Статус</th>
   	<th style="width:80px" data-toggle="tooltip" data-html="true" data-placement="left" title="Наявна кількість товару">Наявна кількість</th>
   	<th>Ціна</th>
   	<th data-toggle="tooltip" data-html="true" data-placement="left" title="Користувач що прийняв товар">User</th>
   	<th data-toggle="tooltip" data-html="true" data-placement="left" title="Номер ящика на складі">Ящик</th>
</tr> 
</thead>
{% endifchanged %}
{% if x.count == x.rcount %}
<tr id=row{{x.id}}  bgcolor="#9fbb31">
{% endif %}
{% if  x.count < x.rcount %}
<tr id=row{{x.id}}  bgcolor="#f42525">
{% endif %}
{% if  x.count > x.rcount %}
<tr id=row{{x.id}}>
{% endif %}

<td class="addprice" ids="{{x.catalog.id}}">{{forloop.counter}}</td>
<td class="cat_name d-flex">
	<div class="p-2">{{x.catalog}} {% if x.catalog.dealer_code %} [{{x.catalog.dealer_code}}] {% endif %}</div> 
	<div class="ml-auto p-2"><a style="text-align: right;" href="{% url 'catalog_edit' x.catalog.id %}"><i class="material-icons">edit</i></a></div>
</td>
<td id="count{{x.id}}" align="center">{{x.count}} шт.</td>
<td>{{x.invoice.origin_id}}</td>
<td class="recived" align="center">
{% ifequal x.count x.rcount %}
Отримано
{% else %}
В дорозі
{% endifequal %}
</td>

{% if user.is_authenticated %}
	<td class="edit" id_rcount="{{x.id}}" align="center">
{% else %}
	<td id_rcount="{{x.id}}" align="center">
{% endif %}       
{{x.rcount}}
</td>

<td align="center">{{x.catalog.price}} грн.</td>
<td id="userid{{x.id}}" align="center">{{x.user}}</td>
<td align="center" class="locality_edit" id_locality="{{x.catalog.id}}">
{{x.catalog.locality}}
</td>
</tr>

{% endfor %}

{% comment %}
</table>
</div>
{% endcomment %}
</table>



</div>

{% load poll_extras %}  
{% orm_debug %}
