<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Нові надходження</title>

{% load template_math %}

{# <link rel="stylesheet" type="text/css" href="/media/css/table.css"> #}
{# <link rel="stylesheet" href="/media/jquery-ui.min.css"> #}

{# <script type="text/javascript" src="/media/jquery-ui.min.js"></script> #}

<script src="/media/jquery.jeditable.mini.js" type="text/javascript" charset="utf-8"></script>


<!--   <body onLoad="res()"> -->

<style type="text/css">
/*	#searcher { position:fixed; top:50px; right:10px; } */
	#searcher { position:fixed; 
				bottom:35px; 
				right:45px; 
				border: solid;
				border-radius: 5px;
				border-color: red;
/*				z-index: 9999; */
			 }
	#div_show_all{
				position:fixed; 
				bottom:30px; 
				right:25px; 
/*				border: solid;
				border-radius: 5px;
				border-color: red;*/
	}
	
	#div_show_all{
		position:fixed;
		z-index: 1050;
	}	
	
#accordion {
	font-size: 1.05em;
	font-family: Verdana,Arial,sans-serif;  
/*	font-weight: bold; */ 
}

.edit{
	font-weight: bold; 
}

.table-hover> tbody> tr:hover{
    background-color: lightgrey; 
/*	background-color: transparent;
    opacity: 0.6; */
}

table.table-hover tbody tr td:hover {
/*    background-color: #fb9692; */ 
    background-color: darkgrey;
}
	
</style>


<script type="text/javascript">

function check_invoice(element) {
//	console.log("You click on " + element.html());
//	console.log("You click on " + element.find('span').attr('ids'));
	$.ajax({
        type: "POST",
        url: "/dealer/invoice/recived/set/",
        data: {id:  element.find('span').attr('ids')},
        dataType: "json",
        success:function(msg){
        	var st = JSON.stringify(msg);
 			var p = jQuery.parseJSON(st);
            alert("Статус: " + msg.msg);
        },
        error:function(msg){
            alert("Помилка: " + msg);
        }
    });
	
};


function add_to_print_invoice_price(element) {
//	console.log("You click on " + element.html());
//	console.log("You click on " + element.find('span').attr('ids'));
	$.ajax({
        type: "POST",
        url: "/shop/price/print/add/invoice/",
        data: {id:  element.find('span').attr('ids')},
        dataType: "json",
        success:function(msg){
        	var st = JSON.stringify(msg);
 			var p = jQuery.parseJSON(st);
            alert("Статус: " + msg.msg);
        },
        error:function(msg){
            alert("Помилка: " + msg);
        }
    });
	
};



$(function() {

$('[data-toggle="tooltip"]').tooltip();

//    $( "#accordion" ).accordion({
//    	heightStyle: "content",
//    	collapsible: true,
//    	active: false
//    });

$("#accordion").addClass("ui-accordion ui-accordion-icons ui-widget ui-helper-reset")
  .find("h3")
    .addClass("ui-accordion-header ui-helper-reset ui-state-default ui-corner-top ui-corner-bottom")
    .hover(function() { $(this).toggleClass("ui-state-hover"); })
    .prepend('<span class="ui-icon ui-icon-triangle-1-e"></span>')
    .click(function() {
      $(this).find("> .ui-icon").toggleClass("ui-icon-triangle-1-e ui-icon-triangle-1-s").end()
        .next().toggleClass("ui-accordion-content-active").slideToggle();
        return false;
    })
    .next()
      .addClass("ui-accordion-content  ui-helper-reset ui-widget-content ui-corner-bottom")
  .hide();
    
    $( ".selector" ).accordion({ animate: false });
    $('#ui-id-1').remove();
    $('#ui-id-2').remove();

    $('.edit').editable('/dealer/invoice/new/edit/', {
     	 id   : 'id',
         name : 'rcount',
         
         submitdata : function() {
      	 	return {id : $(this).attr('id_rcount')};
    	 },
    	 style   : 'inherit',
         indicator : 'Saving...',
         tooltip   : 'Click to edit...',
         select : true,
         callback : function(value, settings) {
         	 var obj = jQuery.parseJSON(value);
          	$(this).html(obj.value);
          	document.getElementById('userid'+obj.id).innerHTML = obj.user;
          	if (obj.value > parseFloat(document.getElementById('count'+obj.id).innerHTML)) {
          		document.getElementById('row'+obj.id).style.backgroundColor = "#f42525";
          		$("#row"+obj.id).children("td.recived").html("Надлишок");
          	}
          	if (obj.value == parseFloat(document.getElementById('count'+obj.id).innerHTML)) {
           		document.getElementById('row'+obj.id).style.backgroundColor = "#9fbb31";
           		$("#row"+obj.id).children("td.recived").html("Отримано");
          	}    
          	if (obj.value < parseFloat(document.getElementById('count'+obj.id).innerHTML)) {
           		document.getElementById('row'+obj.id).style.backgroundColor = "#FFFFFF";
           		$("#row"+obj.id).children("td.recived").html("Недостача");
          	}
          	document.getElementById("searcher").focus();
     	 }
     });

    
$("body").on("click",".locality_edit",function(e){ 	    
//$('.locality_edit').each(function() {
  $(this).editable('/catalog/edit/', {
        loadurl : '/catalog/get/locality/',
     	loadtype: 'POST',
		loaddata : {sel_id: $(this).attr('id_locality')},     	
	   	 id   : 'id',
         name : 'locality',
      
         submitdata : function() {
      	 	return {id : $(this).attr('id_locality')};
    	 },
         indicator : 'Saving...',
         select : true,
         event : "dblclick",
         style : "inherit",
         tooltip   : 'dblClick to edit...',
         callback : function(value, settings) {
         	$(this).html(value);
     	 }
 }).trigger("focus");    
});


$("#dialog").dialog({
	autoOpen: false,
      resizable: false,
      modal: true,
      buttons: {
        "Додати": function() {
//        	console.log("ATTR = " + $("#dtext").attr("ids"));        	
			$.ajax({
                type: "POST",
                url: "/shop/price/print/add/",
                data: {id:  $("#dtext").attr("ids"), scount: $('#spinner').val()},
                dataType: "text",
                success:function(msg){
                    alert("Запит надіслано - " + msg);
//               	    $('#spinner').after('<p>ajax done</p>');
                },
                error:function(){
                    alert("При відправці виникли проблеми");
                }
            });
        
          $( this ).dialog( "close" );
        },
        "Відмінити": function() {
          $( this ).dialog( "close" );
        }
      }
});


$(document).on("click", ".addprice", function(event) {
    $("#dtext").html($(this).attr('href'));
    $("#dtext").attr({"ids": $(this).attr('ids')});
	var spinner = $("#spinner").spinner();
	$("#spinner").val(1);
	console.log($(this).next('td').html());
	$("#dialog").dialog("open");
	$("#catalog_name").remove();
	$("#dtext").after("<span id='catalog_name'>" + $(this).next('td').html() + "</span>");
});



$(document).on("click", "#b_accordion_toggle", function(event) {
		$(".ui-accordion-header").click();
	});


// --------------------- Scan Barcode in modal window ----------------------
$(document).on("click", "#exampleModalLabel", function(event) {
	document.getElementById("myInputScannerBarcode").focus();
})

$(document).on("click", ".addbarcode", function(event) {
	if ($(this).attr("pk") != $('#exampleModalLabel').attr('pk')){
		document.getElementById("barcodes_content").innerHTML = '';
		document.getElementById("myInputScannerBarcode").value = '';
		//var o = '';
	}
	var pk = $(this).attr("pk");
	var lab_str = "[" + $(this).attr("ids")+ "] " + $(this).attr("c_name");
	//$('#exampleModalLabel').html($(this).attr("c_name"));
	$('#exampleModalLabel').html(lab_str);
	$('#exampleModalLabel').attr('pk', pk);
	$('#CatalogModalEdit').modal({
//			  backdrop: false,
			  focus: false, 
			  keyboard: true,
			});	
/*	document.getElementById("myInputScannerBarcode").focus(); 	
	document.getElementById("myInputScannerBarcode").blur(); */
	document.getElementById("myInputScannerBarcode").focus(); 
});

$('#CatalogModalEdit').on('shown.bs.modal', function (event) {
	  // do something...
	document.getElementById("myInputScannerBarcode").focus();
//	console.log("!!! SHOW modal !!!");
	})

// Ajax request to change Catalog field
function ajax_cat_req(){
	const xhttp = new XMLHttpRequest();
	xhttp.onload = function() {
		console.log("JSOn = onload");
//		document.getElementById("barcodes_content").innerHTML = this.responseText;
	  	const myObj = JSON.parse(this.responseText);
	  	//console.log("myObj = " + myObj[0].model + " - " + myObj[0].pk + " Fields[" + myObj[0].fields.ids + "]");
	  	//var s = JSON.stringify(myObj)
	  	//console.log("JSOn = " + s);
	 	document.getElementById("barcodes_content").innerHTML += "<br>>>>" + myObj.msg;
	  	if (myObj.url) {
	  		document.getElementById("barcodes_content").innerHTML += "<a href='"+myObj.url+"' > Перейти до товару </a>" ;
	  	}
	  	//if (myObj[0].model) {
	  	if (myObj.f_model) {
	  		const myModel = JSON.parse(myObj.f_model);
	  		console.log("Model = json Parse | len = " + myModel.length) //[0].fields);
//	  		console.log(JSON.stringify(myModel))
	  		console.log(Object.keys(myModel[0].fields));

	  		myModel.forEach(PrintThis);
	  		
	  		for (i in myModel){
	  			console.log("Model [ids] = " + myModel[i].fields.ids) 
	  		}
	  		 
//	  		"<br>" + myModel[0].fields.ids + " - " +myModel[0].fields.name//myObj.f_model[0];
	  		
//	  		document.getElementById("barcodes_content").innerHTML += "<br>" + myModel[0].fields.ids + " - " +myModel[0].fields.name//myObj.f_model[0];
	  		//document.getElementById("barcodes_content").innerHTML += "<a href='"+myObj.url+"' > Перейти до товару </a>" ;
	  	}
	  	//document.getElementById("myInputScannerBarcode").focus();
	}
	xhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
		      // document.getElementById("barcodes_content").innerHTML =  this.responseText;
		      console.log("State - " +  this.responseText);
		}
	};
	var c_pk = $('#exampleModalLabel').attr('pk');
	var c_val = document.getElementById("myInputScannerBarcode").value;
	const myObj = {'name': "TestName", 'pk': c_pk, 'value': c_val};
	const myJSON = JSON.stringify(myObj);
//	xhttp.open("GET", "{% url 'catalog-lookup' %}");
	xhttp.open("POST", "{% url 'catalog-lookup' %}");
//	xhttp.send();
//	xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xhttp.setRequestHeader("Content-type", "application/json");
//	xhttp.send("value="+ c_val +"&id=" + c_pk);
	xhttp.send(myJSON);
//	xhttp.send(myObj);
}


//Event of input field 
var input = document.getElementById("myInputScannerBarcode");
input.addEventListener("keypress", function(event) {
	console.log("Key pressed - " + input.value);
  if (event.key === "Enter") {
    event.preventDefault();
    //document.getElementById("myBtn").click();
//    $("#barcodes_content").append("<p>"+ input.value +"</p>");
//    console.log("Enter pressed - " + input.value);
//    alert(input.value);
    ajax_cat_req();
    input.value = '';
  }

});
//--------------------- end of Scan Barcode in modal window ----------------------
/*window.onkeydown = function(event) {
	console.log("Key pressed - " + event.keyCode);
	if (event.altKey && event.keyCode === 97) {
		  document.getElementById("searcher").focus();
	}
};*/

// ------------------- quick short combination to Focus Search input --------------
var altIsPressed = false;

$(window).keydown(function(event){
	console.log("Key pressed - " + event.keyCode);
	if(event.keyCode == 18) {
        altIsPressed = true; event.preventDefault();
    }
}); 

$(window).keyup(function(event){
    if(event.keyCode == 18) {
    altIsPressed = false; event.preventDefault();
    }    
});

$(window).on('keydown', function(e) {
  if (altIsPressed && event.keyCode === 65) {
                      event.preventDefault();
                      document.getElementById("searcher").focus();
                      return;
    }
});


// -------------- Event of SEARCH input field ----------------- 
var input = document.getElementById("searcher");
input.addEventListener("keypress", function(event) {
	console.log("Key pressed - " + input.value);
  if (event.key === "Enter") {
    	event.preventDefault();
    	
    	var s_val = input.value; // 49747
    	var tr_code = null;
    	var code = null;
    	code = $("tr[ids='"+s_val+"']");
    	if (code.is('tr')) {
			tr_code = code
    	}
    	console.debug("[ids] = " + code.is("tr"));
    	code = $("tr[dealer_code='"+s_val+"']");
    	if (code.is('tr')) {
			tr_code = code
    	}    	
    	console.log("[dealer code] = " + code.is("tr"));
    	code = $("tr[barcode='"+s_val+"']");
    	if (code.is('tr')) {
			tr_code = code
    	}    	
    	console.log("[barcode] = " + code.is("tr"));
    	code = $("tr[barcode_upc='"+s_val+"']");
    	if (code.is('tr')) {
			tr_code = code
    	}    	
    	console.log("[barcode_upc] = " + code.is("tr"));
    	code = $("tr[barcode_ean='"+s_val+"']");
    	if (code.is('tr')) {
			tr_code = code
    	}    	
    	console.log("[barcode_ean] = " + code.is("tr"));
    	
//    	console.log("[TR code] = " + tr_code.attr('id').split("row")[1]); // tr_code.is("tr"));
    	var id_val;
    	try {
    		s_id = tr_code.attr('id').split("row")[1];
	    	id_val = s_id;
    		var td_el = $("td[id_rcount='"+ id_val +"']");
    		$([document.documentElement, document.body]).animate({scrollTop: td_el.offset().top - 300 }, 500); //jquery
    		td_el.click();
    	}
    	catch (e){
    		alert("Такого коду ["+ input.value +"] не знайдено, спробуйте ще");
    		input.value = '';
    	}
    	
/*    	var s_row = document.getElementById("row"+id_val);
    	try {
	       	s_row.scrollIntoView({behavior : "smooth", block: "center" });    		
		}
		catch (e){
			s_row.scrollIntoView({behavior : "smooth" });
		}
*/
    	
    	
//    	$([document.documentElement, document.body]).animate({scrollTop: td_el.offset().top - 300 }, 500); //jquery
//    	document.getElementById("row"+s_val).scrollIntoView({behavior : "smooth", block: "center" });
    	//document.getElementById("row49747").scrollIntoView({behavior : "smooth", block: "center" });
//    ajax_cat_req();
    	input.value = '';
  }

});
// ---------------------- end ------------------------------------

}); //end Ready function   


function PrintThis(value, index, arr){
	console.log("EaCH - " + value.fields.name + " | arr =  " +  arr[index].fields.ids + "| index - " + index);
	str_input = "<br>[" + value.fields.ids + "] " + value.fields.name + " <a href='/catalog/edit/"+ value.pk  +"' >Перейти до товару?</a>"
	document.getElementById("barcodes_content").innerHTML += str_input				
}

</script>

<body>
<br>    


<!-- Dialog to add print price -->
	<div id="dialog" title="Add price">
	<p style="font-weight: bold;" id="dtext">Додати цінник до списку друку:</p>
	<label for="spinner">Кількість:</label>
  	<input id="spinner" name="value" value="1" type="number" class="w-100 pl-2">
	</div>


<div class="row" id="div_show_all">
<div class="col-6">	
	<input id="searcher" type="text" name="searcher" class="w-35" placeholder="Штрихкод. (Alt + a)">
</div>
<div class="col-6">
	<button class="w-10" id="b_accordion_toggle"><i class="material-icons">unfold_more</i></button>
</div>
</div>

<div id="accordion" >

{% load poll_extras %}



{% for x in dinvoice_list %}
{% ifchanged x.invoice %}
{% if forloop.counter > 1 %}
</table>
</div>
{% endif %}
<h3 class="cat_name d-flex">
	<div class="p-2">{{x.invoice.origin_id}}</div> 

	<div class=" p-2" onclick="add_to_print_invoice_price($(this))">
	<span style="text-align: right;"  ids="{{x.invoice.id}}" data-toggle="tooltip" data-placement="left" title="Додати цінники в чергу для друку" data-html="true"><i class="material-icons">print</i>	</span>
	</div>

	<div class="ml-auto p-2" onclick="check_invoice($(this))">
	<span  style="text-align: right;"  ids="{{x.invoice.id}}" data-toggle="tooltip" data-placement="left" title="Отримано та перевірено" data-html="true">
	{% if request.user|has_group:"admin" %} <i class="material-icons">done_outline</i> {% endif %}
	</span>
	</div>
</h3>
  
<div class="content">
<table id="iTable" class = "table table-bordered table-hover table-condensed table-sm">
<thead class="thead-dark text-center"> 
<tr>
	<th>#</th>
   	<th>[ID] - Назва </th>
  	<th data-toggle="tooltip" data-html="true" data-placement="left" title="Кількість товару по накладній">Кількість</th>
   	<th data-toggle="tooltip" data-html="true" data-placement="left" title="Номер накладної">#</th>
   	<th>Статус</th>
   	<th style="width:80px" data-toggle="tooltip" data-html="true" data-placement="left" title="Наявна кількість товару">Наявна кількість</th>
   	<th>Ціна</th>
   	<th data-toggle="tooltip" data-html="true" data-placement="left" title="Користувач що прийняв товар">User</th>
   	<th data-toggle="tooltip" data-html="true" data-placement="left" title="Номер ящика на складі" hidden>Місце</th>
</tr> 
</thead>
{% endifchanged %}
{% if x.count == x.rcount %}
<tr id=row{{x.id}}  bgcolor="#9fbb31" barcode="{{x.catalog.barcode}}" barcode_ean="{{x.catalog.barcode_ean}}" barcode_upc="{{x.catalog.barcode_upc}}" ids="{{x.catalog.ids}}" dealer_code="{{x.catalog.dealer_code}}">
{% endif %}
{% if  x.count < x.rcount %}
<tr id=row{{x.id}}  bgcolor="#f42525" barcode="{{x.catalog.barcode}}" barcode_ean="{{x.catalog.barcode_ean}}" barcode_upc="{{x.catalog.barcode_upc}}" ids="{{x.catalog.ids}}" dealer_code="{{x.catalog.dealer_code}}">
{% endif %}
{% if  x.count > x.rcount %}
<tr id=row{{x.id}} barcode="{{x.catalog.barcode}}" barcode_ean="{{x.catalog.barcode_ean}}" barcode_upc="{{x.catalog.barcode_upc}}" ids="{{x.catalog.ids}}" dealer_code="{{x.catalog.dealer_code}}">
{% endif %}

<td class="addprice" ids="{{x.catalog.id}}">{{forloop.counter}}</td>
<td class="cat_name d-flex">
<!-- 	<div class="p-2">{{x.catalog}} {#% if x.catalog.dealer_code %} [{{x.catalog.dealer_code}}] {% endif %#} [{{x.catalog.get_code|join:" ][ "}}]</div>  --> 
	<div class="p-2">{{x.catalog.manufacturer}} - {{x.catalog.name}} [ {{x.catalog.get_code|join:" ][ "}} ]</div>
	<div class="ml-auto p-2">
	<span class="badge badge-light addbarcode mr-3" pk="{{x.catalog.pk}}" ids="{{x.catalog.ids}}" c_name="{{x.catalog.name}}" title="Сканування штрихкодів" data-toggle="tooltip" data-placement="right"><i class="material-icons">barcode_reader</i></span>
	{% if x.catalog.get_storage_box_list_to_html %}
<a href="{% url 'storage-box-by-catalog' x.catalog.pk %}">
		<span class="badge badge-light box_place " title="Розташування товару:<br>{{x.catalog.get_storage_box_list_to_html|join:'<br>'}}" data-toggle="tooltip" data-placement="right" data-html="true"><i class="material-icons">shelves</i></span>
</a>
	{% endif %}
	{# <span class="badge badge-light"> #}
	<a style="text-align: right;" href="{% url 'catalog_edit' x.catalog.id %}" title="Редагувати товар" data-toggle="tooltip" data-placement="right"><i class="material-icons">edit</i></a>
	{#</span> #}
	
	</div>
</td>
<td id="count{{x.id}}" align="center">{{x.count}} шт.</td>
<td>{{x.invoice.origin_id}}</td>
<td class="recived" align="center">
{% ifequal x.count x.rcount %}
Отримано
{% else %}
В дорозі
{% endifequal %}
</td>

{% if user.is_authenticated %}
	<td class="edit" id_rcount="{{x.id}}" align="center">
{% else %}
	<td id_rcount="{{x.id}}" align="center">
{% endif %}       
{{x.rcount}}
</td>

{% if x.catalog.get_saleprice != x.catalog.price %}
<td align="center">
<div style="text-decoration: line-through;">
<s>{{x.catalog.price}} грн.</s>
</div>
<b> {{x.catalog.get_saleprice}} грн.</b>
</td>
{% else %}
<td align="center">{{x.catalog.price}} грн.</td>
{% endif %}

<td id="userid{{x.id}}" align="center">{{x.user}}</td>
<td align="center" class="locality_edit" id_locality="{{x.catalog.id}}" hidden>
{{x.catalog.locality}}
</td>
</tr>

{% endfor %}

{% comment %}
</table>
</div>
{% endcomment %}
</table>



</div>
<br>

<!-- Button trigger modal 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CatalogModalEdit">
  Launch demo modal Catalog Edit
</button>
-->

<!-- Modal dialog for Scan Barcodes -->
<div class="modal fade" id="CatalogModalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Назва товару</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="catalog_modal_content">
        Додайте штрих коди, або інші коди виробника
        <input type="text" class="form-control w-100 m-2" id="myInputScannerBarcode"> 
        
        <p>
        Результати: 
        </p>
        <div id="barcodes_content" class="text-danger">
        
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
{#        <button type="button" class="btn btn-primary">Save changes</button> #}
      </div>
    </div>
  </div>
</div>

</body>  
{% orm_debug %}
