<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script type="text/javascript">
//myFocus("search_field");

function myFocus(id){
 try{
    document.getElementById(id).focus();
 } catch(e) {
    // обработчик ошибки, можно оставить пустым
    // alert(e);
 }
}
</script>

<body onload="document.getElementById('search_field').focus()">

  <h1>Пошук накладної</h1>
  <form action="/dealer/invoice/search/result" method="GET">
    <label>Введіть номер накладної: </label>
    <input type="text" name="number" id="search_field">
    <input type="submit" value="Пошук">
  </form>



