<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Накладні від постачальників</title>


{# load template_math #}
{% load poll_extras %}

{# <link rel="stylesheet" type="text/css" href="/media/table.css"> #}

<body onLoad="res()">


<style>
 
.table .thead-light th {
  color: white;
  background-color: green;
//  border-color: #792700;
}
 
table.invoice a {
 color: black;
}
 
span,company {
	cursor: pointer;
}

 
</style>


<script type="text/javascript">

function check_invoice(element) {
//	console.log("You click on " + element.html());
	$.ajax({
        type: "POST",
        url: "/dealer/invoice/recived/set/",
        data: {id:  element.attr('ids')},
        dataType: "json",
        success:function(data){
            var st = JSON.stringify(data);
			var p = jQuery.parseJSON(st);
			if (p.status == true){
				element.html(p.msg);
				element.removeClass("badge-info");
        		element.addClass("table-success");
			}
			else{
				element.html(p.msg);
				element.removeClass("table-success");
				element.addClass("badge-info");
			}
            //alert("Повідомлення: " + p.msg);
        },
        error:function(data){
            alert("Помилка: " + data);
        }
    });
	
};


function res() {
	var sum = 0;
	var ar = $(".mc:input:checked:visible");
	$(".mc:input:checked").each(function() {
        sum = sum + parseFloat(this.value)
//		console.log("PRINT P = " + this.value)
    });

	document.getElementById('for_pay').innerHTML = sum.toFixed(2)+" грн.";
}

    
$(document).ready( function() {
	$('[data-toggle="tooltip"]').tooltip();	
	
	$("table .col_file").hide();
	//select all checkboxes
	$("#select_all").change(function(){  //"select all" change 
//	    $(".checkbox").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
	    $(".mc:input:visible").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
	    res();
	});
})


//".checkbox" change 
$('.checkbox').change(function(){ 
	//uncheck "select all", if one of the listed checkbox item is unchecked
    if(false == $(this).prop("checked")){ //if this item is unchecked
        $("#select_all").prop('checked', false); //change "select all" checked status to false
    }
	//check "select all" if all checkbox items are checked
	if ($('.checkbox:checked').length == $('.checkbox').length ){
		$("#select_all").prop('checked', true);
	}
});

</script>


    <h1>
    {% if search_text %}
    <span class="badge badge-secondary">Пошук накладної </span> <span class="badge badge-info"> {{search_text}} </span>
    {% else %}
    <span class="badge badge-secondary">Рахунки за {{sel_month}} місяць {{sel_year}} року </span>
    {% endif %} 
    <a href="/dealer/invoice/add/" class="badge badge-success" title="Створити нову накладну" data-toggle="tooltip" data-placement="bottom"><i class="material-icons">add_circle_outline</i></a>
    </h1>
<div class="row">
<div class="col-auto">
<h5><span class="badge badge-dark">Курс валют на сьогодні:</span></h5>
<table class = "table table-bordered table-hover table-sm table-dark">
<thead>
	<tr>
    	<th>ID</th>
    	<th>Дата</th>
    	<th>Валюта</th>
		<th>Курс</th>
    	<th>Дія</th>
    </tr>    
</thead>    
<tbody>       
{% for type in exchange %}
<tr>
	<td>       
    <a href="/exchange/edit/{{ type.id }}">{{type.id}}</a>
	</td>
	<td>       
	{{type.date|date:"D d M Y"}}
	</td>
	<td>       
	{{type.currency}}
	</td>
 	<td>
	{{type.value}}
	</td>
	<td>
    <a href="/exchange/delete/{{ type.id }}">
    <i class="material-icons">delete_outline</i>
    </a>
    </td>
</tr>
{% endfor %}             
</tbody>
</table>
</div>
</div>

<h2>
    За рік:
{% for item in year_list %}
	<a href="/dealer/invoice/year/{{item.0}}/view" class="btn btn-outline-info"><h6>{{item.0}} <span class="badge badge-light">{{item.1}}</span></h6></a>
{% endfor %}

</h2>
	    
<h2>
    За місяць:
{% with 1|mrange:13 as range %}    
{% for i in range %}
    <a class="badge badge-info" href="/dealer/invoice/year/{{sel_year}}/month/{{i}}/view">{{i}}</a>
{% endfor %}     
{% endwith %}
</h2>    

<form action="/payform/dealer/" method="post" name="formSum"> 

<div class="d-flex">
<div class="mr-auto">
{% if sel_year %}	
	<a class="badge badge-warning"  href="/dealer/invoice/year/{{sel_year}}/notpaid">Не оплачені,</a>
	<a class="badge badge-success"  href="/dealer/invoice/year/{{sel_year}}/paid">Оплачені,</a>
	<a class="badge badge-info"  href="/dealer/invoice/year/{{sel_year}}/sending">В дорозі</a>
{% else %}
	<a class="badge badge-warning"  href="/dealer/invoice/company/{{sel_company}}/notpaid">Не оплачені,</a>
	<a class="badge badge-success"  href="/dealer/invoice/company/{{sel_company}}/paid">Оплачені,</a>
	<a class="badge badge-info"  href="/dealer/invoice/company/{{sel_company}}/sending">В дорозі</a>
{% endif %}	
</div>
<div class="ml-auto">
  <div class="input-group ">
  <div class="input-group-prepend">
  	<span id="for_pay" style="COLOR: red" class="input-group-text font-weight-bold" >2133</span>
    <span class="input-group-text" id="basic-addon1">Грн.</span>
  </div>
 <input type="submit" value="Оплата" type="button" class="btn btn-warning font-weight-bold" >
</div>
</div>
</div>

<h5>
{% for company in company_list %}
<span class="badge company badge-dark" style="background-color: {{ company.company__color }};" onclick="$('.icompany{{company.company}}').toggle()">{{ company.company__name }}</span>
{% endfor %}    
</h5>



<table class="table table-bordered table-hover invoice">
<thead class="thead-light text-center">
	<tr>
    	<th>#</th>
    	<th onclick='$("table .col_file").toggle();'>Номери накладних</th>
    	<th>Дата</th>
    	<th>Компанія</th>
    	<th>Менеджер</th>
    	<th>Сума</th>
    	<th>Валюта</th>
		<th class="col_file">Файл</th>    
		<th>Сума в гривнях</th>	
		<th>Отримано</th>
		<th>Оплата</th>
    	<th>Опис </th>
    	<th><input type="checkbox" id="select_all" onclick="res()"/></th>
    	<th>Дія</th>
    </tr>    
</thead>
<tbody> 
{% for type in dealer_invoice %}
{% if type.payment %}
	{% if type.received %}
	<tr
	{% else %}
	<tr style="background-color: #ffff99;"
	{% endif %}
{% else %}
<tr BGCOLOR="#CCCC99"
{% endif %}

class="icompany{{type.company.id}}">

	<td>       
    {{forloop.counter}}
	</td>
	<td >
	<div class="d-flex">
	<a href="/invoice/id/{{ type.id }}/view/" class="mr-auto">{{type.origin_id}}</a>
	<a href="/dealer/invoice/edit/{{ type.id }}" class="ml-auto" title="Редагувати накладну"><i class="material-icons">edit</i></a>
	<a href="/invoice/id/{{ type.id }}/view/" title="Показати товар в накладній" data-toggle="tooltip" data-placement="bottom" data-html="true"><i class="material-icons">view_list</i></a>
	</div>
	</td>
	<td>       
	{{type.date|date:"D d M Y"}}
	</td>
	<td style="background-color: {{ type.company.color }};">       
	<a href="/dealer/invoice/company/{{type.company.id}}/view/" {% if type.company.color %} style="color: white; font-weight: bold;" {% endif %}>
	{{type.company.name}}
	</a>
	</td>
	<td>       
	{{type.manager.name}}
	</td>
	<td>       
	{{type.price}}
	</td>
	<td>       
	{{type.currency}}
	</td>
	<td class="col_file">       
	{{type.file}}
	</td>
	{% ifequal type.currency.id 2 %}
	<td>       
 	{{type.price|mul_round:exchange_d.value}} грн.
	</td>
	{% endifequal %}
	{% ifequal type.currency.id 4 %}
	<td>       
 	{{type.price|mul_round:exchange_e.value}} грн.
	</td>
	{% endifequal %}
	{% ifequal type.currency.id 3 %}
	<td>       
 	{{type.price}} грн.
	</td>
	{% endifequal %}
	<td {% if not type.received %} class="badge-info" {% endif %} ids="{{type.id}}" onclick="check_invoice($(this))">       
	{{type.received|yesno:"Отримано,В дорозі,Не забрано"}}
	</td >
	<td {% if not type.payment %} class="badge-warning" {% endif %}>       
	{{type.payment|yesno:"Оплачено,Не оплачено"}}
	</td>
 	<td>
	{{type.description}}
	</td>
	<td align="center">
{% if type.payment %}
<input class="checkbox mc" type="checkbox" id="model{{forloop.counter}}" value="{{type.price}}" onclick="res()" name="checkbox_{{ type.id }}"/>
{% else %}
<input class="checkbox mc" type="checkbox" id="model{{forloop.counter}}" value="{{type.price}}" onclick="res()" checked name="checkbox_{{ type.id }}"/>
{% endif %}
	</td>
	<td align="center">
    <a href="/dealer/invoice/delete/{{ type.id }}" onclick="return confirm('Видалити накладну?')" title="Видалити накладну" data-toggle="tooltip" data-placement="left"><i class="material-icons">delete_outline</i></a>
    </td>
</tr>
{% endfor %}             
</tbody>   
    
    	<tr>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th class="col_file"></th>
		<th>Сума</th>
		<th>{{summ}}</th>	
		<th>Борг</th>
		<th>{{summ_debt}}</th>
    	<th></th>
    	<th></th>
    	<th></th>
    </tr>    
   
    </table>
</form>
