<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="/media/css/table.css">

    <h1>Курс валют / Exchange rate <a href="/exchange/add/" class="badge badge-success">Додати</a></h1>
    
   <table  id="iTable" class = "table table-bordered table-hover table-condensed table-sm" style="width:500px">
	<tr>
    	<th>ID</th>
    	<th>Дата</th>
    	<th>Валюта</th>
		<th>Курс</th>    	
    	<th>Дія</th>
    	<th>Дія</th>
    </tr>    
    
    
    {% for cur in exchange %}
    <tr>
    	<td>
            {{ cur.id }}
        </td>
    
    	<td>
            {{ cur.date|date:"D d M Y" }}
        </td>

        <td>
            {{ cur.currency.name }}
        </td>
    	<td>
            {{ cur.value }}
        </td>
        
{% if user.is_authenticated %}
		<td class="text-center">        
            <a href="/exchange/edit/{{ cur.id }}" class="badge badge-success">edit</a>
        </td>
        <td class="text-center">
            <a href="/exchange/delete/{{ cur.id }}" class="badge badge-warning">delete</a>
        </td>
{% endif %}
		

    </tr>
    {% endfor %}
    <table>


