 <html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Main page Rivelo</title>


{# <link rel="stylesheet" href="/media/jquery-ui.min.css"> #}
{#<script type="text/javascript" src="/media/jquery-ui.min.js"></script> #}

	

  <style type="text/css">
.icon{
    height: auto; 
    width: auto; 
    max-width: 130px; 
    max-height: 130px;
    margin-left: auto;
    margin-right: auto;
/*    background: none;
    cursor: pointer; */
} 
  </style>

<script>
$(document).ready( function() {
	$('[data-toggle="tooltip"]').tooltip();
})
</script>
  
 </head>
 
 <body>
 
{% for cat in cat_list %}
 
 <a href="{% url 'category-id-list' cat.id %}" title="{{cat.name_ukr}} / {{cat.name}}" data-toggle="tooltip" data-placement="top">
 <img class="icon" src="{{cat.get_icon_name}}">
 </a>
 
{% endfor %}
 
 </body>
 

 
 
</html>