 <html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Main page Rivelo (ICONS)</title>


<style type="text/css">
.icon{
    height: auto; 
    width: auto; 
    max-width: 130px; 
    max-height: 130px;
    margin-left: auto;
    margin-right: auto;
/*    background: none;
    cursor: pointer; */
} 
</style>

<script>

</script>
  
 </head>
 
 <body>
 
{% for cat in cat_list %}
 
 <a href="{% url 'invoice-category-id-list' cat.id %}" title="{{cat.name_ukr}}  <br/> {{cat.name}}" data-toggle="tooltip" data-placement="top" data-html="true">
 <img class="icon" src="{{cat.get_icon_name}}">
 </a>
 
{% endfor %}
 
 </body>
 

 
 
</html>