<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  
<link rel="shortcut icon" type="image/png" href="/media/images/favicon.ico"/>
  
{# <html xmlns="http://www.w3.org/1999/xhtml" lang="en">#}
<html lang="uk">
 
   <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.6, shrink-to-fit=no"> 

    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="/media/css/jquery-ui.min.css">
<link rel="stylesheet" href="/media/css/bootstrap.min.css">

<link type="text/css" rel="stylesheet" href="/media/css/main_ui.css">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Option 2: Separate Popper and Bootstrap JS -->

<script type="text/javascript" src="/media/js/jquery.js"></script>
<script type="text/javascript" src="/media/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/media/js/bootstrap.bundle.min.js"></script>

  </head>
 
 {% comment %}
 
 <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

<link rel="stylesheet" href="/media/css/bootstrap.min.css">  


{# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"> #}   

<script type="text/javascript" src="/media/js/jquery.js"></script>
<script type="text/javascript" src="/media/js/bootstrap.bundle.min.js"></script>
<script src="/media/js/popper.min.js"></script>

{% endcomment %}

{#<link rel="stylesheet" href="/media/css/tooltip.css">#} 


<style type="text/css">
#footer { /* Нижний блок */
    background: #333; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    color: #fff; /* Цвет текста */
/*    clear: left;  Отменяем действие float */
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.content {
  padding: 0px;
  padding-top: 5px;
}

.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

</style>

<script type="text/javascript">

$(function () {
	  $('[data-toggle="tooltip"]').tooltip();
	})

</script>
  
 </head>
 
 <body>
 <div class="content container-fluid">
 
<!--  <div id="header"> {% include "top.html" %} </div> --> 
{# <div id="header1"> {% include "top.html" %} {% include "menu.html" %} </div> #}
  
{#<div class="row no-gutters"> </div> #}
{% include "top.html" %}


<div class="row no-gutters">
<div class="col">
{#  <div class="col-xs-12">{% include "menu.html" %}</div> #} 
{% include "menu.html" %}</div>
</div>
  
  <div id="main_content"> 
      {% include weblink %}
  </div> 

<div class="row">  
  <div class="col-xs-12 col-md-12" id="footer">&copy; Rivelo shop </div>
</div>

</div>
</body>

{% comment %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endcomment %}


</html>