<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Інвентеризація товару {{title_text}}</title>

<link rel="stylesheet" type="text/css" href="/media/table.css">


<style>
        .desc-fixed-width {
            width: 150px; /* Fixed width */
        }
</style>

<script type="text/javascript">

$(document).ready(function() {

$('[data-toggle="tooltip"]').tooltip();
	
 $(".inv_del").click(function(){
 if (confirm("Ви дійсно бажаєте видалити запис?")) {
 	console.log($(this).parents("tr"));
 	var tr_del = $(this).parents("tr");
	
		$.ajax({
                type: "POST",
                url: "/inventory/delete/",
                data: {id:  $(this).attr("inv_id") },
                dataType: "text",
                success:function(data){
                	console.log("ajax work");
                	tr_del.remove();
                	console.log($(this).parents("tr"));
                },
                error:function(data){
                    alert("Виникли проблеми з сервером" + data);
                }
            });	
 }
 });

function addZero(i) {
    if (i < 10) {
        i = "0" + i;
    }
    return i;
}

 $(".inv_set").click(function(){
 if (confirm("Ви дійсно бажаєте змінити статус?")) {
 	console.log($(this).parents("tr"));
 	var tr_set = $(this).parents("tr");
 	var td_set = $(this)
	
		$.ajax({
                type: "POST",
                url: "/inventory/set/",
                data: {id:  $(this).attr("inv_id") },
                dataType: "text",
                success:function(data){
                	console.log("ajax work");
                	tr_set.attr("bgColor", "#4A4A4A");
                	 
                	var now = new Date(); 
  					var datetime = now.getDate()+'/'+(now.getMonth()+1)+'/'+now.getFullYear(); 
  					datetime += ' '+addZero(now.getHours())+':'+addZero(now.getMinutes())+':'+addZero(now.getSeconds());
  					
  					td_set.html(data); 
  					td_set.closest("td").prev().html(datetime);
                },
                error:function(data){
                    alert("Виникли проблеми з сервером" + data);
                }
            });	
 }
 });



});


function change_count(item){
    var rcount, pk
    pk = $(item).parents('tr').attr('cat_id');
    rcount = $(item).html();
    
$.ajax({
    type: "POST",
        url: "{% url 'cat_set_attr' %}",
        data: {id:  pk, count: rcount},
        dataType : 'json',
        success:function(json){
            if (json['status'] == true) {
                $(item).hide();
                var td_html = $(item).parents('td');
                td_html.html($(item).html());
//              console.log("Кількість змінено");
            }
            else {
                console.log('JSON = ' + json['error'] + ' STATUS = ' + json['status'] );
                alert("Помилка: " + json['msg']);
            }
        },
        error:function(){
            alert("При відправці виникли проблеми");
        }
});
};

</script> 

{% load poll_extras %}    


<h1><span class="badge badge-secondary">Інвентеризація товару 
{% if title_text %}
</span>
<span class="badge badge-danger">
{{title_text}}
</span>
{% endif %} 

 
{% if request.user|has_group:"admin" %}
<a href="/inventory/autocheck/" class="badge badge-success"><i class="material-icons">update</i>Закрити позиції</a>
{% endif %}
</h1>



<table id="iTable" class = "table table-bordered table-hover table-condensed">
	<tr>
		<th>#</th>
		<th>Виробник</th>
		<th>Товар</th>
		<th>Кількість</th>
		<th>Кількість в базі</th>
		<th class="desc-fixed-width">Опис</th>
{#		<th>Статус виконання</th> #}
	</tr>


	{% for element in cat_list %}
	
    <tr cat_id={{element.id}}>
{% comment %}	
	{% if element.count > element.real_count and element.check_all %}
	<tr BGCOLOR="#8bf68d" cat_id={{element.id}}>
	{% endif %}
	{% if element.count < element.real_count and element.check_all %}
	<tr BGCOLOR="#FFB7B7">
	{% endif %}
	{% if element.count == element.real_count and element.check_all %}
	<tr BGCOLOR="#feff81">
	{% endif %}
{% endcomment %}
		
		<td title="{{ element.id }}" data-toggle="tooltip" data-placement="left">{{ forloop.counter }}</td>
		<td>
		<a href="{% url 'inventory-by-manufacturer' element.manufacturer.id %}" > 
		{{ element.manufacturer.name }}
		</a>
		</td>
		<td>
		<a href="{% url 'serch-invoicecomponennts-by-id' element.pk %}" title="Перейти до товару" data-toggle="tooltip" data-placement="left"><span><i class="material-icons">forward</i></span></a> 
		[{{element.ids}}] {{ element.name }}
		<a href = "{% url 'inventory-by-catalog-id' element.id %}" class="badge badge-pill badge-dark"> Детально </a>
{#		<a href = "{% url 'fix_inventory' element.catalog__id %}" class="badge badge-pill badge-danger"> Inventory </a> #}
		</td>
		<td align="center">
		{{ element.count }}
        {% if element.count != element.get_realshop_count %}
        <span class="badge badge-warning" onclick="change_count(this)"> {{element.get_realshop_count}} </span>
        {% endif %}
		</td>
		<td align="center">{{ element.get_realshop_count }}</td>
		<td>{{ element.description }}</td>

{#        <td><span class="inv_set" inv_id="{{element.id}}" style="cursor: pointer;">{{ element.check_all|yesno:"Повністю,Частково"}}</span>		</td> #}
		
	</tr>
	{% endfor %}
	

	<table>
	

{% comment %}
{% endcomment %}
<div class="row">
<div class="col-auto mb-1">
<nav aria-label="Page navigation example">
  <ul class="pagination pagination-sm pg-blue w-100" id="parent_paging">
    {% if cat_list.has_previous %}
        <li class="page-item">
            <a href="?{{GET_params.urlencode}}&amp;page={{ cat_list.previous_page_number }}" class="page-link">&larr; Previous</a>
        </li>
    {% else %}
    <li class="page-item disabled">
            <a href="?{{GET_params.urlencode}}&amp;page={{ cat_list.number }}" class="page-link">&larr; Previous</a>
    </li>
    {% endif %}

    {% for i in cat_list.paginator.page_range %}
    {% ifequal i  cat_list.number%}
    <li class="page-item disabled"><a href="" class="page-link">{{ i }}.</a></li>
    {% else %}
    <li class="page-item active"><a href="?{{GET_params.urlencode}}&amp;page={{ i }}" class="page-link">{{ i }}.</a></li>
    {% endifequal %}
    {% endfor %}   
    
    {% if cat_list.has_next %}
    <li class="page-item">
        <a href="?{{GET_params.urlencode}}&amp;page={{ cat_list.next_page_number }}" class="page-link">Next &rarr;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a href="?{{GET_params.urlencode}}&amp;page={{ cat_list.number }}" class="page-link">&larr; Previous</a>
     </li>    
    {% endif %}
  </ul>
</nav>
</div>
</div>
	
	
<span class="badge badge-info">Загальна кількість:
<span class="badge badge-light">{{list_count}}</span>
з {{cat_count}}
</span>  

	
{% orm_debug %}	
