<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Інвентеризація товару</title>

<link rel="stylesheet" type="text/css" href="/media/table.css">


<script type="text/javascript">

$(document).ready(function() {

$('[data-toggle="tooltip"]').tooltip();
	
 $(".inv_del").click(function(){
 if (confirm("Ви дійсно бажаєте видалити запис?")) {
 	console.log($(this).parents("tr"));
 	var tr_del = $(this).parents("tr");
	
		$.ajax({
                type: "POST",
                url: "/inventory/delete/",
                data: {id:  $(this).attr("inv_id") },
                dataType: "text",
                success:function(data){
                	console.log("ajax work");
                	tr_del.remove();
                	console.log($(this).parents("tr"));
                },
                error:function(data){
                    alert("Виникли проблеми з сервером" + data);
                }
            });	
 }
 });

function addZero(i) {
    if (i < 10) {
        i = "0" + i;
    }
    return i;
}

 $(".inv_set").click(function(){
 if (confirm("Ви дійсно бажаєте змінити статус?")) {
 	console.log($(this).parents("tr"));
 	var tr_set = $(this).parents("tr");
 	var td_set = $(this)
	
		$.ajax({
                type: "POST",
                url: "/inventory/set/",
                data: {id:  $(this).attr("inv_id") },
                dataType: "text",
                success:function(data){
                	console.log("ajax work");
                	tr_set.attr("bgColor", "#4A4A4A");
                	 
                	var now = new Date(); 
  					var datetime = now.getDate()+'/'+(now.getMonth()+1)+'/'+now.getFullYear(); 
  					datetime += ' '+addZero(now.getHours())+':'+addZero(now.getMinutes())+':'+addZero(now.getSeconds());
  					
  					td_set.html(data); 
  					td_set.closest("td").prev().html(datetime);
                },
                error:function(data){
                    alert("Виникли проблеми з сервером" + data);
                }
            });	
 }
 });


});
</script> 

{% load poll_extras %}    

<h1><span class="badge badge-secondary">Інвентеризація товару (Помилки/Зміна статусу)</span> 
{% if request.user|has_group:"admin" %}
<a href="/inventory/autocheck/" class="badge badge-success"><i class="material-icons">update</i>Закрити позиції</a>
{% endif %}
</h1>

<table id="iTable" class = "table table-bordered table-hover table-condensed">
	<tr>
		<th>#</th>
		<th>Виробник</th>
		<th>Товар</th>
		<th>Кількість</th>
		<th>Кількість в базі</th>
		<th>Опис</th>
		<th>Дата підрахунку</th>
		<th>Користувач</th>
		<th>Дата редагування</th>
		<th>Статус виконання</th>
{% if request.user|has_group:"admin" %}		<th></th> {% endif %}		
	</tr>

{% if request.user|has_group:"admin" %}

	{% for element in return_list %}
	{% if element.count > element.real_count and element.check_all %}
	<tr BGCOLOR="#8bf68d">
	{% endif %}
	{% if element.count < element.real_count and element.check_all %}
	<tr BGCOLOR="#FFB7B7">
	{% endif %}
	{% if element.count == element.real_count and element.check_all %}
	<tr BGCOLOR="#feff81">
	{% endif %}
		
		<td title="{{ element.id }}" data-toggle="tooltip" data-placement="left">{{ forloop.counter }}</td>
		<td>{{ element.catalog__manufacturer__name }}</td>
		<td><a href="/invoice/search/result/?name=&id={{element.catalog__ids}}" title="Перейти до товару" data-toggle="tooltip" data-placement="left"><span><i class="material-icons">forward</i></span></a> [{{element.catalog__ids}}] {{ element.catalog__name }}</td>
		<td align="center">{{ element.count }}</td>
		<td align="center">{{ element.real_count }}</td>
		<td>{{ element.description }}</td>
		<td>
		{% if element.mdate %}
		{{ element.mdate|date:"l j/m/Y" }} - {{ element.mdate|time:"H:i" }}
		{% else %}
		{{ element.date|date:"l j/m/Y" }} - {{ element.date|time:"H:i" }}
		{% endif %}
		</td>
		<td align="center">{{ element.user__username }}</td>
		<td>{{ element.edit_date }}</td>		
		<td>
		<span class="inv_set" inv_id="{{element.id}}" style="cursor: pointer;">{{ element.check_all|yesno:"Повністю,Частково"}}</span>
		</td>
		

		<td align="center">
		<span class="inv_del" inv_id="{{element.id}}" style="cursor: pointer;"><i class="material-icons">delete</i></span>
		</td>
	
	</tr>
	{% endfor %}
{% else %}

	{% for element in return_list %}
	{% if element.count > element.real_count and element.check_all %}
	<tr BGCOLOR="#8bf68d">
	{% endif %}
	{% if element.count < element.real_count and element.check_all %}
	<tr BGCOLOR="#FFB7B7">
	{% endif %}
	{% if element.count == element.real_count and element.check_all %}
	<tr BGCOLOR="#feff81">
	{% endif %}
		
		<td title="{{ element.id }}" data-toggle="tooltip" data-placement="left">{{ forloop.counter }}</td>
		
		<td>{{ element.catalog__manufacturer__name }}</td>
		<td><span title="Перейти до товару" data-toggle="tooltip" data-placement="left"><i class="material-icons">forward</i></span> [{{element.catalog__ids}}] {{ element.catalog__name }} </td>
		<td align="center">{{ element.count }}</td>
		<td align="center">{{ element.real_count }}</td>
		<td>{{ element.description }}</td>
		<td>{{ element.mdate|date:"l j/m/Y" }} - {{ element.mdate|time:"H:i" }}</td>
		<td align="center">{{ element.user__username }}</td>
		<td>{{ element.edit_date }}</td>		
		<td>
			<span class="inv_set" inv_id="{{element.id}}" style="cursor: pointer;">{{ element.check_all|yesno:"Повністю,Частково"}}</span>
		</td>

	</tr>
	{% endfor %}

	
{% endif %}	
	<table>
	<br>
	
{% orm_debug %}	
