<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="en">
<head>
    <title>Інвентеризація товару {{catalog}}</title>
{#    <link rel="stylesheet" type="text/css" href="/media/table.css"> #}
    
</head>

<style>

table.table-dark td  a {
    color: white !important;
    font-weight: bold;
}

table a.dark_link {
    color: gray !important;
}

</style>


<script>

$(document).on("click", ".inv_del", function(event) {
	var tmp = $(this).parents("tr").children('td.inv_name').html();
	 if (confirm("Ви дійсно бажаєте видалити запис?" + tmp)) {
	    var tr_del = $(this).parents("tr");
	        $.ajax({
	                type: "POST",
	                url: "/inventory/delete/",
	                data: {id:  $(this).attr("inv_id") },
	                dataType: "text",
	                success:function(data){
	                    tr_del.remove();
	                },
	                error:function(data){
	                    alert("Виникли проблеми з сервером" + data);
	                }
	            }); 
	 }
});

$(document).on("click", ".sbox_edit", function(event) {
    var sboxName = $(this).parents("td").parents("tr").children('td.sbox_name').html();
    var sboxCount = $(this).parents("td").parents("tr").children('td.box_count').html();
    var sboxRealCount = $(this).parents("td").parents("tr").children('td.box_rcount').html();
    var sboxLastCount = $(this).parents("td").parents("tr").children('td.box_lcount').html();
    var sb_id = $(this).parents("td").parents("tr").attr("id_sbox");
    
    $("#sBoxModalLabel").html("Змінити кількість товару у ящику: " + sboxName);
    $('#real_box_count').val(sboxRealCount);        
    $('#last_count').val(sboxLastCount);
//    $('#sbox_count').val(sboxCount);
    $('#box_count').val(Number(sboxCount));
    $('#sbox_id').val(sb_id);    
});


$(document).ready(function() {

//$(document).on('submit', '#post-form',function(e){
$(document).on('click', '#sub_but', function(e){
    $.ajax({
        type:'POST',
        url:'{% url "storagebox-edit" %}',
        data:{
            sbox_id: $('#sbox_id').val(),
            count:$('#box_count').val(),
            real_count:$('#real_box_count').val(),
            last_count: $('#last_count').val(),
            description:$('#description').val(),
            action: 'post'
        },
        success:function(json){
            
            $(".modal-footer").prepend('<div class="col-md-12" id="show_status">'+
                '<div class="row no-gutters border rounded">' +
                    '<div class="col p-4 d-flex flex-column position-static">' +
                        '<h3 class="mb-0">' + json.status + '</h3>' +
                        '<p class="mb-auto">' + json.description + '</p>' +
                    '</div>' +
                '</div>' +
            '</div>' 
            )
    var sboxCount = json.count
    if (sboxCount) {
        $("tr[id_sbox='"+ $('#sbox_id').val() +"']").children('td.box_count').html(sboxCount);
        $("tr[id_sbox='"+ $('#sbox_id').val() +"']").children('td.box_count').addClass('bg-info')
    }
    var sboxRealCount = json.real_count
    if (sboxRealCount) { 
        $("tr[id_sbox='"+ $('#sbox_id').val() +"']").children('td.box_rcount').html(sboxRealCount);
        $("tr[id_sbox='"+ $('#sbox_id').val() +"']").children('td.box_rcount').addClass('bg-info');
    }
    var sboxLastCount = json.last_count
    if (sboxLastCount) { 
        $("tr[id_sbox='"+ $('#sbox_id').val() +"']").children('td.box_lcount').html(sboxLastCount);
        $("tr[id_sbox='"+ $('#sbox_id').val() +"']").children('td.box_lcount').addClass('bg-info');
    }
            
            document.getElementById("post-form").reset();
        },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
});


$('#sBoxModal').on('hidden.bs.modal', function (event) {
  // do something...
  console.log("HIDe modal");
  $("#show_status").remove()
})

$('#sBoxModal').on('show.bs.modal', function (event) {
  console.log("Show modal");
  
})

}); // end Ready
</script>

{#aria-hidden="true"#}
<div class="modal fade" id="sBoxModal" tabindex="-1" aria-labelledby="exampleModalLabel" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sBoxModalLabel">Змінити кількість товару у ящику</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span >&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" id="post-form">
           <div class="form-group">
            <label for="box_count" class="col-form-label">Кількість в ящику:</label>
          <input type="number" id="box_count" name="count" min="0" max="1000" step="1" value="0" class="form-control">
          </div>
          <div class="form-group">
            <label for="real_box_count" class="col-form-label">Кількість у базі:</label>
          <input type="number" id="real_box_count" name="real_count" min="0" max="1000" step="1" value="0" class="form-control">
          </div>
          <div class="form-group">
            <label for="last_count" class="col-form-label">Кількість при останніх змінах:</label>
            <input type="number" class="form-control" id="last_count" name="last_count" value="0">
          </div>
          <div class="form-group">
            <label for="description" class="col-form-label">Примітки:</label>
            <textarea class="form-control" id="description" name="description"></textarea>
          </div>
          <div class="form-group">
          <label for="bdaymonth" class="col-form-label">Month:</label>
          <input type="month" id="bdaymonth" name="bdaymonth" class="form-control">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Відхилити</button>
        <button  class="btn btn-primary " type="button" id="sub_but">Змінити</button>
      </div>
      <input type="hidden" id="sbox_id" class="form-control">
      </form>
    </div>
  </div>
</div>


{% load poll_extras %}
<body>
<div class="container-fluid ">
<div class="row justify-content-around">
<div class="col">
    <h1>Інвентеризація товару:
    <a href="{% url 'serch-invoicecomponennts-by-id' catalog.pk %}" title="Перейти до товару" data-toggle="tooltip" data-placement="bottom">
    {{catalog}}
    </a>
    </h1>

<hr>
<h1>Кількість в базі:
<span class="badge badge-secondary">{{catalog.get_realshop_count}}</span>
Кількість в ящиках:
<span class="badge badge-secondary">{{inv_list.first.get_count_in_all_boxes.count_sum}}</span>
{% if inv_list.first.get_count_in_all_boxes.count_sum|sub:catalog.get_realshop_count < 0 %}
<span class="badge badge-danger">Різниця:</span>
<a href="/client/invoice/catalog/{{catalog.pk}}/add/" title="Списати товар" data-toggle="tooltip" data-placement="bottom"> 
<span class="badge badge-danger">{{inv_list.first.get_count_in_all_boxes.count_sum|sub:catalog.get_realshop_count|floatformat:"0"}}</span>
</a>
{% elif inv_list.first.get_count_in_all_boxes.count_sum|sub:catalog.get_realshop_count > 0 %}
<span class="badge badge-warning">Різниця:</span>
<a href="/invoice/catalog/{{catalog.id}}/add/" title="Додати товар" data-toggle="tooltip" data-placement="bottom">
<span class="badge badge-warning">{{inv_list.first.get_count_in_all_boxes.count_sum|sub:catalog.get_realshop_count|floatformat:"0"}}</span>
</a>
{% endif %}
</h1>
<hr>

{% for attr in catalog.get_attribute_values %}
<span class="badge badge-info mr-2">
{{attr.attr_name}}: {{attr.value}}
</span>
{% endfor %}
</div>
</div>

<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Показати продажі та надходження
  </button>
</p>

  <div class="row justify-content-around collapse width" id="collapseWidthExample">
    <div class="col-md-6 ml-auto">
<h3>
<span class="badge badge-dark">Продажі:</span>
</h3>
{% for ci in catalog.get_ClientInvoice_list %}
<h5>
<span class="badge badge-dark mr-2">
[{{ci.date|date:"d/m/Y"}}] {{ci.client}} - {{ci.count}} шт. <span class="badge badge-light">{{ci.get_ci_sbox|join:"<br>"}}
({{ci.shop}})
</span>
</span>
</h5>
{% endfor %}
    </div>

    <div class="col-md-6 ml-auto p-2">
<h3>
<span class="badge badge-success">Надходження:</span>
</h3>      
{% for icl in catalog.get_InvoiceComponent_list %}
<h5>
<span class="badge badge-success mr-2">
[{{icl.date|date:"d/m/Y"}}] {{icl.invoice.company}} / # {{icl.invoice.origin_id}} - {{icl.count}} шт. <<{{icl.shop}}>> User: {{icl.user}}
</span>
</h5>
{% endfor %}
    </div>
  </div>
  


<div class="row mt-2">
<div class="col">
    <table class="table table-hover" class="ml-1 mb-2">
    <thead>
    <tr>
    	<th scope="col">#</th>
    	<th scope="col">Назва</th>
    	<th scope="col">Кількість</th>
    	<th scope="col">Кількість в базі</th>
    	<th scope="col">Дата</th>
    	<th scope="col">Користувач</th>
    	<th scope="col">Дія</th>
    </tr>
    </thead>
    {% for item in inv_list %}
    <tr
    {% if item.check_all %}
    class="table-warning"
    {% endif %}
    >
		<td>
		{{ forloop.counter }}
		</td>
        <td class="inv_name">
            {{item.pk}} - {{ item.box_id }}
        </td>
        <td>
{{ item.count }}
        </td>
        <td>
        {{ item.real_count }}
        </td>
        <td>{{ item.date }}</td>
        <td>{{ item.user }}</td>
        <td>
        <a class="dark_link" href="{% url 'inventory-edit' item.pk %}" title="Редагувати" data-toggle="tooltip" data-html="true" data-placement="left">
        <i class="material-icons">edit</i>
        </a>
        <span class="inv_del" inv_id="{{item.pk}}" style="cursor: pointer;"><i class="material-icons" title="Видалити" data-toggle="tooltip" data-html="true" data-placement="left">delete_outline</i></span>
        </td>
        
    </tr>
    {% endfor %}
    <table>


<h2><span class="badge badge-dark">Кількість товару у ящику:</span></h2>
<table class="table table-sm table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Місце</th>
      <th scope="col">кількість</th>
      <th scope="col">реальна кількість</th>
      <th scope="col">Остання кількість</th>
      <th scope="col">Дата створення</th>
      <th scope="col">Дата оновлення</th>
      <th scope="col">Користувач</th>
      <th scope="col">User (update)</th>
{% if request.user|has_group:"admin" %}
      <th scope="col" class="b_edit">Edit</th>
{% endif %}
      <th scope="col">History</th>
    </tr>
  </thead>
  <tbody>
{% for box in boxes %}
    <tr id_sbox="{{box.pk}}">
      <th scope="row">{{forloop.counter}}</th>
      <td class="sbox_name">
      <a href="/storage/box/{{box.box_name.pk}}/list/" title="Перейти до ящика: {{box.box_name}} " data-toggle="tooltip" data-html="true" data-placement="bottom">
      {{box.box_name}}
      </a>
      </td>
      <td class="box_count">{{box.count}}</td>
      <td class="box_rcount">{{box.count_real}}</td>
      <td class="box_lcount">{{box.count_last}}</td>
      <td>{{box.date_create}}</td>
      <td>{{box.date_update}}</td>
      <td>{{box.user}}</td>
      <td>{{box.user_update}}</td>
{% if request.user|has_group:"admin" %}
      <td class="b_edit">
       <button type="button" class="btn btn-primary sbox_edit" data-toggle="modal" data-target="#sBoxModal">Edit</button>
      </td>
{% endif %}      
      <td>
        {% if box.description %}
        <div class="alert alert-primary" role="alert">
        {{box.description}}
        </div>      
        {% endif %}
       {{box.history|linebreaks}}
      </td>
    </tr>
    <tr>
{% endfor %}
  </tbody>
</table>

</div>
</div>



</div>

</body>
</html>
