<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Інвентеризація товару</title>

{# <link rel="stylesheet" type="text/css" href="/media/table.css"> #}
{# <link type="text/css" rel="stylesheet" href="/media/paginator.css"> #}

{# <link rel="stylesheet" href="/media/jquery-ui.min.css"> #} 
{# <script type="text/javascript" src="/media/jquery-ui.min.js"></script> #} 

<script src="/media/jquery.jeditable.mini.js" type="text/javascript" charset="utf-8"></script>

{% load poll_extras %}

<style>

.table-yellow 
{
	background-color: #feff81;
}

table a 
{
	color: black;
	font-weight: bold;
}


#parent_paging {
	flex-wrap: wrap;
	flex-direction: row;
//	justify-content: space-between;
//	display: flex;
//	border: 1px solid #696989;
/*	height: 200px;
	width: 330px;*/
	margin: auto;
}

.pagination > li > a
{
    background-color: white;
//    color: blue !important;
}

.pagination > li 
{
    background-color: white;
    color: blue !important;
}


.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: purple;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: purple;
    border: solid 1px purple;
}

.pagination > .active > a:hover
{
    background-color: purple;
    border: solid 1px purple;
}

.pagination>li.active > a {
  background-color: white !important;
}

.pagination > li.disabled > a {
    background-color: #325D88 !important;
    color: white !important;
    border: solid 1px purple;
}

.modal fade {
	width: 50%;
}


</style>


<script type="text/javascript">

$(document).ready(function() {

	$('[data-toggle="tooltip"]').tooltip();
	
 $("body").tooltip({
	    selector: '[data-toggle="tooltip"]'
 });	
	
 
$(document).on("click", ".inv_del", function(event) {
if (confirm("Ви дійсно бажаєте видалити запис? \n" + $(this).parents("tr").find('td.cat_name').text() )) {
 	var tr_del = $(this).parents("tr");
	
		$.ajax({
                type: "POST",
                url: "/inventory/delete/",
                data: {id:  $(this).attr("inv_id") },
                dataType: "text",
                success:function(data){
                	tr_del.remove();
                },
                error:function(data){
                    alert("Виникли проблеми з сервером. " + data.responseText);
                    console.log( data );
                }
            });	
 }
 });

 
function addZero(i) {
    if (i < 10) {
        i = "0" + i;
    }
    return i;
}

 $(".inv_set").click(function(){
 if (confirm("Ви дійсно бажаєте змінити статус?")) {
// 	console.log($(this).parents("tr"));
 	var tr_set = $(this).parents("tr");
 	var td_set = $(this)
	
		$.ajax({
                type: "POST",
                url: "/inventory/set/",
                data: {id:  $(this).attr("inv_id"), status: true},
                dataType: "text",
                success:function(data){
//                	console.log("ajax work");
                	tr_set.attr("bgColor", "#4A4A4A");
                	 
                	var now = new Date(); 
  					var datetime = now.getDate()+'/'+(now.getMonth()+1)+'/'+now.getFullYear(); 
  					datetime += ' '+addZero(now.getHours())+':'+addZero(now.getMinutes())+':'+addZero(now.getSeconds());
  					
  					td_set.html(data); 
  					td_set.closest("td").prev().html(datetime);
                },
                error:function(data){
                    alert("Виникли проблеми з сервером" + data);
                }
            });	
 }
 });

 /*
	$("body").on('click', '.inv_set', function() {
		if (confirm("Ви дійсно бажаєте змінити статус?")) {
		 	var tr_set = $(this).parents("tr");
		 	var td_set = $(this);
			
				$.ajax({
		                type: "POST",
		                url: "/inventory/set/",
		                data: {id:  $(this).parents("tr").attr("cid"), status: true },
		                dataType: "text",
		                success:function(data){
		                	tr_set.css('background-color','#7be58a'); 
		  					td_set.html('Змінено = ' + data); 
		  					td_set.css('background-color','#7be58a'); 
		                },
		                error:function(data){
		                    alert("Виникли проблеми з сервером" + data);
		                }
		            });	
		 }
	}); 
*/
	

$("body").on("click",".count_edit",function(e){ 	   
	console.log("Click this = " + $(this).parent('tr').attr('inv_id'));
	  $(this).editable('/inventory/set/', {
	        loadurl : '/inventory/count/get/',
	     	loadtype: 'POST',
			loaddata : {sel_id: $(this).parent('tr').attr('inv_id')},     	
		   	 id   : 'id',
	         name : 'count',
	         submitdata : function() {
	      	 	return {id : $(this).parent('tr').attr('inv_id')};
	    	 },
	         indicator : 'Saving...',
	         select : true,
	         event : "dblclick",
	         style : "inherit",
	         tooltip   : 'dblClick to edit...',
	         callback : function(value, settings) {
	         	$(this).html(value);
	     	 }
	 }).trigger("focus");    
	});


$(document).on("click", ".inv_show", function(event) {
//	var Id = $(this).parents('tr').attr('id');
	var Id = $(this).attr('cat_id');
	$('#table_body').empty();
        $.ajax({
            type: "POST",
            url: "/inventory/get/",
            data: { catalog_id: Id },
            dataType: "json",
            success:function(msg){
            	$.each(msg,function(index,item){
					var fcol = ' data-toggle="tooltip" data-html="true" data-placement="left" title="' + item['user__username'] + '">' + item['date'];
					var cdesc
					if (item['box_id__name']) {
						cdesc = item['box_id__name']; //item['description'];
					}
					else {
						cdesc = item['description'];
					}
					var tr_cls = 'class="table-success"';
					if (item['check_all']) {
						var class_str = 'class="table-success"'
						if (item['count'] > item['real_count']) {
							class_str = 'class="table-yellow"'	
						} 
						if (item['count'] < item['real_count']) {
							class_str = 'class="table-warning"'	
						} 
						tr_cls = '<tr ' +class_str+ ' cid="' + item['id'] + '">';
					}
					else {
						tr_cls = '<tr class="" cid="' + item['id'] + '">';
					} 
					var count = '<td style="font-weight: bold; text-align: center;"><abbr title="' + item['edit_date'] + '">' + item['count'] + 'шт.</abbr>';
{% if request.user|has_group:"admin" %}						
            	    $('#table_body').append(tr_cls+ '<td '+ fcol +'</td><td>'+ cdesc +'</td>' + count +'</td><td class="inv_set" style="cursor: pointer;">'+ item['check_all'] +'</td><td>'+item['real_count']+' шт.</td><td data-toggle="tooltip" data-html="true" data-placement="top" title="Видалити"><span class="inv_del" inv_id="'+item['id']+'" style="cursor: pointer;"><i class="material-icons">delete_outline</i></span></td>></tr>');
{% else %}                	    
            	    $('#table_body').append(tr_cls+ '<td '+ fcol +'</td><td>'+ cdesc +'</td>' + count +'</td><td>'+ item['check_all'] +'</td><td>'+item['real_count']+' шт.</td></tr>');
{% endif %}
				$('#inventoryTitle').html("[" +item['catalog__ids'] + "] " + item['catalog__name']);
                });

            },
            error:function(msg){
                alert(msg.responseText);
            }
        });      
	
		
});

	 


});	
</script> 




<body>

<div class="ml-2 p-2 bd-highlight">

<h1><span class="badge badge-success">Інвентеризація товару</span>
<span class="badge badge-success">{{sel_day}}.{{sel_month}}.{{sel_year}}</span> 
{% if request.user|has_group:"admin" %}
<a href="/inventory/list"><i class="material-icons">calendar_today</i></a>
{% endif %} 
</h1>

{% if request.user|has_group:"admin" %}

{% for shop in shop_list %}
    <a class="badge 
{% if shop.id|floatformat == sel_shop|floatformat %}
    badge-success
{% else %}
    badge-secondary
{% endif %}
    " href="{% url 'inventory-by-shop-year-month-day' shop.id sel_year sel_month sel_day %}"> {{shop}} </a>
{% endfor %}


<h1>
За рік:
{% for item in year_list %}
	<a href="/inventory/year/{{item.0}}/list" class="btn btn-outline-info"><font size=5>{{item.0}}</font> <font size=2><span class="badge badge-light">{{item.1}}</span></font></a>
{% endfor %}
</h1>

<h2>
За місяць:
{% for item in month_list %}
	<a href="/inventory/year/{{sel_year}}/month/{{item.0}}/list" class="badge badge-warning">{{item.0}} <font size=2><span class="badge badge-light">{{item.1}}</span></font></a>
{% endfor %}
</h2>

<h2>
За день:
{% for item in day_list %}
	<a href="/inventory/year/{{sel_year}}/month/{{sel_month}}/day/{{item.0}}/list" class="badge badge-success">{{item.0}} <font size=2><span class="badge badge-light">{{item.1}}</span></font></a>
{% endfor %}
</h2>

{% endif %}

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="inventoryTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inventoryTitle">Інвентеризація</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="dialog_body">
<table class="table table-bordered table-hover table-condensed table-sm">
<thead>
  <tr>
    <th>Дата</th>
    <th>Місце</th>
    <th>Кількість</th>
    <th>Статус</th>
    <th>Кількість в базі</th>
{% if request.user|has_group:"admin" %}	    
    <th>Дія</th>
{% endif %}    
  </tr>
</thead>
  <tbody id="table_body">
  
  </tbody>
</table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- end Modal -->

<table class = "table table-bordered table-hover table-condensed table-sm">
<thead class="thead-dark">
	<tr>
		<th>#</th>
		<th class="text-center">id</th>
		<th class="text-center">Товар</th>
		<th class="text-center">К-ть</th>
		<th class="text-center">К-ть<br> в базі</th>
		<th class="text-center">Місце</th>
		<th class="text-center">Дата<br>підрахунку</th>
		<th class="text-center">Користувач</th>
{#		<th class="text-center">Дата редагування</th> #}
		<th class="text-center">Статус</th>
		<th>+/-</th>
		<th></th>
	</tr>
</thead>
	
	{% for element in return_list %}
	<tr inv_id="{{element.id}}" 
	{% if element.count > element.real_count and element.check_all %}
		BGCOLOR="#feff81"
	{% endif %}
	{% if element.count < element.real_count and element.check_all %}
{#		BGCOLOR="#FFB7B7" #}
		class="table-warning"
	{% endif %}
	{% if element.count == element.real_count and element.check_all %}
		BGCOLOR="#8bf68d"
	{% endif %}
		>
		<td>{{ forloop.counter }}</td>
		<td>
<button type="button" class="btn btn-primary inv_show" data-toggle="modal" data-target="#exampleModalLong" cat_id="{{element.catalog.id}}">
  {{ element.id }}
</button>
		</td>
		<td class="cat_name">
		<a href="/invoice/search/result/?name=&id={{element.catalog.ids}}" title="Перейти до товару" data-toggle="tooltip" data-placement="left" data-html="true"><span><i class="material-icons">forward</i></span></a>
		{{ element.catalog }}
		<a href = "{% url 'fix_inventory' element.catalog.id %}" class="badge badge-pill badge-danger"> Inventory </a>
		<a href = "{% url 'inventory-by-catalog-id' element.catalog.id %}" class="badge badge-pill badge-dark"> Детально </a>
		<a href = "{% url 'catalog_edit' element.catalog.id %}" class="badge badge-light" title="Редагувати товар" data-toggle="tooltip" data-placement="bottom" data-html="true"><i class="material-icons">edit</i></a>
		</td>
		<td align="center" class="count_edit">
		<a href="/client/invoice/catalog/{{element.catalog.id}}/add/" title="Списати товар" data-toggle="tooltip" data-placement="left"> {{ element.count }} </a>
		<span class="badge badge-dark" title="Кількість порахованого товару за поточний {{sel_year}} рік" data-toggle="tooltip" data-placement="left">{{element.get_count_sum_by_cur_year.count_sum}}</span>
		</td>
		<td align="center">
		<a href="/invoice/catalog/{{element.catalog.id}}/add/" title="Додати товар" data-toggle="tooltip" data-placement="left">{{ element.real_count }}</a>
		</td>
		
		<td class="text-center">
		{% if element.box_id.id %}
		 <a href="{% url 'storage-box-itemlist' element.box_id.id %}" >{{element.box_id}}</a>
		 <span class="badge badge-primary" title="Залишок товару в ящику" data-toggle="tooltip" data-placement="bottom">{{element.get_count_in_box.count_sum}}</span>
		 <span class="badge badge-success" title="Сумарний залишок товару у ящиках" data-toggle="tooltip" data-placement="bottom">{{element.get_count_in_all_boxes.count_sum}}</span>
		{% else %}
		<p>{{ element.description }}</p>
		{% endif %}
		</td>
		
		<td title="останнє редагування - {{ element.edit_date|date:"l j/m/Y" }}" data-toggle="tooltip" data-placement="bottom" class="text-center">
{#		{{ element.date|date:"l j/m/Y" }} - {{ element.date|time:"H:i" }} #}
		{{ element.date|date:"j/m/Y" }}<br>{{ element.date|time:"H:i" }}
		</td>
{#		<td align="center">{{ element.edit_date }}</td> #}
		<td class="text-center">{{ element.user }}</td>		
		<td class="text-center">
		<span class="inv_set" inv_id="{{element.id}}" style="cursor: pointer;" >{{ element.check_all|yesno:"Повністю,Частково"}}</span>
		</td>
		<td align="center">
		{% if element.get_count_in_all_boxes.count_sum > element.real_count %}
		<h5>
		<a href="/invoice/catalog/{{element.catalog.id}}/add/" title="Додати товар" data-toggle="tooltip" data-placement="left">
			<span class="badge badge-success">+{{element.get_count_in_all_boxes.count_sum|sub:element.real_count}}</span> 
{#            <span class="badge badge-success">+{{element.get_count_sum_by_cur_year.count_sum|sub:element.real_count}}</span> #}
            <span class="badge badge-dark" title="Продано за рік" data-toggle="tooltip" data-placement="top">{{element.get_sale_count_by_cur_year.count_sum|default:''}}</span>
            {% if element.get_sale_count_by_cur_year.count_sum %}
            <span class="badge badge-danger">{{element.get_count_sum_by_cur_year.count_sum|sub:element.get_sale_count_by_cur_year.count_sum|sub:element.real_count}}</span>
            {% endif %}
		</a>
		</h5>
		{% endif %}
		{% if element.get_count_in_all_boxes.count_sum < element.real_count %}
		<h5>
		<a href="/client/invoice/catalog/{{element.catalog.id}}/add/" title="Списати товар" data-toggle="tooltip" data-placement="left"> 
			<span class="badge badge-warning">{{element.get_count_in_all_boxes.count_sum|sub:element.real_count}}</span>
			<span class="badge badge-dark" title="Продано за рік" data-toggle="tooltip" data-placement="top">{{element.get_sale_count_by_cur_year.count_sum|default:''}}</span>
		</a>
		</h5>
		{% endif %}
		
		</td>
	{% if request.user|has_group:"seller" %}
		<td align="center">
		{% if request.user|has_group:"admin" %}
			 <span class="inv_edit" inv_id="{{element.id}}" style="cursor: pointer;" data-toggle="tooltip" data-html="true" data-placement="right" title="Редагувати">
			 <a href="{% url 'inventory-edit' element.id %}" >
			 <i class="material-icons">edit</i>
			 </a>
			 </span>	
		{% endif %}	
		<span class="inv_del" inv_id="{{element.id}}" style="cursor: pointer;" data-toggle="tooltip" data-html="true" data-placement="right" title="Видалити"><i class="material-icons">delete_outline</i></span>
		</td>
	{% endif %}
	</tr>
	{% endfor %}
	</table>


{% comment %}
<div class="row">
<div class="col-auto mb-1">
<nav aria-label="Page navigation example">
  <ul class="pagination pagination-sm pg-blue w-100" id="parent_paging">
  	{% if return_list.has_previous %}
        <li class="page-item">
            <a href="?{{GET_params.urlencode}}&amp;page={{ return_list.previous_page_number }}" class="page-link">&larr; Previous</a>
        </li>
    {% else %}
    <li class="page-item disabled">
            <a href="?{{GET_params.urlencode}}&amp;page={{ return_list.number }}" class="page-link">&larr; Previous</a>
    </li>
    {% endif %}

    {% for i in return_list.paginator.page_range %}
    {% ifequal i  return_list.number%}
    <li class="page-item disabled"><a href="" class="page-link">{{ i }}.</a></li>
    {% else %}
    <li class="page-item active"><a href="?{{GET_params.urlencode}}&amp;page={{ i }}" class="page-link">{{ i }}.</a></li>
    {% endifequal %}
    {% endfor %}   
    
    {% if return_list.has_next %}
    <li class="page-item">
	    <a href="?{{GET_params.urlencode}}&amp;page={{ return_list.next_page_number }}" class="page-link">Next &rarr;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
    	<a href="?{{GET_params.urlencode}}&amp;page={{ return_list.number }}" class="page-link">&larr; Previous</a>
     </li>    
    {% endif %}
  </ul>
</nav>
</div>
</div>
{% endcomment %}

</div>

</body>	
	