<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="en">
<head>
    <title>Список товару</title>
    <link rel="stylesheet" type="text/css" href="/media/table.css">
</head>
<body>
<br>


    <h1>Список наявного товару по накладній № {{dinvoice.origin_id}} ({{dinvoice.company}})</h1>
    
{% if perms.accounting.add_preorder %}  

    <table border="1">
	<tr>
    	<th>#</th>	
    	<th>ID</th>
    	<th>Накладна</th>
    	<th>Товар</th>
    	<th align="center">Кількість</th>
    	<th align="center">Наявність</th>
    	<th>Ціна</th>
    	<th>Валюта</th>
    	<th>Сума</th>
{% if perms.accounting.add_preorder %}    	
    	<th>Прайс</th>    	    	
{% endif %}
    	<th>Дата</th>
    	<th>Опис</th>
    	<th>Дія</th>
    </tr>
    
{% load template_math %}    
    
{% for type in list %}
<tr>
	<td>
	{{forloop.counter}}
	</td>
	<td>       
    <a href="/invoice/edit/{{type.id}}">{{type.id}}</a>
	</td>
 	<td>
	{{type.invoice__origin_id}} - {{type.invoice__company__name}} - {{type.invoice__manager__name}} [{{type.invoice__price}} {{type.invoice__currency__ids_char}}]        
	</td>	
	<td>       
	[{{type.catalog__ids}}] {{type.catalog__manufacturer}} - {{type.catalog__name}}
	</td>
	<td align="center">       
	<a href="/client/invoice/catalog/{{type.catalog__id}}/add">{{type.count}} </a>
	</td>
	<td align="center"><abbr title="{{type.user__username}}"> {{type.rcount}}  </abbr></td>
	<td>       
	{{type.catalog__price}}
	</td>
	<td>       
	{{type.catalog__currency__name}}
	</td>
	<td align="center">       
	{{type.catalog__price|mul:type.count}}
	</td>
{% if perms.accounting.add_preorder %}
	<td align="center">       
	{{type.price}} ({{type.currency__ids_char}})
	</td>
{% endif %}
	<td> 
	{{type.date}}
	</td>
	<td>
	{{type.description}}
	</td>
	<td>
    <a href="/invoice/delete/{{type.id}}">delete</a>
    </td>
</tr>
{% endfor %}         
	<tr>
    	<th></th>	
    	<th></th>
    	<th></th>
    	<th></th>
    	<th>Кількість: {{countsum}}</th>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th>{{allpricesum}} грн.</th>
{% if perms.accounting.add_preorder %}
    	<th>{{alloptsum}}</th>
{% endif %}
    	<th></th>    	
    	<th></th>
    	<th></th>
    </tr>
    <table>

{% else %}

    <table border="1">
	<tr>
    	<th>#</th>	
    	<th>ID</th>
    	<th>Накладна</th>
    	<th>Товар</th>
    	<th align="center">Кількість</th>
    	<th align="center">Наявність</th>
    	<th>Ціна</th>
    	<th>Валюта</th>
    	<th>Сума</th>
    	<th>Дата</th>
    	<th>Опис</th>
    </tr>
    
{% load template_math %}    
    
{% for type in list %}
<tr>
	<td>
	{{forloop.counter}}
	</td>
	<td>       
    {{type.id}}
	</td>
 	<td>
	{{type.invoice__origin_id}} - {{type.invoice__company__name}} - {{type.invoice__manager__name}}        
	</td>	
	<td>       
	[{{type.catalog__ids}}] {{type.catalog__manufacturer}} - {{type.catalog__name}}
	</td>
	<td align="center">       
	<a href="/client/invoice/catalog/{{type.catalog.id}}/add">{{type.count}} </a>
	</td>
	<td align="center"><abbr title="{{type.user__username}}"> {{type.rcount}}  </abbr></td>
	<td>       
	{{type.catalog__price}}
	</td>
	<td>       
	{{type.catalog__currency__name}}
	</td>
	<td align="center">       
	{{type.catalog__price|mul:type.count}}
	</td>
	<td> 
	{{type.date}}
	</td>
	<td>
	{{type.description}}
	</td>
</tr>
{% endfor %}         
	<tr>
    	<th></th>	
    	<th></th>
    	<th></th>
    	<th></th>
    	<th>Кількість: {{countsum}}</th>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th>{{allpricesum}} грн.</th>

    	<th></th>    	
    	<th></th>
    </tr>
    <table>

{% endif %}

{% load poll_extras %}    
{% orm_debug %}

</body>
</html>