<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="en">
<head>
    <title>Список товару</title>
{#    <link rel="stylesheet" type="text/css" href="/media/css/table.css"> #}
</head>
<body>

{% load poll_extras %}
{% load template_math %}    

{% if dinvoice.origin_id %}
    <h1><span class="badge badge-success">Список наявного товару по накладній: </span> <span class="badge badge-info">{{dinvoice.origin_id}} ({{dinvoice.company}})</span></h1>
{% else %}
	<h1>Надходження товару: <br> [{{list.0.catalog.ids}} / {{list.0.catalog.dealer_code}}] {{list.0.catalog.name}} </h1>
{% endif %}


    
{% if perms.accounting.add_preorder %}  

    <table id="iTable" class = "table table-bordered table-hover table-condensed">
    <thead class="thead-dark">
	<tr>
    	<th>#</th>	
    	<th>ID</th>
    	<th>Накладна</th>
    	<th>Товар</th>
    	<th align="center">Кількість</th>
    	<th align="center">Наявність</th>
    	<th>Ціна</th>
    	<th>Валюта</th>
    	<th>Сума</th>
{% if request.user|has_group:"admin" %}
    	<th>Прайс</th>    	    	
{% endif %}
    	<th>Дата</th>
    	<th>Опис</th>
    	<th>Дія</th>
    </tr>
    </thead>
<tbody>    
{% for type in list %}
{% if type.count > type.rcount %}
<tr class="table-warning">
{% elif type.count < type.rcount %}
<tr class="table-success">
{% else %}
<tr>
{% endif %}
	<td>
	{{forloop.counter}}
	</td>
	<td>       
    <a href="/invoice/edit/{{type.id}}">{{type.id}}</a>
	</td>
 	<td>
{% if request.user|has_group:"admin" %} 	
	<a href="{% url 'dealer_invoice_edit' type.invoice.id %}" > {{type.invoice.origin_id}} - {{type.invoice.company.name}} - {{type.invoice.manager.name}} [{{type.invoice.price}} {{type.invoice.currency.ids_char}}] </a>
{% else %}
	{{type.invoice.origin_id}} - {{type.invoice.company.name}} - {{type.invoice.manager.name}} [{{type.invoice.price}} {{type.invoice.currency.ids_char}}]
{% endif %}	        
	</td>	
	<td>       
	[{{type.catalog.ids}} {% if type.catalog.dealer_code %} / {{type.catalog.dealer_code}} {% endif %}] {{type.catalog.manufacturer}} - {{type.catalog.name}}
	</td>
	<td align="center">       
	<a href="/client/invoice/catalog/{{type.catalog.id}}/add">{{type.count}} </a>
	</td>
	<td align="center"><abbr title="{{type.user.username}}"> {{type.rcount}}  </abbr></td>
	<td>       
	{{type.catalog.price}}
	</td>
	<td>       
	{{type.catalog.currency.name}}
	</td>
	<td align="center">       
	{{type.catalog.price|mul:type.count}}
	</td>
{% if request.user|has_group:"admin" %}
	<td align="center">       
	{{type.price}} ({{type.currency.ids_char}}) [{{type.get_uaprice}}]
	<br>{{type.ci_sum}}
	</td>
{% endif %}
	<td> 
	{{type.date}}
	</td>
	<td>
	{{type.description}} 
	</td>
	<td>
{% if request.user|has_group:"admin" %}
    <a href="/invoice/delete/{{type.id}}"><i class="material-icons">delete_outline</i></a>
{% endif %}
    </td>
</tr>
{% endfor %}         
	<tr>
    	<th></th>	
    	<th></th>
    	<th></th>
    	<th></th>
    	<th>Кількість: {{countsum}}</th>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th>{{allpricesum}} грн.</th>
{% if request.user|has_group:"admin" %}
    	<th>{{alloptsum}}</th>
    	<th>{{ua_optsum}}грн.</th>
{% endif %}
    	<th></th>
    	<th></th>
    </tr>
</tbody>    
    </table>

{% else %}

    <table class = "table table-bordered table-hover table-condensed">
    <thead class="thead-dark">
	<tr>
    	<th>#</th>	
    	<th>ID</th>
    	<th>Накладна</th>
    	<th>Товар</th>
    	<th align="center">Кількість</th>
    	<th align="center">Наявність</th>
    	<th>Ціна</th>
    	<th>Валюта</th>
    	<th>Сума</th>
    	<th>Дата</th>
    	<th>Опис</th>
    </tr>
    </thead>
    

<tbody>    
{% for type in list %}
<tr>
	<td>
	{{forloop.counter}}
	</td>
	<td>       
    {{type.id}}
	</td>
 	<td>
	{{type.invoice.origin_id}} - {{type.invoice.company.name}} - {{type.invoice.manager.name}}        
	</td>	
	<td>       
	[{{type.catalog.ids}} {% if type.catalog.dealer_code %} / {{type.catalog.dealer_code}} {% endif %}] {{type.catalog.manufacturer}} - {{type.catalog.name}}
	</td>
	<td align="center">       
	<a href="/client/invoice/catalog/{{type.catalog.id}}/add">{{type.count}} </a>
	</td>
	<td align="center"><abbr title="{{type.user.username}}"> {{type.rcount}}  </abbr></td>
	<td>       
	{{type.catalog.price}}
	</td>
	<td>       
	{{type.catalog.currency.name}}
	</td>
	<td align="center">       
	{{type.catalog.price|mul:type.count}}
	</td>
	<td> 
	{{type.date}}
	</td>
	<td>
	{{type.description}}{{type.ci_sum_list}}
	</td>
</tr>
{% endfor %}         
	<tr>
    	<th></th>	
    	<th></th>
    	<th></th>
    	<th></th>
    	<th>Кількість: {{countsum}}</th>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th>{{allpricesum}} грн.</th>
{% if perms.accounting.add_preorder %}
    	<th>{{alloptsum}}</th>
{% endif %}
    	<th></th>    	
    	<th></th>
    </tr>
	</tbody>    
    </table>

{% endif %}


{% orm_debug %}

</body>
</html>