<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="en">

<head>
    <title>Список товару</title>
    <link rel="stylesheet" type="text/css" href="/media/table.css">
{#    <link type="text/css" rel="stylesheet" href="/media/paginator.css"> #}
</head>
<body>

    <h1><span class="badge badge-success">Звіт по наявному товару</span></h1>

{% load template_math %}

    <table class = "table table-bordered table-hover table-condensed">
    <thead>
	<tr>
    	<th>#</th>	
    	<th>ID</th>
    	<th>Товар</th>
    	<th align="center">Кількість</th>
    	<th>Ціна</th>
    	<th>Валюта</th>
    	<th>Сума</th>    	
    </tr>
    </thead>
<tbody>    
    
{% for item in catalog %}
<tr>
	<td>
	{{forloop.counter}}
	</td>
	<td>
	{{item.id}}
	</td>
	<td>
	{{item.name}}
	</td>
	<td align="center">
	{{item.count}} - [{{item.client_count}}] {{item.client_price}}
	</td>
	<td>
	{{item.price}}
	</td>
	<td>
	грн.
	</td>
	<td>
	{{item.price|mul:item.count}}
	</td>
	
</tr>
{%endfor%}
    
	<tr>
    	<th></th>	
    	<th></th>
    	<th>Кількість найменувань: {{counter}} одиниць(я)</th>
    	<th>Кількість: {{countsum}}</th>
    	<th></th>
    	<th></th>
    	<th>{{allpricesum}} грн.</th>    	
    </tr>
    </tbody>
    </table>


<div class="row">
<div class="col">

<nav aria-label="pages" class="table-responsive mb-2">
  <ul class="pagination mb-0">
  	{% if catalog.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ catalog.previous_page_number }}">&larr; Previous</a>
        </li>
    {% else %}
    <li class="page-item disabled">
            <a class="page-link" href="?page={{ catalog.number }}">&larr; Previous</a>
    </li>
    {% endif %}
    
    {% for i in catalog.paginator.page_range %}
    {% ifequal i  catalog.number%}
    <li class="page-item disabled">
    <a class="page-link" href="">{{ i }}.</a>
    </li>
    {% else %}
    <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}.</a></li>
    {% endifequal %}
    {% endfor %}   
    
    {% if catalog.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ catalog.next_page_number }}">Next &rarr;</a>
        </li>
    {% else %}
    <li class="page-item disabled">
            <a class="page-link" href="?page={{ catalog.number }}">Next &rarr;</a>
     </li>    
    {% endif %}
  </ul>
</nav>
      
</div>      
</div>

</body>
</html>