<html><body>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{% include "top.html" %}
     

        <br> 
        <h3>Виробники (Bike Company):</h3>
        <a href="/manufacturer/add/">Додати компанію</a>
        <br> 
        <a href="/manufacturer/search/">Пошук виробника</a> 
        <br>        
        <a href="/manufacturer/view/">Список виробників (Company List)</a>        

        <br> 
        <h3>Типи запчастин (Type of Bike components list):</h3>
        <a href="/category/add/">add Category</a>
        <br>
        <a href="/category/search/">search Category</a> 
        <br>        
        <a href="/category/view/">List</a>        

        <br> 
        <h3>Каталог запчастин (Bike components list):</h3>
        <a href="/catalog/add/">Додати продукт</a>
        <br>
        <a href="/catalog/search/">search Category</a> 
        <br>        
        <a href="/catalog/view/">Список продукції</a>        

        <br> 
        <h3>Країни:</h3>
        <a href="/country/add/">Додати країну</a>
        <br>
        <a href="/country/search/">search Country</a> 
        <br>        
        <a href="/country/view/">Список країн</a>        

        <br> 
        <h3>Валюта (Currency):</h3>
        <a href="/curency/add/">add Category</a>
        <br>
        <a href="/curency/search/">search Category</a> 
        <br>        
        <a href="/curency/view/">List</a>        

        <br> 
        <h3>Курс обміну валюти (Exchange):</h3>
        <a href="/exchange/add/">add Exchange</a>
        <br>
        <a href="/exchange/search/">search Category</a> 
        <br>        
        <a href="/exchange/view/">Exchange List</a>        

        <br> 
        <h3>Дилери (Dealer):</h3>
        <a href="/dealer/add/">add Dealer</a>
        <br>
        <a href="/dealer/search/">search Dealer</a> 
        <br>        
        <a href="/dealer/view/">Dealer List</a>        

        <br> 
        <h3>Dealer Managers:</h3>
        <a href="/dealer-manager/add/">add Dealer Manager</a>
        <br>
        <a href="/dealer-manager/search/">search Dealer Manager</a> 
        <br>        
        <a href="/dealer-manager/view/">Dealer Managers List</a>        

        <br> 
        <h3>Велосипед (Bicycle):</h3>
        <a href="/bicycle/add/">Додати велосипед</a>
        <br>
        <a href="/bicycle/search/">search bikes model</a> 
        <br>        
        <a href="/bicycle/view/">Список велосипедів</a>        

        <br> 
        <h3>Типи велосипедів:</h3>
        <a href="/bicycle-type/add/">Додати Тип</a>
        <br>
        <a href="/bicycle-type/search/">search Typer</a> 
        <br>        
        <a href="/bicycle-type/view/">Список типів велосипедів</a>        

        <h3>Розміри велосипедних рам (Bicycle Frame Size):</h3>
        <a href="/bicycle-framesize/add/">Створення нового розміру рами (Add bicycle frame size)</a>
        <br>
        <a href="/bicycle-framesize/search/">Пошук розміру</a> 
        <br>        
        <a href="/bicycle-framesize/view/">Список розмірів рам (List frame sizes)</a>        

        <br> 
        <h3>Прихід велосипедів в магазин:</h3>
        <a href="/bicycle-store/add/">Додати велосипед до магазину</a>
        <br>
        <a href="/bicycle-store/search/">Пошук велосипеду</a> 
        <br>        
        <a href="/bicycle-store/view/">Список велосипедів</a>        

        <br> 
        <h3>Клієнти:</h3>
        <a href="/client/add/">Додати клієнта</a>
        <br>
        <a href="/client/search/">Пошук клієнтів</a> 
        <br>        
        <a href="/client/view/">Список клієнтів</a>        

        <br> 
        <h3>Борги клієнтів:</h3>
        <a href="/clientdebts/add/">Додати борг клієнту</a>
        <br>
        <a href="/clientdebts/search/">Пошук клієнтів</a> 
        <br>        
        <a href="/clientdebts/view/">Список клієнтських боргів</a>

        <br> 
        <h3>Кредет клієнтів:</h3>
        <a href="/clientcredits/add/">Додати кредет клієнту</a>
        <br>
        <a href="/clientcredits/search/">Пошук клієнтів</a> 
        <br>        
        <a href="/clientcredits/view/">Список кредетів клієнтів</a>


</body></html>
