<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style>
.ilogo {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

.div1 {
    float: left;
	
}

.div2 {
    float:right;
    font-size: 14px;
}
</style>

<script>
jQuery(document).ready(function ($) {
	
	$('[data-toggle="tooltip"]').tooltip();	

});
</script>

<head>
    <link rel="stylesheet" type="text/css" href="/media/table.css">

</head>
<body>

    <h1><span class="badge badge-secondary">Список виробників</span> <a href="/manufacturer/add/" class="badge badge-success"><i class="material-icons">add_circle_outline</i></a></h1>
    
{#    <h2>{{ request.path }}</h2> #}



    <table class="table table-striped table-hover " >
<thead>    
	<tr>
    	<th>#</th> 
    	<th>Назва компанії</th>
    	<th>Адреса</th>
    	<th>Логотип</th>
    	<th>Країна</th>
    	<th>Дія</th>
    </tr>
</thead>

<body>    
{% for type in manufactures %}
<tr>
	<td>
	{{forloop.counter}}
	</td>
	<td>
	<div class="div1">
	<a href="/catalog/manufacture/{{ type.id }}/view/" title="Список продукції даного виробника" >
	</div>
	<div class="div2">
	{{type.name}}
	</div>
	</a>
	<h4><span class="badge badge-secondary" title="id of manufacturer">{{type.id}} </span></h4>
	</td>
	<td>       
	<a href="{{type.www}}" title="Перейти на домашню сторінку виробника">{{type.www}}</a>
	</td>
	<td>       
	{% if type.logo %}
	<img src="/media/{{type.logo}}" class="ilogo">
	{% else %}
		<img src="/media/upload/manufecturer/nologo.jpg" class="ilogo">
	{% endif %}
{# 	{{type.logo}} #}
	</td>
	<td>       
	{{type.country}}
	</td>	
	<td>
    <a href="/manufacturer/delete/{{ type.id }}" onclick='return confirm("Ви дійсно бажаєте видалити запис?")'><i class="material-icons">delete_forever</i></a>
	<a href="/manufacturer/edit/{{ type.id }}"  {" title="Редагування" data-toggle="tooltip" data-placement="left"><i class="material-icons">edit</i></a>
    </td>
</tr>
{% endfor %}       
</body>    

    <table>


</body>




