<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/media/menu.css">
<script language="javascript" src="/media/menu.js" type="text/javascript"></script>

<style type="text/css">

/*
    .navbar .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu:hover,
    .navbar .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #357EBD; 
        background-image: linear-gradient(to bottom, #428BCA 0, #357EBD 100%); 
    }
*/    
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
/*  color: red; */
}
    
.dropdown-item:hover, .dropdown-item:focus {
  color: black;
  font-weight: bold;
  text-decoration: none;
  background-color: #b0b5ba; /* #f8f9fa; */
}

#portal_menu a:hover {
	background-color: #56a06d;
	color: white;	
}

</style>

<script>
$(document).ready(function() {
	  // Custom 
	  var stickyToggle = function(sticky, stickyWrapper, scrollElement) {
	    var stickyHeight = sticky.outerHeight();
	    var stickyTop = stickyWrapper.offset().top;
	    if (scrollElement.scrollTop() >= stickyTop){
	      stickyWrapper.height(stickyHeight);
	      sticky.addClass("is-sticky");
	    }
	    else{
	      sticky.removeClass("is-sticky");
	      stickyWrapper.height('auto');
	    }
	  };
	  
	  // Find all data-toggle="sticky-onscroll" elements
	  $('[data-toggle="sticky-onscroll"]').each(function() {
	    var sticky = $(this);
	    var stickyWrapper = $('<div>').addClass('sticky-wrapper'); // insert hidden element to maintain actual top offset on page
	    sticky.before(stickyWrapper);
	    sticky.addClass('sticky');
	    
	    // Scroll & resize events
	    $(window).on('scroll.sticky-onscroll resize.sticky-onscroll', function() {
	      stickyToggle(sticky, stickyWrapper, $(this));
	    });
	    
	    // On page load
	    stickyToggle(sticky, stickyWrapper, $(window));
	  });
	});
</script>


{% load poll_extras %}

{% if local_server == True %}
<div class="p-3 mb-2 bg-danger text-white text-center">Локальна версія</div>
{% endif %}

{# if user.is_authenticated #}
 <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top py-0 py-md-0" data-toggle="sticky-onscroll" id="portal_menu"> 
{#<nav class="navbar navbar-dark bg-dark navbar-expand-md" data-toggle="sticky-onscroll" id="portal_menu"> #}
  <a class="navbar-brand d-md-none" href="#">Меню</a> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" href="#">Робота з клієнтами</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="/client/add/"><i class="material-icons">person_add</i> Створити нового клієнта</a>
			<a class="dropdown-item" href="/client/search/"><i class="material-icons">search</i> Пошук клієнта</a>
		<div class="dropdown-divider"></div>			
			<a class="dropdown-item" href="/clientmessage/list/">Повідомлення для клієнтів</a>
			<a class="dropdown-item" href="/client/view/"><i class="material-icons">people</i> Клієнти</a>
			<a class="dropdown-item" href="/client/email/view/">Клієнти з Email</a>
			<a class="dropdown-item" href="/client/join/">Обєднання клієнтів</a>
		<div class="dropdown-divider"></div>
{% if request.user|has_group:"admin" %}		
			<a class="dropdown-item" href="/clientdebts/view/">Боржники</a>
			<a class="dropdown-item" href="/clientcredits/view/">Платежі (Кредитори)</a>
{% endif %}			
			<a class="dropdown-item" href="/clients/balance/">Баланс</a>
		</div>
	</li>
    
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Велосипеди
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="/bicycle-store/view/">Магазин</a>
		<div class="dropdown-divider"></div>	
			<a class="dropdown-item" href="/bicycle/view/">Каталог велосипедів</a>
			<a class="dropdown-item" href="/bicycle-type/view/">Типи велосипедів</a>
			<a class="dropdown-item" href="/bicycle-framesize/view/">Розміри рам</a>
		<div class="dropdown-divider"></div>			
{#			<a class="dropdown-item" href="/bicycle/sale/add/">Продаж велосипеду</a> #}
			<a class="dropdown-item" href="/bicycle/order/add/">Замовлення велосипеду</a>
			<a class="dropdown-item" href="/bicycle/order/view/">Список замовлень</a>
			<a class="dropdown-item" href="/bicycle/store/price/">Цінники на велосипеди</a>
			<a class="dropdown-item" href="/bicycle/sale/view/">Продані велосипеди</a>			
		<div class="dropdown-divider"></div>			
			<a class="dropdown-item" href="/bicycle-store/search/">Пошук велосипеду за номером рами</a>
			<a class="dropdown-item" href="/bicycle/sale/search/model/">Пошук велосипедів(проданих) по моделі</a>
        </div>
      </li>
{% if request.user|has_group:"admin" %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Запчастини
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="/catalog/add/">Додати до каталогу</a>
			<a class="dropdown-item" href="/catalog/view/">Каталог</a>
			<a class="dropdown-item" href="/catalog/discount/">Товари зі знижками</a>
			<a class="dropdown-item" href="/catalog/manufacture/view/">По виробнику</a>
			<a class="dropdown-item" href="/catalog/search/id/">Пошук</a>
			<a class="dropdown-item" href="/category/view/">Класифікатор</a>
		<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="/catalog/file/photo/list/"><i class="material-icons">photo_library</i> Імпортувати фото</a>
		<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="/catalog/content/import/">Імпортувати з файлу контент</a>
			<a class="dropdown-item" href="/catalog/import/">Імпортувати з файлу</a>
			<a class="dropdown-item" href="/catalog/price/import/">Імпорт цін на товари</a>
        </div>
      </li>
		
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Постачальники
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="/dealer/view/">Компанії</a>
			<a class="dropdown-item" href="/dealer-manager/view/">Менеджери компаній</a>
			<a class="dropdown-item" href="/dealer/invoice/view/">Накладні</a>
			<a class="dropdown-item" href="/dealer/payment/view/">Оплати</a>
			<a class="dropdown-item" href="/dealer/invoice/search/">Пошук накладної</a>
			<a class="dropdown-item" href="/preorder/view/">Попередні замовлення</a>
		<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="/dealer/invoice/import/">Імпорт накладної</a>
        </div>
      </li>
{% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Магазин
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
       		<a class="dropdown-item" href="/invoice/manufacture/view/">Вибірка по виробнику</a>
       		<a class="dropdown-item" href="/invoice/category/view/">Вибірка по категоріях</a>
       		<a class="dropdown-item" href="/client/invoice/view/"><i class="material-icons">shopping_cart</i> Проданий товар</a>
        <div class="dropdown-divider"></div>        
  			<a class="dropdown-item" href="{% url 'shop-price-print-list' %}">Черга цінників для друку</a>
			<a class="dropdown-item" href="/shop/price/print/view/">Цінники для друку</a>	
			<a class="dropdown-item" href="/shop/price/lastadded/10/view/">Цінники по останнім товарам</a>
			<a class="dropdown-item" href="/shop/price/company/12/view/">Цінники по виробнику</a>
			<a class="dropdown-item" href="{% url 'shop-price-print-list-add' %}"><i class="material-icons">barcode_reader</i> Додати цінники в Чергу</a>
			
        <div class="dropdown-divider"></div>
			<a class="dropdown-item" href="/client/invoice/return/list/">Повернений товар</a>
       		<a class="dropdown-item" href="/invoice/price/update/1/view/"><i class="material-icons">update</i> Оновлені товари</a>
       		<a class="dropdown-item" href="/invoice/enddate/list/"><i class="material-icons">calendar_today</i> Товари з терміном</a>
{#       		<a class="dropdown-item" href="/invoice/search/"><i class="material-icons">search</i> Пошук наявного товару</a> #}
{#       		<a class="dropdown-item" href="/invoice/list/10/view/">Наявний товар 10 останніх</a> #}
       		<a class="dropdown-item" href="/invoice/sale/list/">Товари зі ЗНИЖКАми</a>
       		<a class="dropdown-item" href="/dealer/invoice/new/"><i class="material-icons">local_shipping</i> Нові надходження</a>
       		
		</div>	       		
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Майстерня
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="/workshop/add/"><i class="material-icons">queue</i> Додати роботу</a>
  			<a class="dropdown-item" href="/workshop/view/"><i class="material-icons">build</i> Виконані роботи</a>		
			<a class="dropdown-item" href="{% url 'workticket-list' %}"><i class="material-icons">assignment</i>Заявки</a>
			<a class="dropdown-item" href="{% url 'workshop-ticket-create' %}">Створити заявку</a>   
		<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="/workshop/price/list/"><i class="material-icons">view_list</i> Прайс майстерні</a>
		<div class="dropdown-divider"></div>			
			<a class="dropdown-item" href="/workgroup/view/">Групи робіт</a>
			<a class="dropdown-item" href="/worktype/view/">Види робіт</a>
			<a class="dropdown-item" href="/workstatus/view/">Статус роботи</a>
			<a class="dropdown-item" href="{% url 'genview_phonestatus_list' %}">Статус дзвінка</a>

		</div>	       		
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Прокат
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="/rent/add/">Створити</a>
			<a class="dropdown-item" href="/rent/view/">Список речей у прокаті</a>
		</div>	       		
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Замовлення
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="/client/order/add/"><i class="material-icons">library_add</i> Замовити</a>
			<a class="dropdown-item" href="/client/order/view/"><i class="material-icons">reorder</i> Список замовлених запчастин</a>
		</div>	       		
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Склад
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="/storage/boxes/list/">Список ящиків</a>
       		<a class="dropdown-item" href="/catalog/search/locality/">Назва ящика</a>
{% if request.user|has_group:"admin" %}       		
       		<a class="dropdown-item" href="/storage/boxes/">Список товарів по ящиках</a>
{% endif %}       		
       		<a class="dropdown-item" href="/inventory/list/"><i class="material-icons">assignment</i> Інвентеризація</a>
{% if request.user|has_group:"admin" %}       		
       		<a class="dropdown-item" href="/inventory/mistake/list/">Помилки закритих + незакриті</a>
{% endif %}       		
       		<a class="dropdown-item" href="/inventory/mistake/not/all/list/">Не закриті</a>
       		<a class="dropdown-item" href="/inventory/fix/list/">Помилки закритих товарів</a>
{% if request.user|has_group:"admin" %}
       		<a class="dropdown-item" href="/inventory/autocheck/list/">Автовідмітка</a>
{% endif %}       		
		</div>	       		
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Зберігання
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="/bicycle/storage/type/view/">Види зберігання</a>
			<a class="dropdown-item" href="/bicycle/storage/add/">Додати на зберігання</a>
			<a class="dropdown-item" href="/bicycle/storage/view/">Список</a>
		</div>	       		
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Довідники
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="/country/view/">Країни</a>
			<a class="dropdown-item" href="/exchange/view/">Курс Валют</a>
			<a class="dropdown-item" href="/manufacturer/view/">Виробники</a>
			{# <a class="dropdown-item" href="/catalog/photo/list/">Фотографії товарів</a> #}
			<a class="dropdown-item" href="/catalog/photo/list/0/page/9999/limit/25/">Фотографії товарів</a>				
			<a class="dropdown-item" href="/youtube/list/">Youtube контент</a>
{% if perms.accounting.add_preorder %}				
			<a class="dropdown-item" href="/bank/view/">Банки</a>
			<a class="dropdown-item" href="/curency/view/">Валюти</a>
			<a class="dropdown-item" href="/cashtype/view/">Варіанти оплат</a>
{% endif %}			
			<div class="dropdown-divider"></div>			
{% if request.user|has_group:"admin" %} 	 			
 			<a class="dropdown-item" href="/discount/add/">Створити дисконт</a>
 			<a class="dropdown-item" href="/discount/list/">Дисконтні програми</a>
{% else %}
 			<a class="dropdown-item" href="/discount/list/">Дисконтні програми</a>
{% endif %} 			
			
		</div>	       		
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Моє меню
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        	<a class="dropdown-item" href="/qrscanner/">Сканер QR кодів {{shop_name}}</a> 
        	<a class="dropdown-item" href="/qrscanner2/">Сканер QR кодів 2</a>
			<a class="dropdown-item" href="/report/sales/user/report/">Продажі за місяць</a>
 			<a class="dropdown-item" href="/report/workshop/byuser/">Роботи за місяць</a>
 			<div class="dropdown-divider"></div>
		
		<a class="dropdown-item" href="{% url 'shop-sale-day-add' %}"><i class="material-icons">query_builder</i> Денна каса</a>
		<a class="dropdown-item" href="{% url 'shop_dailysales_monthly_cur' %}">Денна каса (за місяць)</a>
{% if shop_name|has_shop:"Кавказька" %}
		<div class="dropdown-divider"></div>
	 			<a class="dropdown-item" href="/casa/1/view/">Сума в касовому Кавказька </a>
	 			<a class="dropdown-item" href="{% url 'rro_xreport' %}">X-звіт Кавказька</a>
		 			
{% if request.user|has_group:"manager" %}
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="/casa/1/zreport/" onclick="return confirm('Виконати Z звіт в магазині на вул.Кавказька?')">Z звіт РРО №1</a>
{% endif %} 			
{% endif %}	
		
		
{% comment %}		
		{% if shop_name == 'shop1' %}
 				<a class="dropdown-item" href="{% url 'shop-sale-day-add' %}"><i class="material-icons">query_builder</i> Денна каса</a>
{# <a class="dropdown-item" href="/shop/sale/day/add/"><i class="material-icons">query_builder</i> Денна каса</a> #}
	 			<a class="dropdown-item" href="{% url 'shop_dailysales_monthly' %}">Денна каса (за місяць)</a> 				
	 			<div class="dropdown-divider"></div>
	 			<a class="dropdown-item" href="/casa/1/view/">Сума в касовому Кавказька</a>
	 			<a class="dropdown-item" href="{% url 'rro_xreport' %}">X-звіт Кавказька</a>
{% if request.user|has_group:"manager" %}
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="/casa/1/zreport/" onclick="return confirm('Виконати Z звіт в магазині на вул.Кавказька?')">Z звіт РРО №1</a>
{% endif %} 			
 			{% elif shop_name == 'shop2' %}
 				<a class="dropdown-item" href="{% url 'shop-daily-sales' year_now month_now day_now %}"><i class="material-icons">query_builder</i> Денна каса</a>
	 			<a class="dropdown-item" href="/shop/sale/view/">Денна каса (за місяць)</a>
	 			<div class="dropdown-divider"></div>
	 			<a class="dropdown-item" href="/casa/prro/xreport/">X-Звіт Міцкевича</a>
{% if request.user|has_group:"manager" %}
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="/casa/prro/zreport/" onclick="return confirm('Виконати Z звіт в магазині на вул.Міцкевича?')">Z звіт РРО №2</a>
{% endif %} 			
	 			
		{% endif %}
{% endcomment %}

		
{# 			<a class="dropdown-item" href="/casa/prro/view/">Сума в касовому Міцкевича</a> #}
		<div class="dropdown-divider"></div>			
			<a class="dropdown-item" href="/check/list/now/">Список чеків</a>
		</div>	       		
      </li>


{% if request.user|has_group:"admin" %}		
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Власні затрати
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        	<a class="dropdown-item" href="/salary/add/">Зарплата</a>
			<a class="dropdown-item" href="/cost/type/view/">Види затрат</a>
			<a class="dropdown-item" href="/cost/view/">Затрати</a>
		</div>	       		
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Report's
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="/shop/sale/month/view/"><i class="material-icons">poll</i> Оборот коштів за місяць</a>
			<a class="dropdown-item" href="/invoice/all/report/">Сума по наявному товару</a>
			<a class="dropdown-item" href="/client/invoice/report/">Сума проданих аксесуарів по місяцях</a>
			<a class="dropdown-item" href="/bicycle-store/all/view/seller/" >Всі велосипеди в магазині</a>
		<div class="dropdown-divider"></div>			
			<a class="dropdown-item" href="/report/salary/all_user/"><i class="material-icons">monetization_on</i> Зарплата by USer</a>
			<a class="dropdown-item" href="/workday/user/all/report/">Робочі дні by USer</a>
		<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="/shop/sale/day/add/"><i class="material-icons">query_builder</i> Денна каса</a>
			<a class="dropdown-item" href="/shop/sale/view/">Денна каса (за місяць)</a>
			<a class="dropdown-item" href="/dealer/invoice/miss/">Нові надходження (помилки)</a>
		</div>	       		
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Каса
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="/shop/sale/day/add/"><i class="material-icons">query_builder</i> Денна каса</a>
			<a class="dropdown-item" href="/shop/sale/view/">Денна каса (за місяць)</a>
		<div class="dropdown-divider"></div>	
			<a class="dropdown-item" href="/casa/1/view/">Сума в касовому К (стара функ.)</a>
			<a class="dropdown-item" href="{% url 'rro_xreport' %}">X-звіт Кавказька</a>
			<a class="dropdown-item" href="/casa/1/status/">Статус РРО №1</a>
			<a class="dropdown-item" href="/casa/1/zreport/" onclick="return confirm('Виконати Z звіт в магазині на вул.Кавказька?')">Z звіт РРО №1</a>
			<a class="dropdown-item" href="/casa/1/cmd/">Command</a>
		<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="/casa/prro/create/">Відкрити зміну</a>
			<a class="dropdown-item" href="/casa/prro/view/">Сума в касовому №2</a>
			<a class="dropdown-item" href="/casa/prro/xreport/">X-Звіт</a>
			<a class="dropdown-item" href="/casa/prro/status/">Статус РРО №2</a>
			<a class="dropdown-item" href="/casa/prro/zreport/" onclick="return confirm('Виконати Z звіт в магазині на вул.Міцкевича?')">Z звіт РРО №2</a>
		<div class="dropdown-divider"></div>			
			<a class="dropdown-item" href="/check/list/now/">Список чеків</a>			
		</div>	       		
      </li>
      
{%endif%}


    </ul>
  </div>
</nav>


