<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Черга Цінників</title>

<link type="text/css" rel="stylesheet" href="/media/paginator.css">
<link rel="stylesheet" type="text/css" href="/media/css/table.css"> 



<style type="text/css">
a.icon { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */ 
    color: white; 
   } 
     
</style>


<script>
$(document).ready(function() {
	
	$('[data-toggle="tooltip"]').tooltip();
	
	 $(".price_del").click(function(){
		 $(this).parents("tr").children("td.cat_name").css( "background", "yellow" );
		 console.log($(this).parents("tr").children("td.cat_name").children("a").html());
		 if (confirm("Ви дійсно бажаєте видалити запис? \n" + $(this).parents("tr").children("td.cat_name").children("a").html())) {
			$(this).parents("tr").children("td.cat_name").css( "background", "yellow" );
		 	var tr_del = $(this).parents("tr");
				$.ajax({
		                type: "POST",
		                url: "/shop/price/print/delete/",
		                data: {id:  $(this).attr("p_id") },
		                dataType: "text",
		                success:function(data){
//		                	console.log("ajax work");
		                	tr_del.remove();
//		                	console.log($(this).parents("tr"));
		                },
		                error:function(data){
		                    alert("Виникли проблеми з сервером" + data);
		                }
		            });	
		 }
		 else {
			 $(this).parents("tr").children("td.cat_name").css( "background", "white" );			 
		 }
		 });
	 
});	 
</script>


{% load poll_extras %}

<h1><span class="badge badge-secondary">Черга цінників для друку 
{% if by_user %}
	<span class="badge badge-info">{{request.user}} </span>
{% endif %}
</span>
{# <a href="/shop/price/print/view/?page={{ price_list.number }}" > #}
{% if by_user %}
	<a href="{% url 'label_print_by_user' request.user.id %}" >
{% else %}
	<a href="{% url 'label_print_all' %}" >
{% endif %}
<span class="badge badge-success" title="Попередній перегляд" data-toggle="tooltip" data-placement="bottom"><i class="material-icons">print</i></span>
</a> 
<a href="/shop/price/print/empty/" onclick="return confirm('Ви хочете видалити всі чеки з черги для друку?');">
<span class="badge badge-danger" title="Очистити список" data-toggle="tooltip" data-placement="bottom"><i class="material-icons">clear</i></span>
</a>
<a href="{% url 'label_delete_by_user' request.user.id %}" onclick="return confirm('Бажаєте видалити чеки, користувача {{request.user}}?');">
<span class="badge badge-danger" title="Очистити список користувача [{{request.user}}]" data-toggle="tooltip" data-placement="bottom"><i class="material-icons">clear</i></span>
</a>
</h1>  
<a href="/shop/price/qr/print/view/">(Попередній перегляд QR-Code)</a>

{% if request.user|has_group:"seller" %}
<span class="badge badge-danger"> <a href="{% url 'shopprice_duplicate_delete' %}" class="icon">Видалити дублікати</a> </span> 
<span class="badge badge-danger"> <a href="{% url 'shopprice_zero_delete' %}" class="icon">Видалити продані позиції</a> </span>
<span class="badge badge-danger"> <a href="{% url 'label_list_by_user' request.user.id %}" class="icon">Показати власні чеки {{request.user}}</a> </span>
{% endif %}

<br>

<table class = "table table-bordered table-hover table-condensed" id="iTable">
<tr>
<th><b>#</b></th>
<th><b>Код</b></th>
<th><b style="font-size: 10pt;">Виробник </b></th>
<th><b style="font-size: 10pt;">Країна</b> </th>
<th><b style="font-size: 10pt;">Ціна </b> </th>
<th> <b>Назва</b> </th>
<th><b style="font-size: 10pt;">Друк</b> </th>
<th><b style="font-size: 10pt;">К-сть склад</b> </th>
<th><b style="font-size: 10pt;">Користувач</b> </th>
<th><b>Дата</b> </th>
<th><b>Дія</b> </th>
</tr>

{% for price in price_list.object_list %}
<tr>
<td align="center" style="font-size: 10pt;" class="nameTD">
{{forloop.counter}}
</td>
<td align="right" style="font-size: 10pt;" class="nameTD">
{{price.catalog.ids}}
</td>
<td style="padding-left: 5px; padding-right: 5px; font-size: 10pt;" class="nameTD">       
{{price.catalog.manufacturer}}
</td>
<td style="padding-left: 5px; padding-right: 5px;" class="nameTD">
{{price.catalog.country}}
</td>
{% if price.catalog.sale > 0 %}	
<td class="nameTD" bgcolor="#FF0000">       
{% else %}
<td class="nameTD">
{% endif %}
<b>	{{price.catalog.price}} грн.</b>
</td>
<td class="cat_name">       
<a href="/catalog/id/{{price.catalog.id}}/view/" style="margin-right:20px">{{price.catalog.name}}</a>
</td>
<td class="nameTD" align="center">       
<b>	{{price.scount}} шт. </b>
</td>
<td   class="nameTD" align="center">       
<b>	{{price.catalog.get_realshop_count}} шт. </b>
</td>
<td   class="nameTD" align="center">       
<a href="{% url 'label_list_by_user' price.user.id %}" class="icon"><b>{{price.user}}</b></a>

</td>
<td   class="nameTD">       
<b>	{{price.date}}</b>
</td>
<td   class="nameTD" align="center">       
<span class="price_del" p_id="{{price.id}}" style="cursor: pointer;"><i class="material-icons" title="Видалити"  data-toggle="tooltip" data-placement="left">delete_outline</i></span>
{# <a href="/shop/price/print/{{price.id}}/delete/"> Видалити </a> #}
</td>

{% endfor %}   
</table>

<div class="pagination">
  <ul>
  	{% if price_list.has_previous %}
        <li class="prev">
            <a href="?page={{ price_list.previous_page_number }}">&larr; Previous</a>
        </li>
    {% else %}
    <li class="prev disabled">
            <a href="?page={{ price_list.number }}">&larr; Previous</a>
    </li>
    {% endif %}
    
<!--     <li class="disabled"><a href="">Page {{ price_list.number }} of {{ price_list.paginator.num_pages }}.</a></li>
 -->
    {% for i in price_list.paginator.page_range %}
    {% ifequal i  price_list.number%}
    <li class="disabled"><a href="">{{ i }}.</a></li>
    {% else %}
    <li class="active"><a href="?page={{ i }}">{{ i }}.</a></li>
    {% endifequal %}
    {% endfor %}   
    
    {% if price_list.has_next %}
        <li class="next">
            <a href="?page={{ price_list.next_page_number }}">Next &rarr;</a>
        </li>
    {% else %}
    <li class="next disabled">
            <a href="?page={{ price_list.number }}">Next &rarr;</a>
     </li>    
    {% endif %}
  </ul>
</div>

<br>
