<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="/media/css/table.css">
<link type="text/css" rel="stylesheet" href="/media/css/jquery.qtip.min.css" />
<script type="text/javascript" src="/media/js/jquery.qtip.min.js"></script>    

<script type="text/javascript">

$(document).ready(function() {

	$('[data-toggle="tooltip"]').tooltip();
	
})


function true_false(obj){
            var rent_id = $(obj).attr('id'); 
            var res = new Array();
            res = rent_id.split('_');
            //res = $(this).attr('id');
            $.ajax({
                type: "GET",
                url: "/rent/edit/"+res[1]+"/",
                data: { id: res[1] },
                dataType: "json",
                success:function(msg){
                    //alert("Все отлично ушло на сервер - " + msg);
//                    $('#status_2').text(obj);
//                    obj.innerHTML = msg;
                    $(obj).html(''+ msg[0].status.toString().toUpperCase());
                    if (msg[0].status){
                    $(obj).closest("tr").attr('class', 'tr_true')
                    } else {
                    $(obj).closest("tr").attr('class', 'tr_false')
                    }
                    //$('#ttt').text(""+msg);
                    //$('#id_deposit').val(""+msg);
                },
                error:function(){
                    alert("При отправке возникли проблемы");
                }
            });
}      

	</script>    
    
{% load poll_extras %}
    
    <h1><span class="badge badge-secondary">Прокат за останні 360 днів</span> 
    <a href="/rent/add/" title="Створити" data-toggle="tooltip" data-placement="right"><i class="material-icons">add_circle</i></a>
    </h1>

    <table id="iTable" class = "table table-bordered table-hover table-condensed">
	<tr>
		<th>№</th>
    	<th>ID</th>
    	<th>Назва</th>
    	<th>Кієнт</th>
    	<th>Дата видачі</th>
    	<th>Дата повернення</th>
    	<th>Кількість</th>
    	<th>Завдаток</th>
    	<th>Поверенення</th>
    	<th>Відпустив</th>
    	<th>Опис</th>
{% if request.user|has_group:"admin" %}    	
    	<th>Дії</th>
{% endif %}    	
    </tr>
    
{% for type in rent %}
{% if type.status %}
<tr class="tr_true">
{% else %}
<tr class="tr_false">
{% endif %}
	<td onclick="window.open('/client/order/edit/{{type.id}}','Карточка',' width=800,height=800,top=0')">
	{{forloop.counter}}
	</td>
	<td>       
	{{type.id}}
	</td>
	<td>
	<a href="/client/{{type.client.id}}/invoice/catalog/{{ type.catalog.id }}/add/" title="Продати дану річ" >
	{{type.catalog}}
	</a>
	</td>
	<td>
	<span class="jQtooltip" title="Телефон: {{type.client.phone}}"> 
	<a href="/client/{{ type.client.id }}"> 
	{{type.client}}
	</a>
	</span>
	</td>
	<td align="center">       
	{{type.date_start|date:'d-m-Y' }}
	</td>
	<td align="center">       
	{{type.date_end|date:'d-m-Y' }}
	</td>
	<td align="center">       
	{{type.count}}
	</td>
	<td>       
	{{type.deposit}} грн.
	</td>	
	<td align="center">       
	<span title="Змінити статус" id="status_{{type.id}}" onclick="true_false(this)" >{{type.status}}</span>
	</td>	
	<td align="center">       
	{{type.user}}
	</td>	
	<td>       
	{{type.description}}
	</td>	
{% if request.user|has_group:"admin" %}  	
	<td>
    <a href="/rent/edit/{{ type.id }}"><i class="material-icons">edit</i></a>
    <a href="/rent/delete/{{ type.id }}"><i class="material-icons">delete</i></a>
    </td>
{% endif %}        
</tr>
{% endfor %}       
    

    <table>

<br>

