<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link type="text/css" rel="stylesheet" href="/media/paginator.css">
<link rel="stylesheet" type="text/css" href="/media/table.css">

<script language="JavaScript">
$(document).ready(function() {

c4 = 0;
c5 = 0;
c7 = 0;
c8 = 0;
c9 = 0;
$('.client_4').each(function() { 
	c4 += parseFloat($(this).attr('val')); 
})
$('.client_11').each(function() { 
	c5 += parseFloat($(this).attr('val')); 
})
$('.client_12').each(function() { 
	c7 += parseFloat($(this).attr('val')); 
})
$('.client_8').each(function() { 
	c8 += parseFloat($(this).attr('val')); 
})
$('.client_13').each(function() { 
	c9 += parseFloat($(this).attr('val')); 
})

$('.user').each(function() { 
	console.log("USER id = "  + parseFloat($(this).attr('uid')) )
	var id = parseFloat($(this).attr('uid'));
	var cl = 0;
	$('.cl_'+id).each(function() { 
		cl += parseFloat($(this).html()); 
	})	
	console.log("SUM = "  + cl )
	$('#zsum_'+id).html(cl.toFixed(2).toString() + ' грн.');
})

$('#client_4').html(c4.toFixed(2).toString() + ' грн.');
$('#client_11').html(c5.toFixed(2).toString() + ' грн.');
$('#client_12').html(c7.toFixed(2) + ' грн.');
$('#client_8').html(c8.toFixed(2) + ' грн.');
$('#client_13').html(c9.toFixed(2) + ' грн.');

});    
</script>

{% load poll_extras %}

<body onLoad="">

<br>
<h2>
    За місяць: 
    <a href="/report/salary/all_user/year/{{sel_year}}/month/1">01,</a>
	<a href="/report/salary/all_user/year/{{sel_year}}/month/2">02,</a>
	<a href="/report/salary/all_user/year/{{sel_year}}/month/3">03,</a>
	<a href="/report/salary/all_user/year/{{sel_year}}/month/4">04,</a>
	<a href="/report/salary/all_user/year/{{sel_year}}/month/5">05,</a>
	<a href="/report/salary/all_user/year/{{sel_year}}/month/6">06,</a>
	<a href="/report/salary/all_user/year/{{sel_year}}/month/7">07,</a>
	<a href="/report/salary/all_user/year/{{sel_year}}/month/8">08,</a>
	<a href="/report/salary/all_user/year/{{sel_year}}/month/9">09,</a>
	<a href="/report/salary/all_user/year/{{sel_year}}/month/10">10,</a>
	<a href="/report/salary/all_user/year/{{sel_year}}/month/11">11,</a>
	<a href="/report/salary/all_user/year/{{sel_year}}/month/12">12</a>
</h2>    


    <h1>Звіт по майстерні за {{sel_month}} місяць {{sel_year}} року</h1>

<table border="1">
    <tr>
    	<th>user_Id</th>
    	<th>Користувач</th>
    	<th>Сума</th>
    	<th>Зарплата</th>
    </tr>
 
{% for element in workshop %}
<tr class='client_{{element.user}}' val='{{element.total_price|mul:0.5}}'>	
	<td>
	{{element.user}}       
	</td>
	<td>       
	{{element.user__username}}
	</td>
	<td>       
	{{element.total_price}}
	</td>
	<td>
	{{element.total_price|mul:0.5}}
	</td>
</tr>	
{% endfor %}

<tr>
    	<th></th>
    	<th></th>
    	<th>Сума</th>
    	<th>{{w_sum}}</th>
</tr> 

</table>

    <h1>Звіт по магазину за {{sel_month}} місяць {{sel_year}} року</h1>

<table border="1">
    <tr>
    	<th>user_Id</th>
    	<th>Користувач</th>
    	<th>Сума</th>
    	<th>Зарплата</th>
    </tr>
 
{% for element in cinvoice %}
<tr class='client_{{element.user}}' val='{{element.total_price|mul:0.05}}'>	
	<td>
	{{element.user}}       
	</td>
	<td>       
	{{element.user__username}}
	</td>
	<td>       
	{{element.total_price}}
	</td>
	<td>
	{{element.total_price|mul:0.05}}
	</td>
</tr>
{% endfor %}

<tr>
    	<th></th>
    	<th></th>
    	<th>Сума</th>
    	<th>{{c_sum}}</th>
</tr> 

</table>

    <h1>Звіт по велосипедах за {{sel_month}} місяць {{sel_year}} року</h1>

<table border="1">
    <tr>
    	<th>user_Id</th>
    	<th>Користувач</th>
    	<th>Сума</th>
    	<th>Зарплата</th>
    </tr>
 
{% for element in bicycle_list %}
<tr class='client_{{element.user}}' val='{{element.total_price|mul:0.05}}'>	
	<td>
	{{element.user}}       
	</td>
	<td>       
	{{element.user__username}}
	</td>
	<td>       
	{{element.total_price}}
	</td>
	<td>
	{{element.total_price|mul:0.05}}
	</td>
</tr>	
{% endfor %}

<tr>
    	<th></th>
    	<th></th>
    	<th>Сума</th>
    	<th>{{bike_sum}}</th>
</tr> 
</table>

<h1>Зарплата за {{sel_month}} місяць {{sel_year}} року</h1>
<table border="1">

    <tr>
    	<th>user_Id</th>
    	<th>Користувач</th>
    	<th>Зарплата</th>
    </tr>
    <tr>
    	<td>4</td>
    	<td>ygrik</td>
    	<td id='client_4'> </td>
    </tr>
    <tr>
    	<td>11</td>
    	<td>andrey78</td>
    	<td id='client_11'> </td>
    </tr>
    <tr>
    	<td>13</td>
    	<td>Anya</td>
    	<td id='client_13'> </td>
    </tr>
    <tr>
    	<td>8</td>
    	<td>ma</td>
    	<td id='client_8'> </td>
    </tr>
    <tr>
    	<td>12</td>
    	<td>Yana</td>
    	<td id='client_12'> </td>
    </tr>
    
</table>

<br>    
USER COUNT = {{ll}} <br>
BIKES = {{qwsum}} <br> 

{# RES = {{res}} <br> #}
<table>
<tr>
<th ROWSPAN="2">id</th>
<th ROWSPAN="2">user</th>
<th COLSPAN="2">Майстерня</th>
<th COLSPAN="4">Магазин</th>
<th COLSPAN="3">Велосипеди</th>
<th ROWSPAN="2">Загальна сума</th>
</tr>
<tr>
		<th align="center" >Заг.сума</th>
    	<th align="center" >50%</th>
    	<th align="center" >Заг.сума</th>
    	<th align="center" >5%</th>
    	<th align="center" >3%</th>
    	<th align="center" >2%</th>
    	<th align="center" >Заг.сума</th>
    	<th align="center" >user 5%</th>
    	<th align="center" >порівно</th>
</tr>
{% for item in res.items %}
<tr class='user' uid="{{item.1.client_inv.0.user}}">
{# *** {{item.1.client_inv.0.user}} - {{item.1.client_inv.0.user__username}}<br> #}
<td>{{item.1.client_inv.0.user}}</td>
<td>{{item.1.client_inv.0.user__username}}</td>
{% if  item.1.workshop.0.total_price %}
<td align="center">{{item.1.workshop.0.total_price|floatformat:0}} </td>
<td align="center" class='cl_{{item.1.client_inv.0.user}}'> {{item.1.workshop.0.total_price|mul:0.5|floatformat:0}}</td>
{% else %}
<td></td><td></td>
{% endif %}
{% if item.1.client_inv.0.total_price %}
<td align="center">{{item.1.client_inv.0.total_price|floatformat:0}}</td> <td align="center" class='cl_{{item.1.client_inv.0.user}}'> {{item.1.client_inv.0.total_price|mul:0.05|floatformat:0}}</td> <td align="center"> {{item.1.client_inv.0.total_price|mul:0.03|floatformat:0}} </td> <td align="center"> {{item.1.client_inv.0.total_price|mul:0.02|floatformat:0}}</td>
{% else %}
<td></td><td></td><td></td><td></td>
{% endif %}
{% if  item.1.bicycle.0.total_price %}
<td align="center">{{item.1.bicycle.0.total_price|floatformat:0}}</td><td align="center">{{item.1.bicycle.0.total_price|mul:0.05|floatformat:0}}</td><td align="center" class='cl_{{item.1.client_inv.0.user}}'>{{qwsum|floatformat:0}}</td>
{% else %}
<td></td><td></td><td align="center" class='cl_{{item.1.client_inv.0.user}}'>{{qwsum|floatformat:0}}</td>
{% endif %}
<td id='zsum_{{item.1.client_inv.0.user}}' align="center"></td>
{% comment %}
*** WorkShop [{{item.1.workshop.0.user}}] {{item.1.workshop.0.user__username}} - {{item.1.workshop.0.total_price}}грн. / {{item.1.workshop.0.total_price|mul:0.5}}грн.<br>
*** CL_INV [{{item.1.client_inv.0.user}}] {{item.1.client_inv.0.user__username}} - {{item.1.client_inv.0.total_price}}грн. / {{item.1.client_inv.0.total_price|mul:0.05}}грн. / {{item.1.client_inv.0.total_price|mul:0.03}}грн. / {{item.1.client_inv.0.total_price|mul:0.02}}грн.<br>
*** Bicycle [{{item.1.bicycle.0.user}}] {{item.1.bicycle.0.user__username}} - {{item.1.bicycle.0.total_price}}грн.<br>
{% endcomment %}
</tr>
{% endfor %}

</table>    

<br>    
    