<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="/media/css/table.css">

<h1>Оборот коштів за місяць {{date_month}} року</h1>

{# range(12)#}

{% load poll_extras %}

{% comment %}
<b>Рік:</b>
<a href="/shop/sale/year/2011/month/1/view">2011</a>, 
<a href="/shop/sale/year/2012/month/1/view">2012</a>,
<a href="/shop/sale/year/2013/month/1/view">2013</a>
<a href="/shop/sale/year/2014/month/1/view">2014</a>
<a href="/shop/sale/year/2015/month/1/view">2015</a>
<a href="/shop/sale/year/2016/month/1/view">2016</a>
<a href="/shop/sale/year/2017/month/1/view">2017</a>
<br>
{% endcomment %}

<h3><b>Рік:</b>
    {% for year in year_list %}
    {% if sel_year == year.0 and status == None %} 
    	<a class="badge badge-success select" href="/shop/sale/year/{{year.0}}/month/1/view">{{year.0}}
    	{% if request.user|has_group:"admin" %} 
    	<sup><span class="badge badge-light">{{year.1}}</span></sup>
    	{% endif %}
    	</a>
    {% else %}
    	<a class="badge badge-success" href="/shop/sale/year/{{year.0}}/month/1/view" data-count="{{year.1}}">{{year.0}}
    	{% if request.user|has_group:"admin" %} 
    	<sup><span class="badge badge-light">{{year.1}}</span></sup>
    	{% endif %}
    	</a>
    {% endif %} 
    {% endfor %}
</h3>
<h3>
<b>Місяць:</b>
{% for month in l_month %}
{% ifequal month sel_month %}
<a href="/shop/sale/year/{{sel_year}}/month/{{month}}/view" class="badge badge-success select">{{month}}</a>
{% else %} 
<a href="/shop/sale/year/{{sel_year}}/month/{{month}}/view" class="badge badge-success">{{month}}</a>
{% endifequal %} 
{% endfor %}
</h3>

	<table class = "table table-bordered table-hover table-condensed" id="iTable" style="width:600px">
	<tr>
	<th>Дата</th>
	<th>Оплати</th>
	<th>Заборгованісті</th>
	</tr>
{% for cred in Ccred %}
	<tr>
	<td>
	<a href="/shop/year/{{cred.year}}/month/{{cred.month}}/day/{{cred.day}}/view/"> {{cred.year}}/{{cred.month}}/{{cred.day}} </a>
	</td>
	<td>
	{{cred.suma}}
	</td>
	<td>
	{{cred.deb}}
	</td>
{% endfor %}
	</tr>
	<tr>
	<th>Сума</th>
	<th>{{sum_cred}}</th>
	<th>{{sum_deb}}</th>
	</tr>
	</table>
	
	{% load poll_extras %}
	{% orm_debug %}
	
