<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Денний звіт</title>

    <link rel="stylesheet" type="text/css" href="/media/css/table.css">

	<link rel="stylesheet" href="/media/jquery-ui.min.css">
	<script src="/media/jquery-ui.min.js"></script>	
	<script src="/media/jquery.jeditable.mini.js" type="text/javascript" charset="utf-8"></script>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">	

<script language="JavaScript">
$(document).ready(function() {

	$('[data-toggle="tooltip"]').tooltip();
	
 $('.cred_price').each(function() {
 $(this).editable('/clientcredits/set/', {
	 loadurl : '/cashtype/list/',
	 loaddata : function(value, settings) {
	   console.log("load this [tcash_id]= " + $(this).attr('tcash_id'));
       return {sel: $(this).attr('tcash_id')};
   	 },
     loadtype: 'POST',
     submitdata : function() {
      	return {id : $(this).attr('id_cred')};
    	 },
     type   : 'select',
//     event: 'dblclick',
     event: 'click',
     style   : 'inherit',
     callback : function(value, settings) {
         var obj = jQuery.parseJSON(value);
         $(this).attr("tcash_id", obj[0]["cash_type__id"])
         str = '<abbr title="'+ obj[0]["cash_type__name"] +'">'+ obj[0]["cash_type__name"] +'</abbr>';
         $(this).html(str);
         sel = obj[0]["cash_type__id"];
     },     
     tooltip   : 'Натисніть для редагування...',
     submit : 'OK'
 });
 });

});
</script>

{% load poll_extras %}

<div class="d-flex">
<div class="mr-auto">
	<h1> <span class="badge badge-secondary">Оборот коштів на {{date}} року </span>  <span style="color: red; font-size: x-large;" >Каса: {{casa}} грн.</span> </h1>
</div>
</div>


	<table class = "table table-bordered table-hover table-condensed">
<thead class="thead-dark" align="center">	
	<tr>
	<th>id</th>
	<th>Дата</th>
	<th>Клієнт</th>
	<th>Сума (грн.)</th>
	<th>Опис</th>
	<th>Тип оплати</th>
	</tr>
</thead>

<h2>
<span class="badge badge-success">Оплати</span>
</h2>
	
{% for cred in Ccred %}
	<tr>
	<td>
	<a href="/clientcredits/edit/{{cred.id}}">{{cred.id}}</a>
	</td>
	<td data-toggle="tooltip" data-placement="right" title="[{{cred.user.username}}]" data-html="false">
		<abbr title="[{{cred.user.username}}]">
		{{cred.date|time:"H:i"}}
		</abbr>	
	</td>
	<td>
	<a href="/client/result/search/?id={{cred.client.id}}">
	{{cred.client}}
	</a>
	</td>
	<td>
	{{cred.price}}
	</td>
	<td>
	{{cred.description}}
{% if request.user|has_group:"admin" %}
	<a href="/clientcredits/delete/{{cred.id}}" onclick="return confirm('Видалити оплату?')"><i class="material-icons" data-toggle="tooltip" data-placement="right" title="Видалити" data-html="true">delete</i></a>
{% endif %}	
	</td>
	<td class="cred_price" tcash_id="{{cred.cash_type.id}}" id_cred={{cred.id}} value="{{cred.price}}" > 
{#	data-toggle="tooltip" data-placement="right" title="{{cred.cash_type}}" data-html="false"> #}
	{{cred.cash_type}}
	</td>
<!-- 
	<td>
	{{cred.cash_type}}
	</td>
 -->	
{% endfor %}
	</tr>
	<tr>
	<td>	</td>
	<td>	</td>
	<td>
	Сума
	</td>
	<td>
	{{c_sum}}
	</td>
	<td>
{% for tcash in cash_credsum %}	
	{{tcash.cash_type__name}} - {{tcash.suma}} грн. / 	
{% endfor %}
	</td>
	<td>
	
	</td>
	</tr>	
	</table>

<h2><span class="badge badge-danger">Продажі</span></h2>
	
	<table class = "table table-bordered table-hover table-condensed">

<thead class="thead-dark" align="center">	
	<tr>
	<th>id</th>	
	<th>Дата</th>
	<th>Клієнт</th>
	<th>Сума (грн.)</th>
	<th>Опис</th>
	<th>Тип оплати</th>
	</tr>
</thead>

{% for deb in Cdeb %}
	<tr>
	<td>
{% if request.user|has_group:"admin" %}	
	<a href="/clientdebts/edit/{{deb.id}}">{{deb.id}}</a>
{% else %}
	{{deb.id}}
{% endif %}
	
	</td>
	<td>
		<abbr title="[{{deb.user.username}}]">
		{{deb.date|time:"H:i"}}
		</abbr>	
	</td>
	<td>
	<a href="/client/result/search/?id={{deb.client.id}}">
	{{deb.client}}
	</a>
	</td>
	<td>
	{{deb.price}}
	</td>
	<td>
	{{deb.description}}
{% if request.user|has_group:"admin" %}
	<a href="/clientdebts/delete/{{deb.id}}" onclick="return confirm('Видалити продаж?')">
	<i class="material-icons" data-toggle="tooltip" data-placement="right" title="Видалити" data-html="true">delete</i>
	</a>
{% endif %}	
	</td>
	
	{% if deb.cash %}
	<td style="background-color: #b0c4de;">
	{% else %}
	<td data-toggle="tooltip" data-placement="right" title="{{deb.cash}}" data-html="true">
	{% endif %}
	</td>

{% endfor %}
	</tr>
	<tr>
	<td>
	</td>
	<td>
	</td>
	<td>
	Сума
	</td>
	<td>
	{{d_sum}}
	</td>
	<td>
	{% for tcash in cash_debsum %}	
	{{tcash.cash}} - {{tcash.suma}} грн. / 	
	{% endfor %}
	</td>
	</tr>	
	</table>	
	