<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Список ящиків</title>
<link rel="stylesheet" href="/media/jquery-ui.min.css">
{# <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/> #}
{# <link href="/media/css/bootstrap.min.css" rel="stylesheet"/> #}

<script src="/media/jquery-ui.min.js"></script>



<style type="text/css">
  span:visited{ text-decoration:none; color:#293d6b; }
  span:hover{ text-decoration:underline; color:#293d6b; }
  span {color:#293d6b; cursor: pointer; }
  

.1card {
{#  background-color: lightgrey; #}
/*  width: 30%; */
  margin: 0px;
/*  flex: 1; */
  border: 1px solid lightgrey;
/*  display: flex;           /* new */
  flex-direction: column;  /* new */
}

/*
.card-block {
  padding: 10px;
  background-color: #fff;
  flex: 1;                
}

.card-title {
  font-size: 18px;
  color: grey;
  font-family: verdana, sans;
}

.card-footer {
  padding: 15px;
  border-top: 1px solid lightgrey;
  background-color: lightgrey;
}

.card-columns {
  @include media-breakpoint-only(xs) {
    column-count: 5;
  }

  @include media-breakpoint-only(sm) {
    column-count: 5;
  }

  @include media-breakpoint-only(lg) {
    column-count: 10;
  }
  @include media-breakpoint-only(xl) {
    column-count: 10;
  }
}  */
 

  @media (min-width:576px) {
      .card-columns {
        column-count: 2;
      }
  }
    @media (min-width:768px) {
      .card-columns {
        column-count: 4;
      }
  }
  @media (min-width:992px) {
      .card-columns {
        column-count: 6;
      }
  }
  @media (min-width:1200px) {
      .card-columns {
        column-count: 9;
      }
  }
  
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}  

div.card  h1{
font-weight: bold;
text-align: center;
}
  
</style>

<script type="text/javascript">
$(document).ready( function() {

$("#dialog").dialog({
	autoOpen: false,
      resizable: false,
      modal: true,
      buttons: {
        "Перейменувати": function() {
			$.ajax({
                type: "POST",
                url: "/storage/box/rename/",
                data: {old_name:  $("#box_name").attr("old_name"), new_name: $("#box_name").val()},
                dataType: "text",
                success:function(msg){
                var $bn = $('#box_name').attr('old_name');
                $("span[name='"+$bn+"']").html("Перейменовано в "+ $("#box_name").val());
//					console.log("THIS = ",  $("span[name=old_name]"));
                },
                error:function(){
                    alert("При отправке возникли проблемы");
                }
            });

        
          $( this ).dialog( "close" );
        },
        "Відмінити": function() {
          $( this ).dialog( "close" );
        }
      }
});


$(".ren_boxname").click(function() {
	$("#box_name").attr("old_name", $(this).attr("name"));
	$("#box_name").val($(this).attr("name"));
	$("#dialog").dialog("open");
	$("#box_name").select();
})

})
</script>

{% comment %}
<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
<div class="card-header">Header</div>
<a href="/storage/box/{{box.locality}}/view/"> {{box.locality}}</a>
<div class="card-body ">
  <span class="badge badge-pill badge-info ml-1 mr-1">найменувань ({{box.icount}})</span>
<span class="ren_boxname " name="{{box.locality}}">Перейменувати</span>
</div>
</div>
{% endcomment %}


<body>

<h1><span class="badge badge-secondary">Список ящиків</span> <a href="/storage/boxes/print/" class="badge badge-primary">Версія для друку</a></h1>


<div class="row">

{% for box in boxes %}
<div class="col-sm-2 col-md-2 col-xl-1 mb-2 nopadding">
    <div class="card">
<div class="card-header bg-primary"> <span class="ren_boxname badge badge-primary" name="{{box.locality}}">Перейменувати</span></div>
<div class="card-body text-center">
<h1><a href="/storage/box/{{box.locality}}/view/">{{box.locality}} </a></h1>
	<span class="badge badge-pill badge-info mr-1">найменувань <span class="badge badge-dark" style="font-size: 10pt;">{{box.icount}}</span></span><br>
	
</div>
    </div>
</div>

{% endfor %}



</div>

{% comment %}

<div class="row">
<div class="col">

<div class="card-columns">

{% for box in boxes %}
<div class="card text-white bg-primary mb-3" style="max-width: 10rem;">
<div class="card-header"><a href="/storage/box/{{box.locality}}/view/"> {{box.locality}}</a></div>
<div class="card-body">
	<span class="badge badge-pill badge-info ml-1 mr-1">найменувань ({{box.icount}})</span><br>
	<span class="ren_boxname badge badge-primary" name="{{box.locality}}">Перейменувати</span>
</div>
</div>
{% endfor %}

</div>

</div>
</div>

 
{% endcomment %}




<div id="dialog" title="Перейменування ящика">
	<p id="dtext">Змінити назву ящику</p>
	<label for="spinner">Назва:</label>
  	<input type="text" id="box_name">
</div>

{% comment %}

{% for box in boxes %}
<li>
<a href="/storage/box/{{box.locality}}/view/"> {{box.locality}}</a>  - кількість найменувань ({{box.icount}}) 
<span class="ren_boxname" name="{{box.locality}}">Перейменувати</span>
</li>
{% endfor %}

{% endcomment %}

</body>

    


