<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Список місць/ящиків у магазині</title>



<style type="text/css">
  span:visited{ text-decoration:none; color:#293d6b; }
  span:hover{ text-decoration:underline; color:white; } /*#293d6b; } */
  span {color:#293d6b; cursor: pointer; }
  

/*  @media (min-width:576px) {
      .card-columns {
        column-count: 2;
      }
  }
    @media (min-width:768px) {
      .card-columns {
        column-count: 4;
      }
  }
  @media (min-width:992px) {
      .card-columns {
        column-count: 6;
      }
  }
  @media (min-width:1200px) {
      .card-columns {
        column-count: 9;
      }
  }
  */
/*  
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}  
*/

  
</style>

<script type="text/javascript">
$(document).ready( function() {

$(".ren_boxname").click(function() {
	$("#box_name").attr("old_name", $(this).attr("name"));
	$("#box_name").val($(this).attr("name"));
	$("#dialog").dialog("open");
	$("#box_name").select();
})

}); // end ready
</script>


{% load poll_extras %}     

<body>
<div class="d-flex flex-row bd-highlight mb-3">
<div class="row w-100">
<div class="col-lg-8 col-xs-12 col-sm-12">

<h1><span class="badge badge-secondary">Список місць/ящиків в магазині</span>
<a href="{% url 'storage-box-add' %}" >
<span class="badge badge-success" title="Створити нове місце"><i class="material-icons" style="font-size: 24px" >add</i></span>
</a>  

{% for shop in shop_list %}
{% if s_shop_id.id == shop.id %}
	<span class="badge badge-success" title="Показати місця в магазині - {{shop.name}}"><a href="{% url 'storage-boxes-list-by-shop' shop.id %}" class="text-white">{{shop.name}}</a></span>
{% else %}
	<span class="badge badge-dark" title="Показати місця в магазині - {{shop.name}}"><a href="{% url 'storage-boxes-list-by-shop' shop.id %}" class="text-white">{{shop.name}}</a></span>
{% endif %}
{% endfor %}


{% if request.user|has_group:"admin" %}
<a href="/storage/box/delete/all/empty/" onClick="return confirm('Видалити всі пусті ящики?')">
<span class="badge badge-dark" title="Delete all empty boxes"><i class="material-icons" style="font-size: 24px" >delete</i></span>
</a>
<a href="/storage/box/delete/all/" onClick="return confirm('Видалити всі ящики?')">
<span class="badge badge-dark" title="Delete all boxes"><i class="material-icons" style="font-size: 24px" >delete_sweep</i></span>
</a>
{% endif %}
</h1>




{# <div class="row"> #}
{# <div class="col"> #}


<div class="row ">
<div class="col mb-1">
{% for bname in bname_list %}
<span class="badge badge-secondary">
<a href="{% url 'storage-box-by-name' bname %}"> {{ bname }} </a>
</span>
{% endfor %}
</div>
</div>


{% for box in boxes %}
<div class="alert alert-info ml-1" role="alert">

<div class="d-flex bd-highlight ">
  <div class="p-1 bd-highlight"> {{ box }} 
{#  	<a href="{% url 'storage-box-itemlist' box.id %}" class="badge badge-light ml-3" title="Переглянути вміст ящика"  data-toggle="tooltip" data-placement="right"><i class="material-icons" style="font-size: 24px" >	inventory_2	</i></a> #}  
  </div>
  
  <div class="ml-auto p-1 bd-highlight">
  <a href="{% url 'storage-box-itemlist' box.id %}" class="badge badge-light ml-3" title="Переглянути вміст ящика"  data-toggle="tooltip" data-placement="right"><i class="material-icons" style="font-size: 24px" >	inventory_2	</i></a>
  <a href="{% url 'storage-box-edit' box.pk %}" class="text-right" title="Редагувати назву"  data-toggle="tooltip" data-placement="left"><i class="material-icons" style="font-size: 24px" >edit</i></a>
  </div>
</div>

</div>
{% endfor %}


{# </div></div> #}

</div></div></div>

</body>

    


