<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script type="text/javascript" src="/media/jquery.hotkeys-0.7.9.min.js"></script> 


<script type="text/javascript">
$(document).ready(function() {
      
    $('#login_form').submit(function(){
            $.ajax({
                type: "POST",
//                url: "/xhr_test/",
                url: "/accounts/login/",
                data: { user: $('#username').val() , password: $('#password').val()},
                dataType: "json",
                success:function(msg){
                    //alert("Все отлично ушло на сервер - " + msg['result']);
                    if (msg['result'] == "error") {
                    	$('#result').empty();
                    	$('#error_login').empty();
                    	$('#login_form').after('<span id="result"> Не вірно введений логін або пароль </span>');
                    }
                    if (msg['result'] == "success") {
                    	user = $('#username').val().toUpperCase();
                    	$('#result').empty();
                    	$('#error_login').empty();
                    	//$('#login_form').after('<label id="error_login">User name: ' + user + '</label>');
                    	$('#user_label').html('User name: ' + user);
                    	$('#login_form').hide();
                    	$('#logout_form').show();
                    	//return true;
                    	location.reload(); //перезавантаження сторінки
                    }
                    	
                },
                error:function(){
                	$('#result').empty();
                    //alert("При отправке возникли проблемы");
                    $('#login_form').after('<span id="result"> Помилка звязку. Перевірка не пройдена. </span>');
                }
            });

	return false;
                 
	});

	$( "#csearch_field" ).autocomplete({
	      source: function( request, response ) {
	        $.ajax({
	          type: "POST",
	          url: "{% url 'cat-man-lookup' %}",
	          dataType: "json",
	          data: {
	            query: $("#csearch_field").val(),
	          },
	          success: function( data ) {
				console.log("DATA type = " + data);
				//console.log("DATA type 0 = " + data[0]);
				//console.log("DATA type 1 = " + data[1]);
				//const myModel_t = JSON.parse(data[0]);
				//const myModel_m = JSON.parse(data[1]);
	        	response( $.map( data, function( item ) {
	              	return {
	                	label: item.name,
	                	value: item.name,
		                url_s: item.url,
		                pk_id: item.id                       
	    	          }
	            }));
	          } // end success function
	        }); // end ajax function
	      },
	      minLength: 2,
	      select: function( event, ui ) {
	      	var sel = ui.item.pk_id;
//	      	alert("Select - " + ui.item.value + " | id = " + sel);
//	      	var name_url = "{% url 'category-id-list' 01199110 %}".replace('01199110', sel);
	      	window.location.href = ui.item.url_s; // name_url; //"{% url 'category-id-list' 156 %}";
	      },
	      open: function() {
	    	$("#portal_menu").css("z-index", -1);
	        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
	      },
	      close: function() {
	    	$("#portal_menu").css("z-index", 1020);
	        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
	      }
	    });	    
    
}) // end ready


$(document).bind('keydown', 'alt+z', function(){
  $('#tsearch_field').focus();
});

$(document).bind('keydown', 'alt+x', function(){
  $('#asearch_field').focus();
});

$(document).bind('keydown', 'alt+c', function(){
	  $('#csearch_field').focus();
});
</script>


{% load poll_extras %}

{% load i18n %}

<div class="row">
  
  <div class="col-md-auto col-sm-6 ml-2">
  <a href="/"><img src="{% settings_value "LOGO_TOP" %}" alt="" title=""/></a>
  {#   <a href="/"><img src="/media/images/site_logo_small.gif" alt="" title=""/></a> #}
  </div>


  <div class="col-sm-4 ml-auto d-sm-inline d-md-none">
{% if user.is_authenticated %}
  <form method="post" action="/accounts/logout/">
        {% csrf_token %}
        <label class="bold_green_label">User name: {{user.username|upper}}</label>
        <input type="submit" name="logout" value="{% trans "Logout" %}" class="ptserif"/>
        <input type="hidden" name="next_page" value="{{ next|escape }}" />
    </form>
{% else %}
  <form action="/accounts/login/" method="post" id="login_form">
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>
  
  <form method="post" action="/accounts/logout/" style="display:none;" id="logout_form">
        {% csrf_token %}
        <label id="user_label">User name: {{user.username|upper}}</label>
        <input type="submit" name="logout" value="{% trans "Logout" %}" class="ptserif"/>
        <input type="hidden" name="next_page" value="{{ next|escape }}" />
    </form>
{% endif %}
You ip address {{ip_address}} ({{shop_name}})
  </div>



<div class="col-xs-12 col-sm-12 col-lg-6 col-xl-7">

<form action="/invoice/search/result" method="GET" class="form-horizontal">
<div class="input-group">
   <input type="text" class="form-control" placeholder="Назва товару (Alt + z)" name="name" id="tsearch_field">
</div>
<div class="input-group">
  <input type="text" class="form-control" placeholder="Артикул товару (Alt + x)" name="id" id="asearch_field">
   <span class="input-group-btn">
{#        <button class="btn btn-primary" type="submit">Пошук</button> #}
        <input type="submit" value="Пошук" class="btn badge-secondary">
   </span>
</div>
</form>
<div class="input-group mb-1">
   <input type="text" class="form-control" placeholder="Пошук категорії чи виробника товару (Alt + c)" name="name" id="csearch_field" style="position: relative; ">
</div>

</div>


  <div class="col-xs-3 col-sm-12 col-lg-2 col-xl-2 ml-auto d-none d-sm-none d-md-inline ">
{% if user.is_authenticated %}
  <form method="post" action="/accounts/logout/">
        {% csrf_token %}
        <label class="bold_green_label">User name: {{user.username|upper}}</label>
        <input type="submit" name="logout" value="{% trans "Logout" %}" class="ptserif"/>
        <input type="hidden" name="next_page" value="{{ next|escape }}" />
    </form>
{% else %}
  <form action="/accounts/login/" method="post" id="login_form">
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>
  
  <form method="post" action="/accounts/logout/" style="display:none;" id="logout_form">
        {% csrf_token %}
        <label id="user_label">User name: {{user.username|upper}}</label>
        <input type="submit" name="logout" value="{% trans "Logout" %}" class="ptserif"/>
        <input type="hidden" name="next_page" value="{{ next|escape }}" />
    </form>
{% endif %}
You ip address {{ip_address}} ({{shop_name}})
  </div>
</div>



