<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />



<script type="text/javascript" src="/media/jquery-1.11.2.min.js"></script> 
<script type="text/javascript" src="/media/jquery.hotkeys-0.7.9.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
      
    $('#login_form').submit(function(){
            $.ajax({
                type: "POST",
//                url: "/xhr_test/",
                url: "/accounts/login/",
                data: { user: $('#username').val() , password: $('#password').val()},
                dataType: "json",
                success:function(msg){
                    //alert("Все отлично ушло на сервер - " + msg['result']);
                    if (msg['result'] == "error") {
                    	$('#result').empty();
                    	$('#error_login').empty();
                    	$('#login_form').after('<span id="result"> Не вірно введений логін або пароль </span>');
                    }
                    if (msg['result'] == "success") {
                    	user = $('#username').val().toUpperCase();
                    	$('#result').empty();
                    	$('#error_login').empty();
                    	//$('#login_form').after('<label id="error_login">User name: ' + user + '</label>');
                    	$('#user_label').html('User name: ' + user);
                    	$('#login_form').hide();
                    	$('#logout_form').show();
                    	//return true;

                    	//location.reload(); //перезавантаження сторінки
                    }
                    	
//                    $('#ttt').append("<strong> " + msg + "</strong>");
//                    $('#ttt').text(""+msg);
//                    $('#id_deposit').val(""+msg);
                    
                },
                error:function(){
                	$('#result').empty();
                    //alert("При отправке возникли проблемы");
                    $('#login_form').after('<span id="result"> Помилка звязку. Перевірка не пройдена. </span>');
                }
            });

	return false;
                 
	});

})


$(document).bind('keydown', 'alt+z', function(){
  $('#tsearch_field').focus();
});

$(document).bind('keydown', 'alt+x', function(){
  $('#asearch_field').focus();
});

</script>

{% load i18n %}

<div class="row">
  <div class="col-xs-3 col-sm-3 col-lg-3">
  <a href="/"><img src="/media/images/site_logo_small.gif" alt="" title=""/></a>
  </div>

<div class="col-xs-6 col-sm-6 col-lg-6">

{% comment %}
<div class="row"> 
    <form action="/invoice/search/result" method="GET" class="form-horizontal">
   <div class="form-group form-group-sm">
  <div class="col-xs-5 col-lg-9">   
	<div class="input-group input-group-sm"> 
    <label class="control-label">Введіть назву товару: </label>
    <input type="text" name="name" id="tsearch_field" class="form-control">
	</div>
	<div class="input-group input-group-sm">
    <label class="control-label">Введіть артикул товару: </label>
    <input type="text" name="id" id="asearch_field" class="form-control">
	</div>
   </div>
<div class="col-xs-4 col-lg-4">	
	<div class="input-group input-group-sm">
    <input type="submit" value="Пошук" class="btn btn-primary">
	</div>    
</div>    
   </div>
</div> 
  </form>
{% endcomment %}

<form action="/invoice/search/result" method="GET" class="form-horizontal">
<div class="input-group">
   <input type="text" class="form-control" placeholder="Назва товару (Alt + z)" name="name" id="tsearch_field">
</div>
<div class="input-group">
   <input type="text" class="form-control" placeholder="Артикул товару (Alt + x)" name="id" id="asearch_field">
   <span class="input-group-btn">
{#        <button class="btn btn-primary" type="submit">Пошук</button> #}
        <input type="submit" value="Пошук" class="btn btn-primary">
   </span>
</div>
</form>

</div>


  <div class="col-xs-3 col-sm-3 col-lg-2">
{% if user.is_authenticated %}
  <form method="post" action="/accounts/logout/">
        {% csrf_token %}
        <label>User name: {{user.username|upper}}</label>
        <input type="submit" name="logout" value="{% trans "Logout" %}" class="ptserif"/>
        <input type="hidden" name="next_page" value="{{ next|escape }}" />
    </form>
{% else %}
  <form action="/accounts/login/" method="post" id="login_form">
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>
  
  <form method="post" action="/accounts/logout/" style="display:none;" id="logout_form">
        {% csrf_token %}
        <label id="user_label">User name: {{user.username|upper}}</label>
        <input type="submit" name="logout" value="{% trans "Logout" %}" class="ptserif"/>
        <input type="hidden" name="next_page" value="{{ next|escape }}" />
    </form>
  
{% endif %}
  </div>
</div>


{% comment %}
<table id="mainmenutable"><tr>
<td style="border-color:white;">
<a href="/"><img src="/media/images/site_logo_small.gif" alt="" title=""/></a>
</td>

<td style="border: 0;">  
  <form action="/invoice/search/result" method="GET" class="form-horizontal">
  <div class="form-group form-group-sm">
    <label>Введіть назву товару: </label>
    <input type="text" name="name" id="tsearch_field">
    <br>
    <label>Введіть артикул товару: </label>
    <input type="text" name="id" id="asearch_field">
    <input type="submit" value="Пошук">
   </div>
  </form>
</td>

 
<td id="tdlogo">

 <a href="/"><img src="/media/images/riban.gif" alt="" title=""/></a>
 


{% if user.is_authenticated %}
  <form method="post" action="/accounts/logout/">
        {% csrf_token %}
        <label>User name: {{user.username|upper}}</label>
        <input type="submit" name="logout" value="{% trans "Logout" %}" class="ptserif"/>
        <input type="hidden" name="next_page" value="{{ next|escape }}" />
    </form>
{% else %}
  <form action="/accounts/login/" method="post" id="login_form">
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>
  
  <form method="post" action="/accounts/logout/" style="display:none;" id="logout_form">
        {% csrf_token %}
        <label id="user_label">User name: {{user.username|upper}}</label>
        <input type="submit" name="logout" value="{% trans "Logout" %}" class="ptserif"/>
        <input type="hidden" name="next_page" value="{{ next|escape }}" />
    </form>
  
{% endif %}
	
</td>
</tr>
</table>
{% endcomment %} 

