<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Прайс майстерні</title>

{% load poll_extras %}

<link rel="stylesheet" type="text/css" href="/media/table.css">

<style>

.work_name{
	padding-left: 5px;
}

</style>


{% if pprint %}
<a></a>
{%else%}
<a href="/workshop/price/list/print/">Версія для друку</a>
{% endif %}

<p>
<center><b>Веломайстерня надає послуги з ремонту та технічного обслуговування велосипедів провідних виробників.
Усі роботи у майстерні проводяться професійними інструментами із застосуванням рівних рук, нано-технологічних мастил та великого досвіду.
</b>
<br><br>  
Веломайстерня приймає на ремонт/профілактику
<b>ЛИШЕ ЧИСТІ велосипеди !!!</b>
</center>

<ol>
<li type="1">
Увага! Веломайстерня забезпечує зберігання велосипеда (комплектуючих), протягом обумовленого строку ремонту - безкоштовно. Кожен день прострочення строку зберігання велосипеда 10 грн./день
</li>
<li type="1">
Вартість змінних деталей, встановлених механіком під час ремонту, погоджується із замовником, не враховується у вартості виконаних робіт та сплачується окремо.
</li>
<li>
За умови виявлення корозії на деталях, бруду або не передбачених нормами експлуатації мастил, - до вартості робіт застосовується надбавка у розмірі 25% до основної ціни.
</li>
<li>
За умови зняття/встановлення деталі без налаштування, замовник сплачує 50% вартості виконаних робіт.
</li>
<li>
При виконанні термінового ремонту велосипеда (деталі) застосовуються надбавки у розмірі:
</li>
<ul>
<li type="square">
У присутності замовника + 100% від вартості робіт!*
</li>
<li type="square">
У строк не більше 3-х годин + 75%
</li>
<li type="square">
Протягом 24 годин +50%
</li>
</ul>
<li>
Інструменти, розраховані для професійного використання у майстерні, стороннім особам НЕ ВИДАЮТЬСЯ!
</li>
<li>
Вартість ремонту нестандартного або занедбаного обладнання розраховується майстром відповідно до витраченого ним робочого часу (договірна ціна).
</li>
<li>
Вартість послуг, не зазначених у даному прайс-листі, оговорюється з майстром окремо.
</li>
<li>
Майстер може ВІДМОВИТИ у виконанні будь-яких робіт на велосипедах (типу AZIMUT, FORT, ARDIS, FORWARD, STERN, STORM тощо), які не розраховані на довготривале використання та не можуть бути налаштовані для нормальної роботи
</li>
<li>
Гарантійне обслуговування велосипедів здійснюється в строк до 30 календарних днів з моменту придбання велосипеду та після пробігу велосипеда від 50 до 100 км!
</li>
* За умови складного ремонту з елементами ризику та підвищеного травматизму, майстерня не несе відповідальності за вашу безпеку, непошкодженість ваших речей та одягу тощо.
</ol> 
</p>

<div style="float:left; display:table-cell; vertical-align:middle; text-align:center;" ><br><br> <h1>Прайс-лист робіт веломайстерні Rivelo</h1> </div>
<div align="right"> <img src="/media/images/site_logo_small.gif">  </div>
<div style="clear:left;"></div>     
	
    <table border="1">
    <tr>
    	<th>#</th>
    	<th>Назва</th>
    	<th>Опис</th>
    	<th>Ціна (грн.)</th>
    </tr>    

{% for type in work_list %}
{% ifchanged type.work_group %}  
<tr style="height: 30px;">
<td colspan="4" align="left" style="font: 15px arial, sans-serif;">
<b>{{type.work_group__name}}</b>
</td>
</tr>
{% endifchanged %}

<tr>
	<td align="center">       
	{% if request.user|has_group:"admin" %}
	<a href="/worktype/edit/{{type.id}}">{{forloop.counter}}</a>
	{% else %}
	{{forloop.counter}}
	{% endif %}
	
	</td>
	<td width="27%" class="work_name">
	{% if user.is_authenticated %}       
	<a href="/workshop/add/{{type.id}}/"> 
	{{type.name}}
	</a>
	{% else %}
	{{type.name}}
	{% endif %}
	</td>
	<td>       
	{{type.description}}
	</td>	
	<td align="center">       
{% if type.sale > 0 %}
<s>	{{type.price|floatformat:0}} </s><br>
<b>	{{type.price|sale_by_percent:type.sale|floatformat:0}} </b>
{% else %}
	{#type.price|floatformat:0#}
{% endif %}
	  
	
	{% if type.plus %}
	+
	{% endif %}
	</td>
</tr>
{% endfor %}       
    
</table>
