<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Майстерня</title>

<link rel="stylesheet" type="text/css" href="/media/css/table.css"> 

{% load poll_extras %}

<style>

.badge-warning{
	background-color: #eded21;
}

.badge-warning[href]:hover{
	background-color: #FFFF99;
}

</style> 

<script language="JavaScript">
// OLD function
function resWorkshop()
{
var p=0;
var All=document.forms['formWorkshopSum'];
for(var i = 0; i < All.elements.length; ++i) {
	if(All.elements[i].checked){
	p+=parseFloat(All.elements[i].value);
	}
//	document.getElementById('workshop_pay').innerHTML = "До оплати: <br>" + p.toFixed(2)+" грн.";
	document.getElementById('workshop_pay').innerHTML = "" + p.toFixed(2)+" грн.";
}
}


function res() {
	var sum = 0;
	var ar = $(".mc:input:checked");
	$(".mc:input:checked").each(function() {
        sum = sum + parseFloat(this.value)
    });
	document.getElementById('workshop_pay').innerHTML = sum.toFixed(2)+" грн.";
}

$(document).ready(function() {

	$('[data-toggle="tooltip"]').tooltip();
	
$(".w_del").click(function(){

 if (confirm("Ви дійсно бажаєте видалити запис?")) {
 	console.log($(this).parents("tr"));
 var row = $(this).parents("tr"); //.remove();
		$.ajax({
                type: "POST",
                url: "/workshop/delete/",
                data: {id:  $(this).attr("id_work") },
                dataType: "text",
                success:function(data){
                	console.log("ajax done");
                 	row.remove();
                },
                error:function(data){
                 	console.log("Ajax Error " + data.responseText);
                    alert("Помилка: " + data.responseText);
                }
        });	
 }
});
 
	$("#maincheck").click( function() {
    	if($('#maincheck').prop('checked')){
        	$('.mc').prop( "checked", true )
        } else {

            $('.mc').prop( "checked", false )
        }
    	res();
	});
 
});
    
</script>

<body onLoad="res()">

<br>
<h2>
	За місяць: 
	{% for i in "123456789012" %}
	{% ifequal forloop.counter sel_month %}
    <a href="/workshop/year/{{sel_year}}/month/{{forloop.counter}}/view" class="badge badge-success select">{{forloop.counter}}</a>
    {% else %}
    <a href="/workshop/year/{{sel_year}}/month/{{forloop.counter}}/view" class="badge badge-success">{{forloop.counter}}</a>
    {% endifequal %}
	{% endfor %}
</h2>    

<h2>
	За день:
	{% for day in month_days %}		 
	{% ifequal day sel_day %}
    <a href="/workshop/year/{{sel_year}}/month/{{sel_month}}/day/{{day}}/view" class="badge badge-success select">{{day}}</a>
    {% else %}
    <a href="/workshop/year/{{sel_year}}/month/{{sel_month}}/day/{{day}}/view" class="badge badge-success">{{day}}</a>
    {% endifequal %}
    {% endfor %}
</h2>    

<form action="/payform/workshop/" method="post" name="formWorkshopSum">

<div class="d-flex">
   <div class="mr-auto">
   <h1><span class="badge badge-dark">Виконані роботи за {{sel_day}}.{{sel_month}}.{{sel_year}} року</span> <span class="badge badge-info" id="show_date">{{sel_day}}/{{sel_month}}/{{sel_year}}</span> 
   <a href="/workshop/add/" class="badge badge-secondary" data-toggle="tooltip" data-html="true" data-placement="right" title="Додати роботу"><i class="material-icons">add_circle_outline</i></a> </h1>

   </div> 

 <div class="mr-auto"> 
<h2>
{% for shop_obj in shops %}
{% if shop_obj.id == shop %} 
<a class="badge badge-success select" title="Показати роботи в майстерні на {{shop_obj.name}}" href="{% url 'workshop-day-byshop' shop_obj.id sel_year sel_month sel_day %}">{{shop_obj.name}} </a>
{% else %}
<a class="badge badge-success" title="Показати роботи в майстерні на {{shop_obj.name}}" href="{% url 'workshop-day-byshop' shop_obj.id sel_year sel_month sel_day %}">{{shop_obj.name}} </a>
{% endif %}

{# <a href="{% url 'workticket-byshop-cur-month' shop_obj.id %}">{{shop_obj.name}}</a> #}

{% endfor %}
</h2>
</div>

   
 <div class="ml-auto">
  <div class="input-group ">
  <div class="input-group-prepend">
  	<span id="workshop_pay" style="COLOR: red" class="input-group-text font-weight-bold" >2133</span>
    <span class="input-group-text" id="basic-addon1">Грн.</span>
  </div>
 <input type="submit" value="Оплата" type="button" class="btn btn-warning font-weight-bold">
{# <input type="submit" value="E-mail" name="send_check"> #} 
</div>
    
 </div>
</div>
	

    <table id="iTable" class = "table table-bordered table-hover table-condensed">
    <tr>
    	<th>#</th>
{#    	<th>ID</th> #}
    	<th>Клієнт</th>
    	<th>Дата завершення</th>
    	<th>Майстерня</th>
    	<th>Робота</th>
    	<th>Ціна (грн.)</th>
    	<th>Опис</th>
{% if user.is_authenticated %}	    	
    	<th>Дія</th>
{% endif %}    	
    	<th><input type="checkbox" id="maincheck" checked /></th>
    </tr>
 
{% for type in workshop %}
{% if type.pay %}	
<tr id="row_{{type.id}}">	
{% else %}
<tr BGCOLOR="#F2AE6B" id="row_{{type.id}}">
{% endif %}
	<td title="{{type.user.username}}" data-toggle="tooltip" data-html="true" data-placement="right">
	{{forloop.counter}}
	</td>  
	<td title="Телефон: {{type.client.phone|phone2Str}}">       
	<a href="/client/result/search/?id={{type.client.id}}" title="Телефон: {{type.client.phone|phone2Str}}" data-toggle="tooltip" data-html="true" data-placement="right">
	{{type.client.name}} {% if type.client.forumname %} ({{type.client.forumname}}) {% endif %}   
	</a>
	</td>
	<td align='center'>       
	{{type.date|date:'d-m-Y H:i' }} ({{type.time}} хвилин)
	</td>
	<td align='center'>       
	{{type.shop.name }} 
	</td>	

	<td>       
	<span class="badge badge-success" title="Додати роботу <br> {{type.work_type}}" data-toggle="tooltip" data-html="true" data-placement="top"><a href="/workshop/add/{{ type.work_type.id }}/" >
	<i class="material-icons">build</i>
	</a></span>
	{{type.work_type}}
{% if type.check_depence_category %}	 	
<a data-toggle="collapse" href="#work-{{forloop.counter}}" {# data-target="#collapseExample" #} aria-expanded="false" aria-controls="collapseExample">
	<i class="material-icons">expand_more</i>
</a>
<div class="collapse" id="work-{{forloop.counter}}">
  <div class="card card-body">
<b>Категорії товарів:</b>
<div class="row">
 	{% for type in type.work_type.component_type.all %}
		<div class="col-auto mt-1 ml-0">
			<a href="{% url 'category-id-list' type.id %}" ><img src="{{type.get_icon_name}}" style="width:64px" alt="{{type.name}}"></a> 
		</div>
 	{% endfor %}
 	</div>
  </div>
</div>
{% endif %}
	<span class="badge badge-success" title="Заявка: {{type.ticket}}">{{type.ticket.id}}</span>
	</td>	
	
	<td align='center'>       
	{{type.price}}
	</td>
	<td>       
	{{type.description|linebreaks}}
	</td>
{% comment %}
	<td align='center'>
	<a href="/workshop/edit/{{ type.id }}" title="Редагувати">
		<i class="material-icons">create</i>
	</a>
	{% if perms.accounting.delete_workshop %} 
	</td>
{% endcomment %}
	
{% if user.is_authenticated %}
	<td align='center'>
	<a href="/workshop/edit/{{ type.id }}" title="Редагувати" data-toggle="tooltip" data-html="true" data-placement="left">
		<i class="material-icons">create</i>
	</a>
	<a href="/workshop/add/client/{{ type.client.id }}/" title="Додати роботу клієнту <br> {{type.client.name}}" data-toggle="tooltip" data-html="true" data-placement="left">
	<i class="material-icons">build</i>
	</a>
	<span class="w_del" id_work={{type.id}} style="cursor: pointer;" title="Видалити" data-toggle="tooltip" data-html="true" data-placement="top">
	    <i class="material-icons">delete_forever</i>
    </span>    
    </td>
{% endif %}
    
    <td align="center">
{% if type.pay %}    
   	<input type="checkbox" class="mc" id="model_workshop{{forloop.counter}}" value="{{type.price}}" onclick="res()" name="checkbox_{{ type.id }}"/>
{% else %}
	{% ifequal request.user.username type.user.username %} 
   		<input type="checkbox" class="mc" id="model_workshop{{forloop.counter}}" value="{{type.price}}" onclick="res()" checked name="checkbox_{{ type.id }}"/>
   	{% else %}
   		<input type="checkbox" class="mc" id="model_workshop{{forloop.counter}}" value="{{type.price}}" onclick="res()" name="checkbox_{{ type.id }}"/>
   	{% endifequal %}
{% endif %}
    </td>
</tr>
{% endfor %}   

<tr>
{#    	<th></th> #}
    	<th></th>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th>
    	</th>
    	<th>{% if request.user|has_group:"admin" %}
    	{{summ}} грн.
    	{% endif %}    	
    	</th>
    	<th>
    	<input type="submit" value="E-mail" name="send_check" id="send_check"> 
<!--     	 onClick="return confirm('Створити і надіслати листа?')">   -->
    	</th>
    	
    	<th>
    	<p><input type="submit" value="Оплата" name="pay"></p>    	
		</th>
		
    	
    	<th>
    	</th>
</tr> 

</table>
<br>

</form>

