<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Редагування заявки</title>

	<link rel="stylesheet" type="text/css" href="/media/autocomplete.css">
	<link rel="stylesheet" href="/media/jquery-ui.min.css">

	<script type="text/javascript" src="/media/jquery-ui.min.js"></script>	

<script type="text/javascript">
 $(function() {
//	var sale = $('#id_sale').val();
        $( "#s_client" ).autocomplete({
            source: function( request, response ) {
                $.ajax({
                type: "GET",
                url: "/client/lookup",
				data: { query: $("#s_client").val() },
                dataType: "json",
                success: function( data ) {
                        	response( $.map( data, function( item ) {
                            return {
                                label: item.pk + ": [" + item.fields.forumname + "] "+ item.fields.name,
                                value: item.fields.name,
                                idid: item.fields.sale,
                                pk_id: item.pk                                
    							}
                        	}));                                
                            }
                    })
            },
            minLength: 3,
            select: function( event, ui ) {
	            $('#id_client').val(ui.item.pk_id);
            },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });

//      $(".ac_input").focus();
//  		$('#id_client').hide();
});       


//$('#s_client').bind('change', 
function id2name(){

            $.ajax({
                type: "GET",
                url: "/client/lookup/byid/",
                data: { client_id: $("#s_client").val() },
                dataType: "json",
                success:function(msg){
                	$.each(msg,function(index,item){
                	$("#s_client").val(item)    
                    });
                },
                error:function(){
                    alert("При отправке возникли проблемы");
                }
            });      

};


$(document).ready(function() {
	
	$('#bike_part_type').val($('#id_bike_part_type :selected').text());
	
	$("#s_client").val($("#id_client").val());	
	if ($("#s_client").val() != '') {
		id2name();
	}
	
//	$("#id_client").parents('tr').hide();
	
	//$("textarea").addClass("w-100");
	
	
	$( "#bike_part_type" ).autocomplete({
	      source: function( request, response ) {
	        $.ajax({
	          type: "POST",
	          url: "/category/lookup/",
	          dataType: "json",
	          data: {
	            query: $("#bike_part_type").val()
	          },
	          success: function( data ) {
	            response( $.map( data, function( item ) {
	              return {
	                label: item.fields.name + ": [" + item.fields.name_ukr + "] - " + item.fields.name_ukr,
	                value: item.fields.name,
//	                sale: item.fields.name,
	                pk_id: item.pk                       
	              }
	            }));
	          }
	        });
	      },
	      minLength: 3,
	      select: function( event, ui ) {
	      	var sel = ui.item.pk_id;
	      	$("#id_bike_part_type [value = '"+sel+"']").attr("selected", "selected");
	      	
/* 	      	if (ui.item.sale >= 5) {
		      	//glob_c_sale = ui.item.sale;
		      	glob_c_sale = 5;
	      	}
	      	else{
	      		glob_c_sale = 0;
	      	}
	      	//if ((ui.item.sale >= 5) && (ui.item.sale > $('#id_sale').val())) {
	      	if ((ui.item.sale >= 5) && (ui.item.sale > glob_b_sale)) {
	      		$('#id_sale').val(5);
	      		$('#id_sale').change();
	      	}
	      	else{
	      	//if ((ui.item.sale < 5) && (ui.item.sale < $('#id_sale').val())) {
	      		$('#id_sale').val(float2int(glob_b_sale));
	      		$('#id_sale').change();
	      	};
 */	      	
	      },
	      open: function() {
	        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
	      },
	      close: function() {
	        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
	      }
	    });	
	
	
});
</script>

{% load poll_extras %}

<body onload="document.getElementById('s_client').focus()">

<h1><span class="badge badge-secondary">Заявка на ремонт</span></h1>

<div class="container mw-100">
  <div class="row justify-content-between">

<div class="col-md-12 col-lg-7 col-sm-12">    
    <form action="./" method="POST" enctype="multipart/form-data">
        <table>
<tr>        
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold" id="basic-addon1">Клієнт</span>
  </div>
  {{ form.client }}
  <input type="text" id="s_client" class="form-control {% if form.client.errors %}  is-invalid {% endif %}" placeholder="Прізвище, імя клієнта або телефон" aria-label="Username" aria-describedby="basic-addon1">
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold" id="basic-addon1"><a href="/client/add/"> Створити клієнта </a></span>
  </div>
<div class="invalid-feedback">
	{{ form.client.errors }}
</div>

</div>
</tr>
{#        <label>Клієнт: </label>        <input id="s_client" style="width: 550px;" /> <span class="badge badge-pill badge-light" style="font-size: 16px"> <a href="/client/add/"> Створити клієнта </a> </span> #}
        
            {# form.as_table #}

<tr>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">Опис</span>
  </div>
  {{ form.description |add_attr:"class:form-control" }}
{#  <textarea class="form-control" aria-label="With textarea" id="id_description"></textarea> #}
</div>
</tr>            


<tr>
<div class="input-group mt-2 mb-2">
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">Велосипед</span>
  </div>
 {{ form.bicycle}}  
</div>
 


<div class="input-group mt-2 mb-2">
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">Дата</span>
  </div>
  {{ form.date |add_attr:"class:form-control" }}
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">Дата закінчення</span>
  </div>
  {{ form.end_date |add_attr:"class:form-control" }}
</div>


<div class="input-group mt-2 mb-2">
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">Запчастина велосипеду</span>
  </div>

  <input type="text" id="bike_part_type" class="form-control {% if form.bike_part_type.errors %}  is-invalid {% endif %}" placeholder="{{ form.bike_part_type.value }}" aria-label="BikeParts" aria-describedby="basic-addon1">
  {{ form.bike_part_type }}
  
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">Орієнтовний час на виконання (години)</span>
  </div>
  {{ form.estimate_time }}
</div>


<div class="input-group mt-2 mb-2">
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">Статус</span>
  </div>
  {{ form.status |add_attr:"class:form-control" }}
    <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">Shop</span>
  </div>
  {{ form.shop |add_attr:"class:form-control" }}
</div>


</tr>


        </table>
<div class="row">
<div class="col">
	<input type="submit" value="Створити" class="btn btn-success w-100">        
</div>
</div>

        
    </form>
</div>
</div>    

</div>    
<br>    
    
</body>

