<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />



        <link rel="stylesheet" type="text/css" href="/media/table.css">

	<h1>Статус роботи</h1>
    	
    <table border="1">
    <tr>
    	<th>ID</th>
    	<th>Назва</th>
    	<th>Опис</th>
    	<th>Дія</th>
    </tr>    
    {% for type in workstatus %}
    <tr>
	{% for element in type %}
        <td>
            {{ element }}
        </td>
    {% endfor %}
            <td>
        <a href="/workstatus/edit/{{ type|first }}">edit</a>
        <br>            
        <a href="/workstatus/delete/{{ type|first }}">delete</a>
        </td>
    </tr>
    {% endfor %}
    </table>

<br>


{% if phonestatuslist %}
	<h1>Статус дзвінка</h1>
    <table border="1">
    <tr>
    	<th>ID</th>
    	<th>Назва</th>
    	<th>Опис</th>
    	<th>Дія</th>
    </tr>    
    {% for status in phonestatuslist %}
    <tr>
        <td>
            {{ status.id }}
        </td>
        <td>
            {{ status.name }}
        </td>
        <td>
            {{ status.description }}
        </td>
        
        <td>
        <a href="/phonestatus/edit/{{ status.id }}">edit</a>
        <br>            
        <a href="/phonestatus/delete/{{ status.id }}">delete</a>
        </td>
    </tr>
    {% endfor %}
    </table>


{% endif %}

<br><br>
<a href="/workstatus/add/">Створити новий стан роботи</a>
<br>
<a href="/phonestatus/add/">Новий телефонний статус</a>
<br>       




