<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Майстерня</title>

<link rel="stylesheet" type="text/css" href="/media/css/table.css"> 
{# <link type="text/css" rel="stylesheet" href="/media/css/jquery.qtip.min.css" /> #} 

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{# <script type="text/javascript" src="/media/js/jquery.qtip.min.js"></script> #} 

{% load poll_extras %}

<style>

.badge-warning{
	background-color: #eded21;
}

.badge-warning[href]:hover{
	background-color: #FFFF99;
}

</style> 

<script language="JavaScript">

function resWorkshop()
{
var p=0;
var All=document.forms['formWorkshopSum'];
for(var i = 0; i < All.elements.length; ++i) {
	if(All.elements[i].checked){
	p+=parseFloat(All.elements[i].value);
	}
	document.getElementById('workshop_pay').innerHTML = "До оплати: <br>" + p.toFixed(2)+" грн.";
}
}

$(document).ready(function() {
	
	
 $(".w_del").click(function(){

 if (confirm("Ви дійсно бажаєте видалити запис?")) {
 	console.log($(this).parents("tr"));
 	console.log("log = "+$(this).attr("id_work"));
	$(this).parents("tr").remove();
		$.ajax({
                type: "POST",
                url: "/workshop/delete/",
                data: {id:  $(this).attr("id_work") },
                dataType: "text",
                success:function(data){
                	console.log("ajax work");
                },
                error:function(data){
                    alert("Виникли проблеми з сервером" + data);
                }
            });	
 }
	
 });
});
    
</script>

<body onLoad="resWorkshop()">

<br>
<h2>
	За місяць: 
	{% for i in "123456789012" %}
	{% ifequal forloop.counter sel_month %}
    <a href="/workshop/year/{{sel_year}}/month/{{forloop.counter}}/view" class="badge badge-success select">{{forloop.counter}}</a>
    {% else %}
    <a href="/workshop/year/{{sel_year}}/month/{{forloop.counter}}/view" class="badge badge-success">{{forloop.counter}}</a>
    {% endifequal %}
	{% endfor %}
</h2>    

<h2>
	За день:
	{% for day in month_days %}		 
	{% ifequal day sel_day %}
    <a href="/workshop/year/{{sel_year}}/month/{{sel_month}}/day/{{day}}/view" class="badge badge-success select">{{day}}</a>
    {% else %}
    <a href="/workshop/year/{{sel_year}}/month/{{sel_month}}/day/{{day}}/view" class="badge badge-success">{{day}}</a>
    {% endifequal %}
    {% endfor %}
</h2>    

    <h1> <span class="badge badge-info">Виконані роботи за {{sel_day}}.{{sel_month}}.{{sel_year}} року</span>
     <a href="/workshop/add/" class="badge badge-secondary">Додати роботу</a></h1>
	
<form action="/payform/workshop/" method="post" name="formWorkshopSum">
<br> 
    <table id="iTable" class = "table table-bordered table-hover table-condensed">
    <tr>
    	<th>#</th>
{#    	<th>ID</th> #}
    	<th>Клієнт</th>
    	<th>Дата завершення</th>
    	<th>Робота</th>
    	<th>Ціна (грн.)</th>
    	<th>Опис</th>
{% if user.is_authenticated %}	    	
    	<th>Дія</th>
{% endif %}    	
    	<th></th>
    </tr>
 
{% for type in workshop %}
{% if type.pay %}	
<tr id="row_{{type.id}}">	
{% else %}
<tr BGCOLOR="#F2AE6B" id="row_{{type.id}}">
{% endif %}
	<td title="Створено користувачем {{type.user.username}}">
	{{forloop.counter}}
	</td>  
{#	<td title="Створено користувачем {{type.user.username}}">	{{type.id}}	</td> #}
{#	<span title="Телефон: {{client_name.phone|phone2Str}} <br> E-mail: {{client_name.email}}"> #}
	<td title="Телефон: {{type.client.phone|phone2Str}}">       
	<a href="/client/result/search/?id={{type.client.id}}" title="Телефон: {{type.client.phone|phone2Str}}">
	{{type.client.name}} {% if type.client.forumname %} ({{type.client.forumname}}) {% endif %}   
	</a>
	</td>
	<td align='center'>       
	{{type.date|date:'d-m-Y H:i' }}
	</td>
	<td>       
	{{type.work_type}}
	</td>	
	<td align='center'>       
	{{type.price}}
	</td>
	<td>       
	{{type.description}}
	</td>
{% comment %}
	<td align='center'>
	<a href="/workshop/edit/{{ type.id }}" title="Редагувати">
		<i class="material-icons">create</i>
	</a>
	{% if perms.accounting.delete_workshop %} 
	</td>
{% endcomment %}
	
{% if user.is_authenticated %}
	<td align='center'>
	<a href="/workshop/edit/{{ type.id }}" title="Редагувати">
		<i class="material-icons">create</i>
	</a>
	<span class="w_del" id_work={{type.id}} style="cursor: pointer;" title="Видалити">
	    <i class="material-icons">delete_forever</i>
    </span>    
    </td>
{% endif %}
    
    <td align="center">
{% if type.pay %}    
   	<input type="checkbox" id="model_workshop{{forloop.counter}}" value="{{type.price}}" onclick="resWorkshop()" name="checkbox_{{ type.id }}"/>
{% else %}
	{% ifequal request.user.username type.user.username %} 
   		<input type="checkbox" id="model_workshop{{forloop.counter}}" value="{{type.price}}" onclick="resWorkshop()" checked name="checkbox_{{ type.id }}"/>
   	{% else %}
   		<input type="checkbox" id="model_workshop{{forloop.counter}}" value="{{type.price}}" onclick="resWorkshop()" name="checkbox_{{ type.id }}"/>
   	{% endifequal %}
{% endif %}
    </td>
</tr>
{% endfor %}   

<tr>
{#    	<th></th> #}
    	<th></th>
    	<th></th>
    	<th></th>
    	<th>
{% if request.user|has_group:"admin" %}    	
Сума:    	{{summ}} грн.
{% endif %}    	
    	</th>
    	<th id="workshop_pay"></th>
    	<th>
    	<input type="submit" value="E-mail" name="send_check" id="send_check"> 
<!--     	 onClick="return confirm('Створити і надіслати листа?')">   -->
    	</th>
    	
    	<th>
    	<p><input type="submit" value="Оплата" name="pay"></p>    	
		</th>
		
    	
    	<th>
    	</th>
</tr> 

</table>
<br>

</form>

