<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Редагування заявки</title>

	<link rel="stylesheet" type="text/css" href="/media/autocomplete.css">
	<link rel="stylesheet" href="/media/jquery-ui.min.css">

	<script type="text/javascript" src="/media/jquery-ui.min.js"></script>	

<script type="text/javascript">
$(function() {
	var sale = $('#id_sale').val();
        $( "#s_client" ).autocomplete({
            source: function( request, response ) {
                $.ajax({
                type: "GET",
                url: "/client/lookup",
				data: { query: $("#s_client").val() },
                dataType: "json",
                success: function( data ) {
                        	response( $.map( data, function( item ) {
                            return {
                                label: item.pk + ": [" + item.fields.forumname + "] "+ item.fields.name,
                                value: item.fields.name,
                                idid: item.fields.sale,
                                pk_id: item.pk                                
    							}
                        	}));                                
                            }
                    })
            },
            minLength: 3,
            select: function( event, ui ) {
	            $('#id_client').val(ui.item.pk_id);
            },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });

//      $(".ac_input").focus();
//  		$('#id_client').hide();
});      


//$('#s_client').bind('change', 
function id2name(){

            $.ajax({
                type: "GET",
                url: "/client/lookup/byid/",
                data: { client_id: $("#s_client").val() },
                dataType: "json",
                success:function(msg){
                	$.each(msg,function(index,item){
                	$("#s_client").val(item)    
                    });
                },
                error:function(){
                    alert("При отправке возникли проблемы");
                }
            });      

};


$(document).ready(function() {
	
	$("#s_client").val($("#id_client").val());
	
	if ($("#s_client").val() != '') {
		id2name();
	}
	
	$("#id_client").parents('tr').hide();
	
	//$("textarea").addClass("w-100");
	
});
</script>

{% load poll_extras %}

<body onload="document.getElementById('s_client').focus()">

<h1><span class="badge badge-secondary">Заявка на ремонт</span></h1>

<div class="container mw-100">
  <div class="row justify-content-between">

<div class="col-md-12 col-lg-8">    
    <form action="./" method="POST" enctype="multipart/form-data">
        <table>
<tr>        
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold" id="basic-addon1">Клієнт</span>
  </div>
  {{ form.client }}
  <input type="text" id="s_client" class="form-control {% if form.client.errors %}  is-invalid {% endif %}" placeholder="Прізвище, імя клієнта" aria-label="Username" aria-describedby="basic-addon1">
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold" id="basic-addon1"><a href="/client/add/"> Створити клієнта </a></span>
  </div>
<div class="invalid-feedback">
	{{ form.client.errors }}
</div>

</div>
</tr>
{#        <label>Клієнт: </label>        <input id="s_client" style="width: 550px;" /> <span class="badge badge-pill badge-light" style="font-size: 16px"> <a href="/client/add/"> Створити клієнта </a> </span> #}
        
            {# form.as_table #}

<tr>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">Опис</span>
  </div>
  {{ form.description |add_attr:"class:form-control" }}
{#  <textarea class="form-control" aria-label="With textarea" id="id_description"></textarea> #}
</div>
</tr>            

<tr>
<div class="input-group mt-2 mb-2">
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">Статус</span>
  </div>
  {{ form.status |add_attr:"class:form-control" }}
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">Дата</span>
  </div>
  {{ form.date |add_attr:"class:form-control" }}
  <div class="input-group-prepend">
    <span class="input-group-text font-weight-bold">Дата закінчення</span>
  </div>
  {{ form.end_date |add_attr:"class:form-control" }}
</div>
</tr>        

        </table>
<div class="row">
<div class="col">
	<input type="submit" value="Створити" class="btn btn-success w-100">        
</div>
</div>

        
    </form>
</div>
</div>    

</div>    
<br>    
    
</body>

