<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Майстерня/Заявки</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="/media/jquery-ui.min.css">
<link rel="stylesheet" href="/media/css/table.css">

<script src="/media/jquery-ui.min.js"></script>
<script src="/media/jquery.jeditable.mini.js" type="text/javascript" charset="utf-8"></script>

<link type="text/css" rel="stylesheet" href="/media/css/jquery.qtip.min.css" />
{#<script type="text/javascript" src="/media/js/jquery.qtip.min.js"></script>#}

<style>

.badge-warning{
	background-color: #eded21;
}

.badge-warning[href]:hover{
	background-color: #FFFF99;
}

.tooltip-inner {
  background-color: #73AD21 !important;
  color: #color ;
  font-size: 20px; 
  width: 500px;
  
}

</style> 

<script>
$(document).ready(function() {

	 $('[data-toggle="tooltip"]').tooltip();
	
/*	$('[title!=""]').qtip({
	    position: {
	        at: 'top left'
	    }
	}); */
	
/*	
	$(document).tooltip({
		content: function () {
        return $(this).prop('title');
        }
    });
 */
 
$('.editable').editable('/workticket/edit/', { 
     loadurl : '/workstatus/view/',
     type   : 'select',
     submit : 'OK',
     submitdata : function() {
      	 	return {id_w : $(this).attr('id_workticket')};
     },
     callback : function(value, settings) {
       switch(value) {
		case 'Прийнято':
         $(this).closest("tr").attr('class', 'w_true');
         break;
		case 'Ремонтується':
         $(this).closest("tr").attr('class', 'w_working');
		 break;
		case 'Виконано':
         $(this).closest("tr").attr('class', 'w_done_done');
		 break;
		case 'Виконано невидано':
         $(this).closest("tr").attr('class', 'w_done');
		 break;
		default :
         $(this).closest("tr").attr('class', 'w_true');
       }
     }
 });
 
$(".w_desc").each(function() {
	$(".w_desc").editable('/workticket/edit/', {
		id : 'desc_w',
         submitdata : function() {
      	 	return {desc_w : $(this).attr('id_workticket')};
    	 },         
         type      : 'textarea',
         cancel    : 'Cancel',
         submit    : 'OK',
         indicator : 'Saving',
         tooltip   : 'dbClick to edit...',
         style : "inherit",
         height: 100,
		 event : "dblclick",         
     });
});
 
$('.phone').editable('/workticket/edit/', { 
    loadurl : '/phonestatus/view/',
    type   : 'select',
    submit : 'OK',
    submitdata : function() {
     	 	return {id_wp : $(this).attr('id_workticket')};
    },
    callback : function(value, settings) {
{% comment %}
    	switch(value) {
		case 'Прийнято':
        $(this).closest("tr").attr('class', 'w_true');
        break;
		case 'Ремонтується':
        $(this).closest("tr").attr('class', 'w_working');
		 break;
		case 'Виконано':
        $(this).closest("tr").attr('class', 'w_done_done');
		 break;
		case 'Виконано невидано':
        $(this).closest("tr").attr('class', 'w_done');
		 break;
		default :
        $(this).closest("tr").attr('class', 'w_true');
      }
{% endcomment %}    	
    }
}); 
 
});

</script>

{% load poll_extras %}

<br>
<h2 id="b_year">
    За рік: 
    {% for year in year_ticket %}
    {% if sel_year == year.0 and status == None %} 
    	<a class="badge badge-success select" href="/workticket/year/{{year.0}}/month/1/view">{{year.0}}
    	{% if request.user|has_group:"admin" %} 
    	<sup><span class="badge badge-light">{{year.1}}</span></sup>
    	{% endif %}
    	</a>
    {% else %}
    	<a class="badge badge-success" href="/workticket/year/{{year.0}}/month/1/view" data-count="{{year.1}}">{{year.0}}
    	{% if request.user|has_group:"admin" %} 
    	<sup><span class="badge badge-light">{{year.1}}</span></sup>
    	{% endif %}
    	</a>
    {% endif %} 
    {% endfor %}
<br>
	За місяць: 
	{% for i in "123456789012" %}
	{% ifequal forloop.counter sel_month %}
    <a href="/workticket/year/{{sel_year}}/month/{{forloop.counter}}/view" class="badge badge-success select">{{forloop.counter}}</a>
    {% else %}
    <a href="/workticket/year/{{sel_year}}/month/{{forloop.counter}}/view" class="badge badge-success">{{forloop.counter}}</a>
    {% endifequal %}
	{% endfor %}
	
	<a href="/workticket/all/view" class="badge badge-pill badge-light" title="Заявки за поточний рік">Всі</a>
	<a href="/workticket/status/1/view/" class="w_true badge badge-pill badge-success">Прийняті</a>
	<a href="/workticket/status/4/view/" class="badge badge-pill badge-secondary">Невидані</a>
	<a href="/workticket/status/2/view/" class="badge badge-pill badge-warning">Ремонтуються</a>
	<a href="/workticket/status/5/view/" class="badge badge-pill badge-danger">Без ремонта</a>
</h2>    


        <link rel="stylesheet" type="text/css" href="/media/table.css">

	<h1>Замовлення на ремонт

<a href="/workticket/add/" class="badge badge-pill badge-light">Створити заявку на ремонт</a>

	</h1>
    	
    <table id="iTable" class = "table table-bordered table-hover table-condensed" >
    <tr>
    	<th>№</th>
    	<th>ID</th>
    	<th>Клієнт</th>
    	<th>Дата створення</th>
{#    	<th data-toggle="tooltip" data-placement="right" title="Користувач">User</th> #}
    	<th>Дата завершення</th>
    	<th>Статус</th>
    	<th>Повідомлення</th>
    	<th>Дата повідомлення</th>
    	<th>Опис</th>
    	<th>Дія</th>
    </tr>
      
{% for type in workticket %}
{% ifequal type.status.id 1 %}
<tr class="w_true">
{% endifequal %}
{% ifequal type.status.id 2 %}
<tr class="w_working">
{% endifequal %}
{% ifequal type.status.id 3 %}
<tr class="w_done_done">
{% endifequal %}
{% ifequal type.status.id 4 %}
<tr class="w_done">
{% endifequal %}
{% ifequal type.status.id 5 %}
<tr class="w_false">
{% endifequal %}

	<td>
	{{forloop.counter}}
	</td>
	<td>       
	<a href="/workticket/edit/{{ type.id }}" title="Редагувати" data-toggle="tooltip" data-html="true" data-placement="right"> {{type.id}}</a>
	</td>
	<td>       
<!--	<a href="/workshop/done/client/{{ type.client.id }}/"> -->  
	<a href="/client/result/search/?id={{ type.client.id }}" title="{{type.client}}  {{type.client.phone|phone2Str}}" data-toggle="tooltip" data-html="true" data-placement="bottom" >
	{{type.client.name}} {% if type.client.forumname %} ({{type.client.forumname}}) {% endif %}   
	</a>
	</td>
	<td data-toggle="tooltip" data-html="true" data-placement="right" title="Створено користувачем <br> <b>{{type.user.username}}</b> ">       
	{{type.date|date}}
	</td>
{#	<td>	{{type.user.username}}	</td> #}
	<td >       
	{{type.end_date|date}}
	</td>	
	<td>
	<span class="editable" id="{{type.status.id}}" style="display: inline" id_workticket="{{type.id}}" >       
	{{type.status}}
	</span>
	</td>
	<td class="phone" id_workticket="{{type.id}}">       
	{{type.phone_status}}
	</td>
	{% if type.phone_user.username %}
		<td title={{type.phone_user.username}} align="center">
	{% else %}
		<td align="center">
	{% endif %}       
	{{type.phone_date|date:'d-m-Y H:i'}}
	</td>
	
	<td class="w_desc" id_workticket="{{type.id}}">       
	{{type.description}}
	</td>
	<td>
    <a href="/workticket/delete/{{ type.id }}" onclick="return confirm('Видалити запис?')"><i class="material-icons">delete_forever</i></a>
    </td>
</tr>
{% endfor %}       
   
	</table>

<br>




