<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{add_edit_text}} роботу: {{ form.name.value }}</title>

{% load poll_extras %}

<style>

</style>


<script type="text/javascript">
$(document).ready(function() {
	document.getElementById("id_name").className += " form-control";
	document.getElementById("id_price").className += " form-control";
	document.getElementById("id_work_group").className += " form-control";
	document.getElementById("id_description").className += " form-control";

	$('#some_django_form_id').find("input[type='text'], select, textarea").each(function(index, element) {
        $(element).addClass("form-control");
    });
	
});
<!--

//-->
</script>


    <h1><span class="badge badge-success">{{add_edit_text}} роботу</span> {% if form.name.value %} >>>  <span class="badge badge-secondary">{{ form.name.value }}</span> {% endif %}</h1>
    <form action="" method="POST" enctype="multipart/form-data" id="some_django_form_id">
    {% csrf_token %}
    <div class="form-group">
        {# <table> #}
            {# form.as_table #}
            {{ form.as_p }}
        {# </table> #}

        {# form.name.label #}
        {# form.name #}
        
        <button type="submit" class="btn btn-success btn-lg"><b>Зберегти</b></button>
    </div>
    </form>
    <br>


<h4><a href="{% url 'worktypelist'%}" class="badge badge-info">Список всіх робіт</a></h4>
<h4><a href="{% url 'workgrouplist'%}" class="badge badge-light">Групи робіт</a></h4>

	{% if request.user|has_group:"admin" %}
	{% if workID %}
	<h4><a href="{% url 'repot_by_work' workID.pk %}" class="badge badge-primary">Виконані роботи <button type="button" class="btn btn-dark">{{workID.work_count.work_count_sum}}</button></a></h4>
	{% endif %}
	{% endif %}



